Repository ni/nimble, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00, @msmithNI, @TrevorKarjanis

Change files
  change/@ni-nimble-components-55691b2f-2403-49ff-800c-a8090c194c39.json
Owners: none

More specific change comment
  change/@ni-nimble-components-55691b2f-2403-49ff-800c-a8090c194c39.json
Owners: none

updated spec
  packages/nimble-components/src/wafer-map/specs/README.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

format
  packages/nimble-components/src/table/specs/table-columns-hld.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Update packages/nimble-components/src/table/specs/table-columns-hld.md
  packages/nimble-components/src/table/specs/table-columns-hld.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Table works in Blazor. Needs tests.
  package-lock.json
  packages/nimble-blazor/Examples/Demo.Shared/Demo.Shared.csproj
  packages/nimble-blazor/Examples/Demo.Shared/Pages/ComponentsDemo.razor
  packages/nimble-blazor/Examples/Demo.Shared/Pages/ComponentsDemo.razor.cs
  packages/nimble-blazor/NimbleBlazor/Components/NimbleTable.razor
  packages/nimble-blazor/NimbleBlazor/Components/NimbleTable.razor.cs
  packages/nimble-blazor/NimbleBlazor/wwwroot/NimbleBlazor.lib.module.js
  packages/nimble-components/package.json
  packages/nimble-components/rollup.config.js
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00, @msmithNI

Added wafer map matrix tests
  packages/nimble-components/src/wafer-map/index.ts
  packages/nimble-components/src/wafer-map/modules/rendering.ts
  packages/nimble-components/src/wafer-map/tests/sets.ts
  packages/nimble-components/src/wafer-map/tests/wafer-map-matrix.stories.ts
  packages/nimble-components/src/wafer-map/tests/wafer-map.stories.ts
Owners: @rajsite, @jattasNI

Add refs to start and end
  packages/nimble-components/src/anchor/template.ts
Owners: @rajsite, @jattasNI

new wafer map tests
  packages/nimble-components/src/wafer-map/tests/wafer-map-matrix.stories.ts
Owners: @rajsite, @jattasNI

Use theory pattern for tests
  packages/nimble-components/src/anchor-button/tests/anchor-button.spec.ts
  packages/nimble-components/src/anchor/tests/anchor.spec.ts
Owners: @rajsite, @jattasNI

PR feedback
  packages/nimble-components/src/table/index.ts
  packages/nimble-components/src/table/tests/table-matrix.stories.ts
  packages/nimble-components/src/table/tests/table.pageobject.ts
  packages/nimble-components/src/table/tests/table.spec.ts
  packages/nimble-components/src/table/tests/table.stories.ts
  packages/nimble-components/src/table/tests/types.ts
  packages/nimble-components/src/table/types.ts
Owners: @rajsite, @jattasNI

Handling some PR feedback.
  packages/nimble-components/src/table/specs/table-columns-hld.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

format
  packages/nimble-components/src/table/tests/table.stories.ts
Owners: @rajsite, @jattasNI

Formatting.
  packages/nimble-components/src/table/specs/table-columns-hld.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Export FoundationAnchor for Angular support
  packages/nimble-components/src/anchor/index.ts
Owners: @rajsite, @jattasNI

Linting.
  packages/nimble-components/src/table/specs/table-columns-hld.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Handle PR feedback.
  packages/nimble-components/src/table/specs/table-columns-hld.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

run unit tests against production environment
  packages/nimble-components/karma.conf.js
Owners: @rajsite, @jattasNI

rename types
  packages/nimble-components/src/table/index.ts
  packages/nimble-components/src/table/tests/table.pageobject.ts
  packages/nimble-components/src/table/tests/table.spec.ts
  packages/nimble-components/src/table/tests/table.stories.ts
  packages/nimble-components/src/table/types.ts
Owners: @rajsite, @jattasNI

minor updates to data description in story
  packages/nimble-components/src/table/tests/table.stories.ts
Owners: @rajsite, @jattasNI

new terminology
  packages/nimble-components/src/table/specs/table-data-api.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Change files
  change/@ni-nimble-components-ee473a07-8adb-473e-9c32-2f2f92662da6.json
Owners: none

Basic TanStack integration with nimble-table (#902)
  change/@ni-nimble-components-3f7ecb49-f048-4611-ab15-b8aaea595681.json
  package-lock.json
  packages/nimble-components/karma.conf.js
  packages/nimble-components/package.json
  packages/nimble-components/src/table/index.ts
  packages/nimble-components/src/table/styles.ts
  packages/nimble-components/src/table/template.ts
  packages/nimble-components/src/table/tests/table-matrix.stories.ts
  packages/nimble-components/src/table/tests/table.pageobject.ts
  packages/nimble-components/src/table/tests/table.spec.ts
  packages/nimble-components/src/table/tests/table.stories.ts
  packages/nimble-components/src/table/tests/types.ts
  packages/nimble-components/src/table/types.ts
Owners: @rajsite, @jattasNI, @fredvisser

format
  packages/nimble-components/src/table/specs/table-data-api.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

applying package updates [skip ci]
  angular-workspace/projects/ni/nimble-angular/CHANGELOG.json
  angular-workspace/projects/ni/nimble-angular/CHANGELOG.md
  angular-workspace/projects/ni/nimble-angular/package.json
  change/@ni-nimble-components-3f7ecb49-f048-4611-ab15-b8aaea595681.json
  package-lock.json
  packages/nimble-blazor/package.json
  packages/nimble-components/CHANGELOG.json
  packages/nimble-components/CHANGELOG.md
  packages/nimble-components/package.json
Owners: @rajsite, @atmgrifter00, @jattasNI, @fredvisser, @msmithNI

Batch of feedback fixes
  packages/nimble-components/src/anchor-button/index.ts
  packages/nimble-components/src/anchor-button/tests/anchor-button.spec.ts
  packages/nimble-components/src/anchor/index.ts
  packages/nimble-components/src/anchor/template.ts
  packages/nimble-components/src/anchor/tests/anchor.spec.ts
  packages/nimble-components/src/anchor/tests/anchor.stories.ts
Owners: @rajsite, @jattasNI

changed colors scale mentions
  packages/nimble-components/src/wafer-map/index.ts
  packages/nimble-components/src/wafer-map/specs/README.md
  packages/nimble-components/src/wafer-map/tests/data-manager.spec.ts
  packages/nimble-components/src/wafer-map/tests/types.spec.ts
  packages/nimble-components/src/wafer-map/tests/utilities.ts
  packages/nimble-components/src/wafer-map/tests/wafer-map.stories.ts
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

changed color parser to fast-colors
  package-lock.json
  packages/nimble-components/package.json
  packages/nimble-components/src/wafer-map/modules/prerendering.ts
  packages/nimble-components/src/wafer-map/tests/prerendering.coloring.spec.ts
Owners: @rajsite, @jattasNI, @fredvisser

fixed failing tests
  packages/nimble-components/src/wafer-map/tests/data-manager.spec.ts
Owners: @rajsite, @jattasNI

changed tests descriptions and clarified naming
  packages/nimble-components/src/wafer-map/tests/data-manager.spec.ts
Owners: @rajsite, @jattasNI

Added code for generating random and pseudo-random data points for dies
  packages/nimble-components/src/wafer-map/tests/DataGenerator.ts
  packages/nimble-components/src/wafer-map/tests/ValueGenerator.ts
  packages/nimble-components/src/wafer-map/tests/wafer-map.stories.ts
Owners: @rajsite, @jattasNI

Removed unnecessary comments
  packages/nimble-components/src/wafer-map/tests/DataGenerator.ts
Owners: @rajsite, @jattasNI

Addressed linting issues
  packages/nimble-components/src/wafer-map/tests/DataGenerator.ts
  packages/nimble-components/src/wafer-map/tests/ValueGenerator.ts
Owners: @rajsite, @jattasNI

Addressed linting issues
  packages/nimble-components/src/wafer-map/tests/DataGenerator.ts
  packages/nimble-components/src/wafer-map/tests/ValueGenerator.ts
Owners: @rajsite, @jattasNI

Implemented theme recognition and matrix tests
  packages/nimble-components/src/wafer-map/modules/rendering.ts
  packages/nimble-components/src/wafer-map/styles.ts
  packages/nimble-components/src/wafer-map/template.ts
  packages/nimble-components/src/wafer-map/tests/wafer-map-matrix.stories.ts
Owners: @rajsite, @jattasNI

Shared styles adjustment
  packages/nimble-components/src/anchor/styles.ts
  packages/nimble-components/src/breadcrumb-item/styles.ts
  packages/nimble-components/src/patterns/link/styles.ts
Owners: @rajsite, @jattasNI

Fixed merge issues
  packages/nimble-components/src/wafer-map/index.ts
Owners: @rajsite, @jattasNI

Lint issues
  packages/nimble-components/src/anchor-button/tests/anchor-button.spec.ts
  packages/nimble-components/src/anchor/tests/anchor.spec.ts
  packages/nimble-components/src/breadcrumb-item/styles.ts
  packages/nimble-components/src/patterns/link/styles.ts
Owners: @rajsite, @jattasNI

Implemented rendering module
  packages/nimble-components/src/wafer-map/index.ts
  packages/nimble-components/src/wafer-map/modules/rendering.ts
  packages/nimble-components/src/wafer-map/styles.ts
  packages/nimble-components/src/wafer-map/template.ts
Owners: @rajsite, @jattasNI

Handling PR feedback.
  packages/nimble-components/src/table/specs/table-columns-hld.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

.github/CODEOWNERS:

# Copyright (c) 2021 National Instruments

# Each line is a file pattern followed by one or more owners.
# More info: https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners

# These owners will be the default owners for everything in the repo.
* @rajsite @jattasNI @fredvisser

# Owners of specific locations or file patterns in the repo. Locations are relative to the root of the repo.
# Order is important. The last matching pattern has the most precedence.

# Specific packages
/angular-workspace/projects/example-client-app @rajsite @atmgrifter00
/angular-workspace/projects/ni/nimble-angular @rajsite @atmgrifter00
/packages/nimble-blazor @atmgrifter00 @msmithNI
/packages/nimble-components @rajsite @jattasNI
/packages/nimble-tokens @rajsite @jattasNI @fredvisser
/packages/site @rajsite @jattasNI
/packages/xliff-to-json-converter @rajsite @TrevorKarjanis @jattasNI

# Specs (placed after packages to have higher precedence for spec files contained in packages)
specs @rajsite @jattasNI @fredvisser @atmgrifter00

# Change files don't need explicit reviewers
/change
