Repository ni/nimble, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rajsite, @jattasNI, @atmgrifter00, @msmithNI, @DStavilaNI, @munteannatan, @vivinkrishna-ni, @fredvisser, @TrevorKarjanis, @mollykreis

.github/CODEOWNERS:

# Copyright (c) 2021 National Instruments

# Each line is a file pattern followed by one or more owners.
# More info: https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners

# These owners will be the default owners for everything in the repo.
* @rajsite @jattasNI

# Owners of specific locations or file patterns in the repo. Locations are relative to the root of the repo.
# Order is important. The last matching pattern has the most precedence.

# Specific packages
/packages/angular-workspace/example-client-app @rajsite @atmgrifter00
/packages/angular-workspace/nimble-angular @rajsite @atmgrifter00
/packages/angular-workspace/spright-angular @rajsite @atmgrifter00
/packages/blazor-workspace @rajsite @atmgrifter00 @msmithNI
/packages/nimble-components @rajsite @jattasNI
/packages/nimble-components/build/generate-workers @rajsite @jattasNI @DStavilaNI @munteannatan
/packages/nimble-components/src/wafer-map @rajsite @jattasNI @DStavilaNI @munteannatan
/packages/nimble-components/src/rich-text @rajsite @jattasNI @vivinkrishna-ni
/packages/nimble-components/src/rich-text-mention @rajsite @jattasNI @vivinkrishna-ni
/packages/nimble-tokens @rajsite @jattasNI @fredvisser
/packages/site @rajsite @jattasNI
/packages/spright-components @rajsite @jattasNI
/packages/storybook/.storybook @rajsite @jattasNI @fredvisser
/packages/xliff-to-json-converter @rajsite @TrevorKarjanis @jattasNI

# Specs (placed after packages to have higher precedence for spec files contained in packages)
specs @rajsite @jattasNI @atmgrifter00 @mollykreis

# Change files don't need explicit reviewers
/change

Change files
  change/@ni-nimble-components-44ce4798-a75f-4385-8d32-f42a9a2eb2f6.json
  change/@ni-nimble-tokens-3b6c141b-004d-49d2-8c03-46493db15d13.json
Owners: none

update change files
  change/@ni-nimble-components-44ce4798-a75f-4385-8d32-f42a9a2eb2f6.json
  change/@ni-nimble-tokens-3b6c141b-004d-49d2-8c03-46493db15d13.json
Owners: none

remove styles from icons
  packages/nimble-tokens/dist/icons/svg/calendar-circle-arrow_16x16.svg
  packages/nimble-tokens/dist/icons/svg/circle-arrow-dot_16x16.svg
  packages/nimble-tokens/dist/icons/svg/dock-window_16x16.svg
  packages/nimble-tokens/dist/icons/svg/page-list-cog_16x16.svg
  packages/nimble-tokens/dist/icons/svg/two-chat-sparkle_16x16.svg
  packages/nimble-tokens/dist/icons/svg/undock-window_16x16.svg
Owners: @rajsite, @jattasNI, @fredvisser

update icon names
  packages/nimble-components/src/icon-base/tests/icon-metadata.ts
  packages/nimble-tokens/dist/icons/svg/arrows-rotate-reverse-dot_16x16.svg
  packages/nimble-tokens/dist/icons/svg/calendar-arrows-rotate-reverse-dot_16x16.svg
  packages/nimble-tokens/dist/icons/svg/messages-sparkle_16x16.svg
  packages/nimble-tokens/dist/icons/svg/square-list-cog_16x16.svg
  packages/nimble-tokens/dist/icons/svg/window-dock_16x16.svg
  packages/nimble-tokens/dist/icons/svg/window-restore_16x16.svg
Owners: @rajsite, @jattasNI, @fredvisser

Initial commit
  packages/spright-components/src/chat/specs/README.md
Owners: @rajsite, @jattasNI, @atmgrifter00, @mollykreis

Duplicate "comment"-related icons with "message" naming
  packages/nimble-components/src/icon-base/tests/icon-metadata.ts
  packages/nimble-tokens/dist/icons/svg/bell-and-message_16x16.svg
  packages/nimble-tokens/dist/icons/svg/message_16x16.svg
Owners: @rajsite, @jattasNI, @fredvisser

Update nimble-number-field to support frameless and full-bleed styling (#2606)
  change/@ni-nimble-components-66b0fc49-9117-4442-8063-c9c8baf59521.json
  packages/nimble-components/src/number-field/index.ts
  packages/nimble-components/src/number-field/styles.ts
  packages/nimble-components/src/number-field/types.ts
  packages/storybook/src/nimble/number-field/number-field-matrix.stories.ts
  packages/storybook/src/nimble/number-field/number-field.stories.ts
  packages/storybook/src/nimble/text-field/text-field-matrix.stories.ts
  packages/storybook/src/nimble/text-field/text-field.stories.ts
  packages/storybook/src/utilities/states.ts
  packages/storybook/src/utilities/storybook.ts
Owners: @rajsite, @jattasNI

draft changes
  packages/spright-components/src/chat/specs/README.md
  packages/spright-components/src/chat/specs/spec-images/chat-input.png
Owners: @rajsite, @jattasNI, @atmgrifter00, @mollykreis

Format
  packages/spright-components/src/chat/specs/README.md
Owners: @rajsite, @jattasNI, @atmgrifter00, @mollykreis

applying package updates [skip ci]
  change/@ni-nimble-components-66b0fc49-9117-4442-8063-c9c8baf59521.json
  package-lock.json
  packages/angular-workspace/nimble-angular/CHANGELOG.json
  packages/angular-workspace/nimble-angular/CHANGELOG.md
  packages/angular-workspace/nimble-angular/package.json
  packages/angular-workspace/spright-angular/CHANGELOG.json
  packages/angular-workspace/spright-angular/CHANGELOG.md
  packages/angular-workspace/spright-angular/package.json
  packages/blazor-workspace/NimbleBlazor/CHANGELOG.json
  packages/blazor-workspace/NimbleBlazor/CHANGELOG.md
  packages/blazor-workspace/NimbleBlazor/package.json
  packages/blazor-workspace/SprightBlazor/CHANGELOG.json
  packages/blazor-workspace/SprightBlazor/CHANGELOG.md
  packages/blazor-workspace/SprightBlazor/package.json
  packages/nimble-components/CHANGELOG.json
  packages/nimble-components/CHANGELOG.md
  packages/nimble-components/package.json
  packages/spright-components/CHANGELOG.json
  packages/spright-components/CHANGELOG.md
  packages/spright-components/package.json
Owners: @rajsite, @jattasNI, @atmgrifter00, @msmithNI

More content
  packages/spright-components/src/chat/specs/README.md
Owners: @rajsite, @jattasNI, @atmgrifter00, @mollykreis

Format
  packages/spright-components/src/chat/specs/README.md
Owners: @rajsite, @jattasNI, @atmgrifter00, @mollykreis

Apply suggestions from code review
  change/@ni-nimble-components-44ce4798-a75f-4385-8d32-f42a9a2eb2f6.json
  change/@ni-nimble-tokens-3b6c141b-004d-49d2-8c03-46493db15d13.json
  packages/nimble-components/src/icon-base/tests/icon-metadata.ts
Owners: @rajsite, @jattasNI

Update change/@ni-nimble-components-44ce4798-a75f-4385-8d32-f42a9a2eb2f6.json
  change/@ni-nimble-components-44ce4798-a75f-4385-8d32-f42a9a2eb2f6.json
Owners: none

Update packages/nimble-components/src/icon-base/tests/icon-metadata.ts
  packages/nimble-components/src/icon-base/tests/icon-metadata.ts
Owners: @rajsite, @jattasNI

Add appearance-readonly to nimble-select and nimble-combobox (#2602)
  change/@ni-nimble-components-6d5224ae-9cd5-4a8d-8bc9-18f667db282b.json
  packages/nimble-components/src/combobox/index.ts
  packages/nimble-components/src/combobox/styles.ts
  packages/nimble-components/src/patterns/dropdown/styles.ts
  packages/nimble-components/src/select/index.ts
  packages/nimble-components/src/select/styles.ts
  packages/storybook/src/nimble/combobox/combobox-matrix.stories.ts
  packages/storybook/src/nimble/combobox/combobox.stories.ts
  packages/storybook/src/nimble/select/select-matrix.stories.ts
  packages/storybook/src/nimble/select/select.stories.ts
  packages/storybook/src/utilities/states.ts
Owners: @rajsite, @jattasNI

applying package updates [skip ci]
  change/@ni-nimble-components-6d5224ae-9cd5-4a8d-8bc9-18f667db282b.json
  package-lock.json
  packages/angular-workspace/nimble-angular/CHANGELOG.json
  packages/angular-workspace/nimble-angular/CHANGELOG.md
  packages/angular-workspace/nimble-angular/package.json
  packages/angular-workspace/spright-angular/CHANGELOG.json
  packages/angular-workspace/spright-angular/CHANGELOG.md
  packages/angular-workspace/spright-angular/package.json
  packages/blazor-workspace/NimbleBlazor/CHANGELOG.json
  packages/blazor-workspace/NimbleBlazor/CHANGELOG.md
  packages/blazor-workspace/NimbleBlazor/package.json
  packages/blazor-workspace/SprightBlazor/CHANGELOG.json
  packages/blazor-workspace/SprightBlazor/CHANGELOG.md
  packages/blazor-workspace/SprightBlazor/package.json
  packages/nimble-components/CHANGELOG.json
  packages/nimble-components/CHANGELOG.md
  packages/nimble-components/package.json
  packages/spright-components/CHANGELOG.json
  packages/spright-components/CHANGELOG.md
  packages/spright-components/package.json
Owners: @rajsite, @jattasNI, @atmgrifter00, @msmithNI

lint
  packages/nimble-components/src/icon-base/tests/icon-metadata.ts
Owners: @rajsite, @jattasNI

Change files
  change/@ni-spright-components-00587a54-9ea4-4cd2-9b0d-5c4c377a11ed.json
Owners: none

revert formatting
  packages/spright-components/src/chat/specs/README.md
Owners: @rajsite, @jattasNI, @atmgrifter00, @mollykreis

prettier ignore
  packages/spright-components/src/chat/specs/README.md
Owners: @rajsite, @jattasNI, @atmgrifter00, @mollykreis

Add icons for automate, dock, chat and spec (#2609)
  change/@ni-nimble-components-44ce4798-a75f-4385-8d32-f42a9a2eb2f6.json
  change/@ni-nimble-tokens-3b6c141b-004d-49d2-8c03-46493db15d13.json
  packages/nimble-components/src/icon-base/tests/icon-metadata.ts
  packages/nimble-tokens/dist/icons/svg/arrows-rotate-reverse-dot_16x16.svg
  packages/nimble-tokens/dist/icons/svg/bell-and-message_16x16.svg
  packages/nimble-tokens/dist/icons/svg/calendar-arrows-rotate-reverse-dot_16x16.svg
  packages/nimble-tokens/dist/icons/svg/message_16x16.svg
  packages/nimble-tokens/dist/icons/svg/messages-sparkle_16x16.svg
  packages/nimble-tokens/dist/icons/svg/square-list-cog_16x16.svg
  packages/nimble-tokens/dist/icons/svg/window-dock_16x16.svg
  packages/nimble-tokens/dist/icons/svg/window-restore_16x16.svg
Owners: @rajsite, @jattasNI, @fredvisser

applying package updates [skip ci]
  change/@ni-nimble-components-44ce4798-a75f-4385-8d32-f42a9a2eb2f6.json
  change/@ni-nimble-tokens-3b6c141b-004d-49d2-8c03-46493db15d13.json
  package-lock.json
  packages/angular-workspace/nimble-angular/CHANGELOG.json
  packages/angular-workspace/nimble-angular/CHANGELOG.md
  packages/angular-workspace/nimble-angular/package.json
  packages/angular-workspace/spright-angular/CHANGELOG.json
  packages/angular-workspace/spright-angular/CHANGELOG.md
  packages/angular-workspace/spright-angular/package.json
  packages/blazor-workspace/NimbleBlazor/CHANGELOG.json
  packages/blazor-workspace/NimbleBlazor/CHANGELOG.md
  packages/blazor-workspace/NimbleBlazor/package.json
  packages/blazor-workspace/SprightBlazor/CHANGELOG.json
  packages/blazor-workspace/SprightBlazor/CHANGELOG.md
  packages/blazor-workspace/SprightBlazor/package.json
  packages/nimble-components/CHANGELOG.json
  packages/nimble-components/CHANGELOG.md
  packages/nimble-components/package.json
  packages/nimble-tokens/CHANGELOG.json
  packages/nimble-tokens/CHANGELOG.md
  packages/nimble-tokens/package.json
  packages/spright-components/CHANGELOG.json
  packages/spright-components/CHANGELOG.md
  packages/spright-components/package.json
Owners: @rajsite, @jattasNI, @atmgrifter00, @msmithNI, @fredvisser

Minor updates
  packages/spright-components/src/chat/specs/README.md
Owners: @rajsite, @jattasNI, @atmgrifter00, @mollykreis

prettier
  packages/spright-components/src/chat/specs/README.md
Owners: @rajsite, @jattasNI, @atmgrifter00, @mollykreis

implementation
  packages/nimble-components/src/combobox/index.ts
  packages/nimble-components/src/patterns/dropdown/styles.ts
  packages/nimble-components/src/patterns/dropdown/types.ts
  packages/nimble-components/src/select/index.ts
  packages/storybook/src/nimble/combobox/combobox.stories.ts
  packages/storybook/src/nimble/select/select.stories.ts
Owners: @rajsite, @jattasNI

Change files
  change/@ni-nimble-components-b44508aa-2a65-4419-8047-367e63603ea2.json
Owners: none

update matrix tests
  packages/storybook/src/nimble/combobox/combobox-matrix.stories.ts
  packages/storybook/src/nimble/select/select-matrix.stories.ts
Owners: @rajsite, @jattasNI

Clarify Stop button use case
  packages/spright-components/src/chat/specs/README.md
Owners: @rajsite, @jattasNI, @atmgrifter00, @mollykreis

Make combobox and select use AR's dynamic vertical positioning
  packages/nimble-components/src/anchored-region/index.ts
  packages/nimble-components/src/combobox/index.ts
  packages/nimble-components/src/combobox/template.ts
  packages/nimble-components/src/patterns/dropdown/styles.ts
  packages/nimble-components/src/patterns/dropdown/utility.ts
  packages/nimble-components/src/rich-text/mention-listbox/index.ts
  packages/nimble-components/src/rich-text/mention-listbox/template.ts
  packages/nimble-components/src/select/index.ts
  packages/nimble-components/src/select/template.ts
Owners: @rajsite, @jattasNI, @vivinkrishna-ni

Update stories and add visual test cases
  packages/storybook/src/nimble/combobox/combobox-opened-position.stories.ts
  packages/storybook/src/nimble/combobox/combobox.stories.ts
  packages/storybook/src/nimble/rich-text/mention-listbox/mention-listbox-position.stories.ts
  packages/storybook/src/nimble/select/select-opened-position.stories.ts
  packages/storybook/src/nimble/select/select.stories.ts
  packages/storybook/src/utilities/storybook.ts
Owners: @rajsite, @jattasNI

Update change file comment
  change/@ni-nimble-components-f4992b1c-b7f0-46e1-a684-b5afff8683f6.json
Owners: none

fix matrix stories
  packages/storybook/src/nimble/combobox/combobox-matrix.stories.ts
  packages/storybook/src/nimble/select/select-matrix.stories.ts
Owners: @rajsite, @jattasNI

format
  packages/storybook/src/nimble/combobox/combobox-matrix.stories.ts
Owners: @rajsite, @jattasNI

Let's go! 🚀
  package-lock.json
  package.json
  packages/jasmine-parameterized/package.json
  packages/nimble-components/package.json
  packages/nimble-tokens/package.json
  packages/performance/package.json
  packages/site/package.json
  packages/spright-components/package.json
  packages/storybook/package.json
  packages/xliff-to-json-converter/package.json
Owners: @rajsite, @jattasNI, @fredvisser, @TrevorKarjanis

Try again!
  packages/jasmine-parameterized/package.json
Owners: @rajsite, @jattasNI

use standard padding
  packages/storybook/src/nimble/select/select-matrix.stories.ts
Owners: @rajsite, @jattasNI

Update select and combobox to support frameless and full-bleed styling (#2613)
  change/@ni-nimble-components-b44508aa-2a65-4419-8047-367e63603ea2.json
  packages/nimble-components/src/combobox/index.ts
  packages/nimble-components/src/patterns/dropdown/styles.ts
  packages/nimble-components/src/patterns/dropdown/types.ts
  packages/nimble-components/src/select/index.ts
  packages/storybook/src/nimble/combobox/combobox-matrix.stories.ts
  packages/storybook/src/nimble/combobox/combobox.stories.ts
  packages/storybook/src/nimble/select/select-matrix.stories.ts
  packages/storybook/src/nimble/select/select.stories.ts
Owners: @rajsite, @jattasNI

Rename submit -> send
  packages/spright-components/src/chat/input/index.ts
  packages/spright-components/src/chat/input/types.ts
  packages/storybook/src/spright/chat/conversation/chat-conversation.stories.ts
Owners: @rajsite, @jattasNI

Slot input into conversation
  packages/spright-components/src/chat/conversation/styles.ts
  packages/spright-components/src/chat/conversation/template.ts
  packages/storybook/src/spright/chat/conversation/chat-conversation.stories.ts
Owners: @rajsite, @jattasNI
