Repository ni/nimble, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rajsite, @jattasNI, @atmgrifter00, @msmithNI, @DStavilaNI, @munteannatan, @vivinkrishna-ni, @fredvisser, @TrevorKarjanis, @mollykreis

lint
  packages/storybook/src/nimble/combobox/combobox-opened-matrix.stories.ts
  packages/storybook/src/nimble/patterns/required-visible/required-visible.stories.ts
  packages/storybook/src/nimble/table-column/base/table-column-stories-utils.ts
  packages/storybook/src/spright/chat/conversation/chat-conversation-matrix.stories.ts
  packages/storybook/src/spright/chat/conversation/chat-conversation.stories.ts
  packages/storybook/src/spright/chat/message/chat-message.stories.ts
Owners: @rajsite, @jattasNI

applying package updates [skip ci]
  change/@ni-nimble-components-b44508aa-2a65-4419-8047-367e63603ea2.json
  package-lock.json
  packages/angular-workspace/nimble-angular/CHANGELOG.json
  packages/angular-workspace/nimble-angular/CHANGELOG.md
  packages/angular-workspace/nimble-angular/package.json
  packages/angular-workspace/spright-angular/CHANGELOG.json
  packages/angular-workspace/spright-angular/CHANGELOG.md
  packages/angular-workspace/spright-angular/package.json
  packages/blazor-workspace/NimbleBlazor/CHANGELOG.json
  packages/blazor-workspace/NimbleBlazor/CHANGELOG.md
  packages/blazor-workspace/NimbleBlazor/package.json
  packages/blazor-workspace/SprightBlazor/CHANGELOG.json
  packages/blazor-workspace/SprightBlazor/CHANGELOG.md
  packages/blazor-workspace/SprightBlazor/package.json
  packages/nimble-components/CHANGELOG.json
  packages/nimble-components/CHANGELOG.md
  packages/nimble-components/package.json
  packages/spright-components/CHANGELOG.json
  packages/spright-components/CHANGELOG.md
  packages/spright-components/package.json
Owners: @rajsite, @jattasNI, @atmgrifter00, @msmithNI

Test Turbosnap change detection
  change/@ni-nimble-components-adb9babb-a793-47f8-a4bd-2fd6bc4f0648.json
  change/@ni-spright-components-9afcb04e-510f-46c8-b09a-8193bad7d2e5.json
  packages/nimble-components/src/table/models/array-to-tree.ts
  packages/spright-components/src/rectangle/styles.ts
Owners: @rajsite, @jattasNI

Revert "Test Turbosnap change detection"
  change/@ni-nimble-components-adb9babb-a793-47f8-a4bd-2fd6bc4f0648.json
  change/@ni-spright-components-9afcb04e-510f-46c8-b09a-8193bad7d2e5.json
  packages/nimble-components/src/table/models/array-to-tree.ts
  packages/spright-components/src/rectangle/styles.ts
Owners: @rajsite, @jattasNI

Create .git-blame-ignore-revs
  .git-blame-ignore-revs
Owners: @rajsite, @jattasNI

Delete .git-blame-ignore-revs
  .git-blame-ignore-revs
Owners: @rajsite, @jattasNI

lint
  packages/storybook/tsconfig.json
Owners: @rajsite, @jattasNI

Add spright-react
  package-lock.json
  packages/spright-react/.eslintrc.cjs
  packages/spright-react/.npmignore
  packages/spright-react/package.json
  packages/spright-react/src/chat/conversation/index.ts
  packages/spright-react/src/chat/message/index.ts
  packages/spright-react/src/rectangle/index.ts
  packages/spright-react/src/utilities/react-wrapper/index.ts
  packages/spright-react/tsconfig.json
  packages/storybook/package.json
Owners: @rajsite, @jattasNI

Update fast-react and supported range
  package-lock.json
  packages/nimble-react/package.json
  packages/spright-react/package.json
Owners: @rajsite, @jattasNI

Remove unused react wrapper
  packages/storybook/src/utilities/react-wrapper.ts
Owners: @rajsite, @jattasNI

remove unneeded jsx config outside storybook
  packages/nimble-components/tsconfig.json
  packages/nimble-react/tsconfig.json
  packages/spright-components/tsconfig.json
  packages/spright-react/tsconfig.json
Owners: @rajsite, @jattasNI

Add storybook workaround docs
  packages/storybook/tsconfig.json
Owners: @rajsite, @jattasNI

Stage for publish
  packages/nimble-react/package.json
  packages/spright-react/package.json
Owners: @rajsite, @jattasNI

Change files
  change/@ni-nimble-components-c96abf10-144c-4fe1-a741-96613b2f7d7f.json
  change/@ni-nimble-react-6fd8ea2b-04fb-46c6-bdfe-63c69ab3c5cf.json
  change/@ni-spright-components-1c6b3393-bf6c-45d5-ae1d-a14eea298bbc.json
  change/@ni-spright-react-a92f2e13-b3cd-4e20-a06f-f2679dd9c98c.json
Owners: none

README for alpha
  packages/nimble-react/README.md
  packages/spright-react/README.md
Owners: @rajsite, @jattasNI

Add react-client-app
  package-lock.json
  package.json
  packages/react-workspace/react-client-app/.eslintrc.cjs
  packages/react-workspace/react-client-app/.gitignore
  packages/react-workspace/react-client-app/index.html
  packages/react-workspace/react-client-app/package.json
  packages/react-workspace/react-client-app/public/favicon.ico
  packages/react-workspace/react-client-app/src/App.css
  packages/react-workspace/react-client-app/src/App.tsx
  packages/react-workspace/react-client-app/src/index.css
  packages/react-workspace/react-client-app/src/main.tsx
  packages/react-workspace/react-client-app/src/vite-env.d.ts
  packages/react-workspace/react-client-app/tsconfig.app.json
  packages/react-workspace/react-client-app/tsconfig.json
  packages/react-workspace/react-client-app/tsconfig.node.json
  packages/react-workspace/react-client-app/vite.config.ts
  packages/site/.eleventy.js
  packages/storybook/src/docs/nimble-intro.mdx
Owners: @rajsite, @jattasNI

Backout unnecessary component change
  change/@ni-nimble-components-c96abf10-144c-4fe1-a741-96613b2f7d7f.json
  change/@ni-spright-components-1c6b3393-bf6c-45d5-ae1d-a14eea298bbc.json
  packages/nimble-components/tsconfig.json
  packages/spright-components/tsconfig.json
Owners: @rajsite, @jattasNI

Fix sb react client app link
  packages/storybook/src/docs/nimble-intro.mdx
Owners: @rajsite, @jattasNI

Add scope to react client app pkg
  package-lock.json
  packages/react-workspace/react-client-app/package.json
Owners: @rajsite, @jattasNI

POC react component in sample app
  package-lock.json
  packages/react-workspace/nimble-react/styles/fonts.scss
  packages/react-workspace/nimble-react/styles/tokens.scss
  packages/react-workspace/react-client-app/index.html
  packages/react-workspace/react-client-app/package.json
  packages/react-workspace/react-client-app/src/App.css
  packages/react-workspace/react-client-app/src/App.tsx
  packages/react-workspace/react-client-app/src/components/App.scss
  packages/react-workspace/react-client-app/src/components/App.tsx
  packages/react-workspace/react-client-app/src/index.css
  packages/react-workspace/react-client-app/src/index.scss
  packages/react-workspace/react-client-app/src/index.tsx
Owners: @rajsite, @jattasNI

Port example client app w/o behavior
  packages/react-workspace/nimble-react/src/drawer/index.ts
  packages/react-workspace/nimble-react/src/mapping/user/index.ts
  packages/react-workspace/nimble-react/src/rich-text-mention/users/index.ts
  packages/react-workspace/react-client-app/src/components/App.scss
  packages/react-workspace/react-client-app/src/components/App.tsx
Owners: @rajsite, @jattasNI

Define events based on sb actions
  packages/react-workspace/nimble-react/src/banner/index.ts
  packages/react-workspace/nimble-react/src/checkbox/index.ts
  packages/react-workspace/nimble-react/src/combobox/index.ts
  packages/react-workspace/nimble-react/src/menu-button/index.ts
  packages/react-workspace/nimble-react/src/menu/index.ts
  packages/react-workspace/nimble-react/src/number-field/index.ts
  packages/react-workspace/nimble-react/src/radio-group/index.ts
  packages/react-workspace/nimble-react/src/rich-text/editor/index.ts
  packages/react-workspace/nimble-react/src/select/index.ts
  packages/react-workspace/nimble-react/src/switch/index.ts
  packages/react-workspace/nimble-react/src/table-column/menu-button/index.ts
  packages/react-workspace/nimble-react/src/table/index.ts
  packages/react-workspace/nimble-react/src/tabs/index.ts
  packages/react-workspace/nimble-react/src/text-area/index.ts
  packages/react-workspace/nimble-react/src/text-field/index.ts
  packages/react-workspace/nimble-react/src/toggle-button/index.ts
  packages/react-workspace/nimble-react/src/tooltip/index.ts
  packages/react-workspace/nimble-react/src/tree-view/index.ts
  packages/react-workspace/nimble-react/src/wafer-map/index.ts
Owners: @rajsite, @jattasNI

Start event pattern
  packages/react-workspace/nimble-react/package.json
  packages/react-workspace/nimble-react/src/banner/index.ts
  packages/react-workspace/nimble-react/src/checkbox/index.ts
  packages/react-workspace/react-client-app/src/components/App.tsx
Owners: @rajsite, @jattasNI

Add React event helpers
  packages/react-workspace/nimble-react/src/banner/index.ts
  packages/react-workspace/nimble-react/src/checkbox/index.ts
  packages/react-workspace/nimble-react/src/combobox/index.ts
  packages/react-workspace/nimble-react/src/menu-button/index.ts
  packages/react-workspace/nimble-react/src/menu-item/index.ts
  packages/react-workspace/nimble-react/src/menu/index.ts
  packages/react-workspace/nimble-react/src/number-field/index.ts
  packages/react-workspace/nimble-react/src/radio-group/index.ts
  packages/react-workspace/nimble-react/src/rich-text-mention/users/index.ts
  packages/react-workspace/nimble-react/src/rich-text/editor/index.ts
  packages/react-workspace/nimble-react/src/select/index.ts
  packages/react-workspace/nimble-react/src/switch/index.ts
  packages/react-workspace/nimble-react/src/table-column/menu-button/index.ts
  packages/react-workspace/nimble-react/src/table/index.ts
  packages/react-workspace/nimble-react/src/tabs/index.ts
  packages/react-workspace/nimble-react/src/text-area/index.ts
  packages/react-workspace/nimble-react/src/text-field/index.ts
  packages/react-workspace/nimble-react/src/toggle-button/index.ts
  packages/react-workspace/nimble-react/src/tooltip/index.ts
  packages/react-workspace/nimble-react/src/tree-item/index.ts
  packages/react-workspace/nimble-react/src/tree-view/index.ts
  packages/react-workspace/nimble-react/src/wafer-map/index.ts
  packages/storybook/src/nimble/menu-button/menu-button.stories.ts
  packages/storybook/src/nimble/menu/menu.stories.ts
  packages/storybook/src/nimble/rich-text/editor/rich-text-editor.stories.ts
  packages/storybook/src/nimble/text-area/text-area.stories.ts
  packages/storybook/src/nimble/tree-view/tree-view.stories.ts
Owners: @rajsite, @jattasNI

lint
  packages/storybook/src/nimble/menu/menu.stories.ts
  packages/storybook/src/nimble/tree-view/tree-view.stories.ts
  packages/storybook/tsconfig.json
Owners: @rajsite, @jattasNI

Input slot for conversation
  packages/spright-components/src/chat/specs/README.md
Owners: @rajsite, @jattasNI, @atmgrifter00, @mollykreis

Wrapper divs around conversation slots
  packages/spright-components/src/chat/specs/README.md
Owners: @rajsite, @jattasNI, @atmgrifter00, @mollykreis

Document input slot of conversation
  packages/storybook/src/spright/chat/conversation/chat-conversation.mdx
  packages/storybook/src/spright/chat/conversation/chat-conversation.stories.ts
Owners: @rajsite, @jattasNI

input story
  packages/storybook/src/spright/chat/conversation/chat-conversation.mdx
  packages/storybook/src/spright/chat/input/chat-input.stories.ts
Owners: @rajsite, @jattasNI

placeholder attribute and docs
  packages/spright-components/src/chat/input/index.ts
  packages/spright-components/src/chat/input/template.ts
  packages/storybook/src/spright/chat/conversation/chat-conversation.stories.ts
  packages/storybook/src/spright/chat/input/chat-input.stories.ts
Owners: @rajsite, @jattasNI

sendButtonLabel, still being displayed
  packages/spright-components/src/chat/input/index.ts
  packages/spright-components/src/chat/input/template.ts
  packages/storybook/src/spright/chat/input/chat-input.stories.ts
Owners: @rajsite, @jattasNI

Directive updates
  packages/angular-workspace/nimble-angular/src/directives/combobox/nimble-combobox.directive.ts
  packages/angular-workspace/nimble-angular/src/directives/number-field/nimble-number-field.directive.ts
  packages/angular-workspace/nimble-angular/src/directives/select/nimble-select.directive.ts
  packages/angular-workspace/nimble-angular/src/directives/text-area/nimble-text-area.directive.ts
  packages/angular-workspace/nimble-angular/src/directives/text-field/nimble-text-field.directive.ts
Owners: @rajsite, @atmgrifter00

tests
  packages/angular-workspace/nimble-angular/src/directives/combobox/tests/nimble-combobox.directive.spec.ts
  packages/angular-workspace/nimble-angular/src/directives/number-field/tests/nimble-number-field.directive.spec.ts
  packages/angular-workspace/nimble-angular/src/directives/select/tests/nimble-select.directive.spec.ts
  packages/angular-workspace/nimble-angular/src/directives/text-area/tests/nimble-text-area.directive.spec.ts
  packages/angular-workspace/nimble-angular/src/directives/text-field/tests/nimble-text-field.directive.spec.ts
Owners: @rajsite, @atmgrifter00

Change files
  change/@ni-nimble-angular-45633d04-389a-4878-adaf-8ca5ec374142.json
Owners: none

Update comment message
  packages/react-workspace/react-client-app/src/components/App.tsx
Owners: @rajsite, @jattasNI

Export element type in icons
  packages/react-workspace/nimble-react/build/generate-icons/source/index.js
Owners: @rajsite, @jattasNI

applying package updates [skip ci]
  change/@ni-nimble-react-6fd8ea2b-04fb-46c6-bdfe-63c69ab3c5cf.json
  change/@ni-spright-react-a92f2e13-b3cd-4e20-a06f-f2679dd9c98c.json
  package-lock.json
  packages/react-workspace/nimble-react/CHANGELOG.json
  packages/react-workspace/nimble-react/CHANGELOG.md
  packages/react-workspace/nimble-react/package.json
  packages/react-workspace/react-client-app/package.json
  packages/react-workspace/spright-react/CHANGELOG.json
  packages/react-workspace/spright-react/CHANGELOG.md
  packages/react-workspace/spright-react/package.json
Owners: @rajsite, @jattasNI

Update Angular directives with appearance-readonly and full-bleed (#2618)
  change/@ni-nimble-angular-45633d04-389a-4878-adaf-8ca5ec374142.json
  packages/angular-workspace/nimble-angular/src/directives/combobox/nimble-combobox.directive.ts
  packages/angular-workspace/nimble-angular/src/directives/combobox/tests/nimble-combobox.directive.spec.ts
  packages/angular-workspace/nimble-angular/src/directives/number-field/nimble-number-field.directive.ts
  packages/angular-workspace/nimble-angular/src/directives/number-field/tests/nimble-number-field.directive.spec.ts
  packages/angular-workspace/nimble-angular/src/directives/select/nimble-select.directive.ts
  packages/angular-workspace/nimble-angular/src/directives/select/tests/nimble-select.directive.spec.ts
  packages/angular-workspace/nimble-angular/src/directives/text-area/nimble-text-area.directive.ts
  packages/angular-workspace/nimble-angular/src/directives/text-area/tests/nimble-text-area.directive.spec.ts
  packages/angular-workspace/nimble-angular/src/directives/text-field/nimble-text-field.directive.ts
  packages/angular-workspace/nimble-angular/src/directives/text-field/tests/nimble-text-field.directive.spec.ts
Owners: @rajsite, @atmgrifter00

applying package updates [skip ci]
  change/@ni-nimble-angular-45633d04-389a-4878-adaf-8ca5ec374142.json
  package-lock.json
  packages/angular-workspace/nimble-angular/CHANGELOG.json
  packages/angular-workspace/nimble-angular/CHANGELOG.md
  packages/angular-workspace/nimble-angular/package.json
Owners: @rajsite, @jattasNI, @atmgrifter00

start changes for nimble table
  packages/react-workspace/nimble-react/src/table/index.ts
  packages/react-workspace/react-client-app/src/components/App.tsx
Owners: @rajsite, @jattasNI

.github/CODEOWNERS:

# Copyright (c) 2021 National Instruments

# Each line is a file pattern followed by one or more owners.
# More info: https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners

# These owners will be the default owners for everything in the repo.
* @rajsite @jattasNI

# Owners of specific locations or file patterns in the repo. Locations are relative to the root of the repo.
# Order is important. The last matching pattern has the most precedence.

# Specific packages
/packages/angular-workspace/example-client-app @rajsite @atmgrifter00
/packages/angular-workspace/nimble-angular @rajsite @atmgrifter00
/packages/angular-workspace/spright-angular @rajsite @atmgrifter00
/packages/blazor-workspace @rajsite @atmgrifter00 @msmithNI
/packages/nimble-components @rajsite @jattasNI
/packages/nimble-components/build/generate-workers @rajsite @jattasNI @DStavilaNI @munteannatan
/packages/nimble-components/src/wafer-map @rajsite @jattasNI @DStavilaNI @munteannatan
/packages/nimble-components/src/rich-text @rajsite @jattasNI @vivinkrishna-ni
/packages/nimble-components/src/rich-text-mention @rajsite @jattasNI @vivinkrishna-ni
/packages/nimble-tokens @rajsite @jattasNI @fredvisser
/packages/site @rajsite @jattasNI
/packages/spright-components @rajsite @jattasNI
/packages/storybook/.storybook @rajsite @jattasNI @fredvisser
/packages/xliff-to-json-converter @rajsite @TrevorKarjanis @jattasNI

# Specs (placed after packages to have higher precedence for spec files contained in packages)
specs @rajsite @jattasNI @atmgrifter00 @mollykreis

# Change files don't need explicit reviewers
/change
