Repository ni/nimble, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00, @msmithNI, @TrevorKarjanis

.github/CODEOWNERS:

# Copyright (c) 2021 National Instruments

# Each line is a file pattern followed by one or more owners.
# More info: https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners

# These owners will be the default owners for everything in the repo.
* @rajsite @jattasNI @fredvisser

# Owners of specific locations or file patterns in the repo. Locations are relative to the root of the repo.
# Order is important. The last matching pattern has the most precedence.

# Specific packages
/angular-workspace/projects/example-client-app @rajsite @atmgrifter00
/angular-workspace/projects/ni/nimble-angular @rajsite @atmgrifter00
/packages/nimble-blazor @atmgrifter00 @msmithNI
/packages/nimble-components @rajsite @jattasNI
/packages/nimble-tokens @rajsite @jattasNI @fredvisser
/packages/site @rajsite @jattasNI
/packages/xliff-to-json-converter @rajsite @TrevorKarjanis @jattasNI

# Specs (placed after packages to have higher precedence for spec files contained in packages)
specs @rajsite @jattasNI @fredvisser @atmgrifter00

# Change files don't need explicit reviewers
/change

Change files
  change/@ni-nimble-components-c13b8a3d-c982-4783-bd4d-effc9a43ffa1.json
Owners: none

Updated change file comment
  change/@ni-nimble-components-c13b8a3d-c982-4783-bd4d-effc9a43ffa1.json
Owners: none

Updated change file
  change/@ni-nimble-components-c13b8a3d-c982-4783-bd4d-effc9a43ffa1.json
Owners: none

Added performance goals
  packages/nimble-components/src/wafer-map/specs/README.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Implemented feedback
  packages/nimble-components/src/wafer-map/specs/README.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Run format on spec document
  packages/nimble-components/src/wafer-map/specs/README.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Change files
  change/@ni-nimble-angular-c1426441-77c4-4984-a79e-cad5d947dd37.json
Owners: none

different approach for waiting on animation
  packages/nimble-components/src/drawer/tests/drawer.spec.ts
Owners: @rajsite, @jattasNI

Change files
  change/@ni-nimble-components-c605be0d-27fc-47ff-bf8e-c996c0fe7158.json
Owners: none

change type to none
  change/@ni-nimble-components-c605be0d-27fc-47ff-bf8e-c996c0fe7158.json
Owners: none

Add an Angular support policy to the nimble-angular README. (#814)
  angular-workspace/projects/ni/nimble-angular/README.md
  change/@ni-nimble-angular-c1426441-77c4-4984-a79e-cad5d947dd37.json
Owners: @rajsite, @atmgrifter00

Add chromatic tests for three controls to detect height issues
  packages/nimble-components/src/number-field/tests/number-field-matrix.stories.ts
  packages/nimble-components/src/text-area/tests/text-area-matrix.stories.ts
  packages/nimble-components/src/text-field/tests/text-field-matrix.stories.ts
Owners: @rajsite, @jattasNI

lint
  packages/nimble-components/src/drawer/tests/drawer.spec.ts
Owners: @rajsite, @jattasNI

Disable test
  packages/nimble-components/src/drawer/tests/drawer.spec.ts
Owners: @rajsite, @jattasNI

Change files
  change/@ni-nimble-components-49e37a85-7c90-4500-b535-55640060fba1.json
Owners: none

applying package updates [skip ci]
  angular-workspace/projects/ni/nimble-angular/CHANGELOG.json
  change/@ni-nimble-angular-c1426441-77c4-4984-a79e-cad5d947dd37.json
Owners: @rajsite, @atmgrifter00

Prettier fix
  packages/nimble-components/src/number-field/tests/number-field-matrix.stories.ts
Owners: @rajsite, @jattasNI

Temporarily disable intermittent drawer test (#817)
  change/@ni-nimble-components-49e37a85-7c90-4500-b535-55640060fba1.json
  packages/nimble-components/src/drawer/tests/drawer.spec.ts
Owners: @rajsite, @jattasNI

applying package updates [skip ci]
  change/@ni-nimble-components-49e37a85-7c90-4500-b535-55640060fba1.json
  packages/nimble-components/CHANGELOG.json
Owners: @rajsite, @jattasNI

Add contributing docs when building component from scratch (#811)
  change/@ni-nimble-components-330a4bde-1f81-4dd5-87b9-d03c682295db.json
  packages/nimble-components/CONTRIBUTING.md
Owners: @rajsite, @jattasNI

applying package updates [skip ci]
  change/@ni-nimble-components-330a4bde-1f81-4dd5-87b9-d03c682295db.json
  packages/nimble-components/CHANGELOG.json
Owners: @rajsite, @jattasNI

Implemented feedback
  packages/nimble-components/src/wafer-map/specs/README.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

npm run format
  packages/nimble-components/src/wafer-map/specs/README.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Fixed lint
  packages/nimble-components/src/wafer-map/data-types/WaferMapColorsScale.ts
  packages/nimble-components/src/wafer-map/data-types/WaferMapRenderingObject.ts
  packages/nimble-components/src/wafer-map/index.ts
  packages/nimble-components/src/wafer-map/styles.ts
  packages/nimble-components/src/wafer-map/template.ts
  packages/nimble-components/src/wafer-map/types.ts
Owners: @rajsite, @jattasNI

Change files
  change/@ni-nimble-components-6bd07a0a-7f59-4440-989a-516fca7124bf.json
Owners: none

Update readme
  README.md
Owners: @rajsite, @jattasNI, @fredvisser

Updated comment
  change/@ni-nimble-components-6bd07a0a-7f59-4440-989a-516fca7124bf.json
Owners: none

enable test
  packages/nimble-components/src/drawer/tests/drawer.spec.ts
Owners: @rajsite, @jattasNI

Install latest @ni/eslint-config-* in all packages
  angular-workspace/package.json
  package-lock.json
  packages/nimble-blazor/package.json
  packages/nimble-components/package.json
  packages/xliff-to-json-converter/package.json
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00, @msmithNI, @TrevorKarjanis

Enable naming-convention rule
  packages/nimble-components/src/.eslintrc.js
  packages/nimble-components/src/utilities/tests/matrix.ts
Owners: @rajsite, @jattasNI

Change files
  change/@ni-nimble-blazor-54c29d75-58cd-41b5-b8c8-871ee3425fda.json
  change/@ni-nimble-components-48cb5f42-1091-4c98-a89c-eee397e08c53.json
  change/@ni-xliff-to-json-converter-90ddc9e1-ed12-4aab-b413-5ff9e082b4e4.json
Owners: none

Update packages/nimble-components/src/table/specs/README.md
  packages/nimble-components/src/table/specs/README.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Lint fixes.
  packages/nimble-components/src/table/specs/README.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Update change/@ni-nimble-components-6bd07a0a-7f59-4440-989a-516fca7124bf.json
  change/@ni-nimble-components-6bd07a0a-7f59-4440-989a-516fca7124bf.json
Owners: none

Update README.md
  README.md
Owners: @rajsite, @jattasNI, @fredvisser

Nimble table hld (#812)
  change/@ni-nimble-components-66225928-9b97-4fa2-bbbe-941226348772.json
  packages/nimble-components/src/table/specs/README.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

applying package updates [skip ci]
  change/@ni-nimble-components-66225928-9b97-4fa2-bbbe-941226348772.json
  packages/nimble-components/CHANGELOG.json
Owners: @rajsite, @jattasNI

Fix intermittent drawer test (#819)
  change/@ni-nimble-components-c605be0d-27fc-47ff-bf8e-c996c0fe7158.json
  packages/nimble-components/src/drawer/tests/drawer.spec.ts
Owners: @rajsite, @jattasNI

applying package updates [skip ci]
  angular-workspace/projects/ni/nimble-angular/package.json
  change/@ni-nimble-components-c605be0d-27fc-47ff-bf8e-c996c0fe7158.json
  package-lock.json
  packages/nimble-blazor/package.json
  packages/nimble-components/CHANGELOG.json
Owners: @rajsite, @atmgrifter00, @jattasNI, @fredvisser, @msmithNI

Update @ni/eslint-config-* devDependencies to latest (#820)
  angular-workspace/package.json
  change/@ni-nimble-blazor-54c29d75-58cd-41b5-b8c8-871ee3425fda.json
  change/@ni-nimble-components-48cb5f42-1091-4c98-a89c-eee397e08c53.json
  change/@ni-xliff-to-json-converter-90ddc9e1-ed12-4aab-b413-5ff9e082b4e4.json
  package-lock.json
  packages/nimble-blazor/package.json
  packages/nimble-components/package.json
  packages/nimble-components/src/.eslintrc.js
  packages/nimble-components/src/utilities/tests/matrix.ts
  packages/xliff-to-json-converter/package.json
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00, @msmithNI, @TrevorKarjanis
