Repository ni/nimble, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rajsite, @jattasNI, @atmgrifter00, @msmithNI, @DStavilaNI, @munteannatan, @vivinkrishna-ni, @fredvisser, @TrevorKarjanis, @mollykreis

Update specs/angular-readonly-form-styling/README.md
  specs/angular-readonly-form-styling/README.md
Owners: @rajsite, @jattasNI, @atmgrifter00, @mollykreis

Placeholder input component
  packages/spright-components/src/chat/input/index.ts
  packages/spright-components/src/chat/input/styles.ts
  packages/spright-components/src/chat/input/template.ts
  packages/spright-components/src/chat/input/tests/chat-input.spec.ts
Owners: @rajsite, @jattasNI

Placeholder storybook files
  packages/storybook/src/spright/chat/conversation/chat-conversation.mdx
  packages/storybook/src/spright/chat/conversation/chat-conversation.stories.ts
  packages/storybook/src/spright/chat/input/chat-input.react.tsx
  packages/storybook/src/spright/chat/input/chat-input.stories.ts
Owners: @rajsite, @jattasNI

Input and button
  packages/spright-components/src/chat/input/styles.ts
  packages/spright-components/src/chat/input/template.ts
Owners: @rajsite, @jattasNI

Fire event on message submit
  packages/spright-components/src/chat/input/index.ts
  packages/spright-components/src/chat/input/template.ts
  packages/spright-components/src/chat/input/types.ts
Owners: @rajsite, @jattasNI

Don't need text attribute yet
  packages/spright-components/src/chat/input/index.ts
Owners: @rajsite, @jattasNI

Add input to conversation story
  packages/spright-components/src/chat/message/index.ts
  packages/storybook/src/spright/chat/conversation/chat-conversation.stories.ts
Owners: @rajsite, @jattasNI

Ctrl
  packages/storybook/src/spright/chat/conversation/story-helpers.ts
Owners: @rajsite, @jattasNI

Styling
  packages/spright-components/src/chat/input/styles.ts
Owners: @rajsite, @jattasNI

Disable button
  packages/spright-components/src/chat/input/index.ts
  packages/spright-components/src/chat/input/template.ts
  packages/spright-components/src/chat/input/tests/chat-input.spec.ts
Owners: @rajsite, @jattasNI

fast-web-utilities dep
  package-lock.json
  packages/spright-components/package.json
Owners: @rajsite, @jattasNI

Format
  packages/spright-components/src/chat/input/index.ts
  packages/spright-components/src/chat/input/styles.ts
  packages/spright-components/src/chat/input/tests/chat-input.spec.ts
  packages/spright-components/src/chat/input/types.ts
Owners: @rajsite, @jattasNI

TODO
  packages/spright-components/src/chat/input/tests/chat-input.spec.ts
Owners: @rajsite, @jattasNI

Fix send button bug
  packages/spright-components/src/chat/input/index.ts
Owners: @rajsite, @jattasNI

Auto sizing on chromium
  packages/spright-components/src/chat/input/styles.ts
Owners: @rajsite, @jattasNI

Fix formatting of multiline text
  packages/spright-components/src/chat/message/template.ts
  packages/storybook/src/spright/chat/conversation/chat-conversation.stories.ts
Owners: @rajsite, @jattasNI

Change files
  change/@ni-spright-components-b524f5d1-88e6-44fb-af00-f975f545456f.json
Owners: none

Angular directive placeholder
  packages/angular-workspace/spright-angular/chat/input/ng-package.json
  packages/angular-workspace/spright-angular/chat/input/public-api.ts
  packages/angular-workspace/spright-angular/chat/input/spright-chat-input.directive.ts
  packages/angular-workspace/spright-angular/chat/input/spright-chat-input.module.ts
  packages/angular-workspace/spright-angular/chat/input/tests/spright-chat-input.directive.spec.ts
Owners: @rajsite, @atmgrifter00

Change files
  change/@ni-spright-angular-fa22d03a-3721-4ba6-a3be-eec4b94cd74f.json
Owners: none

Better approach for preserving whitespace
  packages/spright-components/src/chat/message/template.ts
  packages/storybook/src/spright/chat/conversation/chat-conversation.stories.ts
Owners: @rajsite, @jattasNI

Angular wrapper
  packages/angular-workspace/example-client-app/src/app/app.module.ts
  packages/angular-workspace/example-client-app/src/app/customapp/customapp.component.html
  packages/angular-workspace/example-client-app/src/app/customapp/customapp.component.scss
  packages/angular-workspace/example-client-app/src/app/customapp/customapp.component.ts
  packages/angular-workspace/spright-angular/chat/input/spright-chat-input.directive.ts
  packages/angular-workspace/spright-angular/chat/input/tests/spright-chat-input.directive.spec.ts
Owners: @rajsite, @atmgrifter00

Fix button disabling
  packages/spright-components/src/chat/input/index.ts
Owners: @rajsite, @jattasNI

Delete copied test
  packages/spright-components/src/chat/input/tests/chat-input.spec.ts
Owners: @rajsite, @jattasNI

comments
  packages/spright-components/src/chat/input/tests/chat-input.spec.ts
Owners: @rajsite, @jattasNI

unused
  packages/spright-components/src/chat/input/tests/chat-input.spec.ts
Owners: @rajsite, @jattasNI

format
  packages/storybook/src/spright/chat/conversation/chat-conversation.mdx
  packages/storybook/src/spright/chat/conversation/chat-conversation.stories.ts
Owners: @rajsite, @jattasNI

Test error
  packages/spright-components/src/chat/input/tests/chat-input.spec.ts
Owners: @rajsite, @jattasNI

temp
  packages/nimble-components/src/number-field/index.ts
  packages/nimble-components/src/number-field/styles.ts
  packages/nimble-components/src/number-field/types.ts
  packages/nimble-components/src/text-field/index.ts
  packages/nimble-components/src/text-field/styles.ts
  packages/storybook/src/nimble/number-field/number-field.stories.ts
  packages/storybook/src/nimble/text-field/text-field.stories.ts
Owners: @rajsite, @jattasNI

Different approach
  specs/angular-readonly-form-styling/README.md
Owners: @rajsite, @jattasNI, @atmgrifter00, @mollykreis

note about full-bleed + frameless
  specs/angular-readonly-form-styling/README.md
Owners: @rajsite, @jattasNI, @atmgrifter00, @mollykreis

Update README.md
  specs/angular-readonly-form-styling/README.md
Owners: @rajsite, @jattasNI, @atmgrifter00, @mollykreis

rename new attribute
  specs/angular-readonly-form-styling/README.md
Owners: @rajsite, @jattasNI, @atmgrifter00, @mollykreis

Update README.md
  specs/angular-readonly-form-styling/README.md
Owners: @rajsite, @jattasNI, @atmgrifter00, @mollykreis

rename directory
  specs/readonly-appearance-for-disabled-controls/README.md
  specs/readonly-appearance-for-disabled-controls/disabled-form.png
  specs/readonly-appearance-for-disabled-controls/readonly-form.png
  specs/readonly-appearance-for-disabled-controls/readonly-text-field-1.png
  specs/readonly-appearance-for-disabled-controls/readonly-text-field-2.png
Owners: @rajsite, @jattasNI, @atmgrifter00, @mollykreis

Update playwright version
  package-lock.json
  package.json
  packages/angular-workspace/package.json
  packages/blazor-workspace/Tests/BlazorWorkspace.Testing.Acceptance/BlazorWorkspace.Testing.Acceptance.csproj
  packages/blazor-workspace/Tests/NimbleBlazor.Tests.Acceptance/NimbleBlazor.Tests.Acceptance.csproj
  packages/blazor-workspace/Tests/SprightBlazor.Tests.Acceptance/SprightBlazor.Tests.Acceptance.csproj
  packages/blazor-workspace/package.json
  packages/jasmine-parameterized/package.json
  packages/nimble-components/package.json
  packages/spright-components/package.json
Owners: @rajsite, @jattasNI, @atmgrifter00, @msmithNI

Update lock files
  package-lock.json
  packages/blazor-workspace/Tests/BlazorWorkspace.Testing.Acceptance/packages.lock.json
  packages/blazor-workspace/Tests/NimbleBlazor.Tests.Acceptance/packages.lock.json
  packages/blazor-workspace/Tests/SprightBlazor.Tests.Acceptance/packages.lock.json
  patches/beachball+2.54.0.patch
Owners: @rajsite, @jattasNI, @atmgrifter00, @msmithNI

Change files
  change/@ni-jasmine-parameterized-5e123f10-8f7b-4cee-870c-0e60b8549709.json
  change/@ni-nimble-blazor-401ecca7-e83f-4af3-a72f-c4c7ac4e6f07.json
  change/@ni-nimble-components-c0e76bb4-1a39-482e-934e-1ff99867db2c.json
  change/@ni-spright-blazor-41e1f53f-c933-4461-b676-7e791b8be456.json
  change/@ni-spright-components-e8372f49-7ab8-4dba-a00f-6d2f548cbac4.json
Owners: none

Add appearance-readonly to nimble-text-field
  packages/nimble-components/src/text-field/index.ts
  packages/nimble-components/src/text-field/styles.ts
  packages/storybook/src/nimble/text-field/text-field-matrix.stories.ts
  packages/storybook/src/nimble/text-field/text-field.stories.ts
  packages/storybook/src/utilities/states.ts
  packages/storybook/src/utilities/storybook.ts
Owners: @rajsite, @jattasNI

Change files
  change/@ni-nimble-components-a4d0f3b2-8a61-4e8c-b81a-0f10c03c185b.json
Owners: none

[HLD] Readonly appearance for disabled controls (#2592)
  specs/readonly-appearance-for-disabled-controls/README.md
  specs/readonly-appearance-for-disabled-controls/disabled-form.png
  specs/readonly-appearance-for-disabled-controls/readonly-form.png
  specs/readonly-appearance-for-disabled-controls/readonly-text-field-1.png
  specs/readonly-appearance-for-disabled-controls/readonly-text-field-2.png
Owners: @rajsite, @jattasNI, @atmgrifter00, @mollykreis

.github/CODEOWNERS:

# Copyright (c) 2021 National Instruments

# Each line is a file pattern followed by one or more owners.
# More info: https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners

# These owners will be the default owners for everything in the repo.
* @rajsite @jattasNI

# Owners of specific locations or file patterns in the repo. Locations are relative to the root of the repo.
# Order is important. The last matching pattern has the most precedence.

# Specific packages
/packages/angular-workspace/example-client-app @rajsite @atmgrifter00
/packages/angular-workspace/nimble-angular @rajsite @atmgrifter00
/packages/angular-workspace/spright-angular @rajsite @atmgrifter00
/packages/blazor-workspace @rajsite @atmgrifter00 @msmithNI
/packages/nimble-components @rajsite @jattasNI
/packages/nimble-components/build/generate-workers @rajsite @jattasNI @DStavilaNI @munteannatan
/packages/nimble-components/src/wafer-map @rajsite @jattasNI @DStavilaNI @munteannatan
/packages/nimble-components/src/rich-text @rajsite @jattasNI @vivinkrishna-ni
/packages/nimble-components/src/rich-text-mention @rajsite @jattasNI @vivinkrishna-ni
/packages/nimble-tokens @rajsite @jattasNI @fredvisser
/packages/site @rajsite @jattasNI
/packages/spright-components @rajsite @jattasNI
/packages/storybook/.storybook @rajsite @jattasNI @fredvisser
/packages/xliff-to-json-converter @rajsite @TrevorKarjanis @jattasNI

# Specs (placed after packages to have higher precedence for spec files contained in packages)
specs @rajsite @jattasNI @atmgrifter00 @mollykreis

# Change files don't need explicit reviewers
/change
