Repository ni/nimble, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00, @msmithNI, @TrevorKarjanis

Prettier fix
  packages/nimble-components/src/anchor-button/tests/anchor-button-matrix.stories.ts
  packages/nimble-components/src/wafer-map/index.ts
Owners: @rajsite, @jattasNI

Revert change that my prettier seems to want to make
  packages/nimble-components/src/wafer-map/index.ts
Owners: @rajsite, @jattasNI

Change files
  change/@ni-nimble-components-0836aef2-c039-463b-a9d1-55c9d60a515b.json
Owners: none

Initial in-work submission.
  packages/nimble-components/src/table/specs/table-data-api.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Linting fixes.
  packages/nimble-components/src/table/specs/table-data-api.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Applied PR feedback
  packages/nimble-components/src/wafer-map/index.ts
  packages/nimble-components/src/wafer-map/template.ts
  packages/nimble-components/src/wafer-map/tests/sets.ts
  packages/nimble-components/src/wafer-map/tests/wafer-map.stories.ts
Owners: @rajsite, @jattasNI

Applied PR feedback
  packages/nimble-components/src/wafer-map/template.ts
  packages/nimble-components/src/wafer-map/tests/wafer-map.stories.ts
Owners: @rajsite, @jattasNI

Added first version of rendering module
  packages/nimble-components/src/wafer-map/index.ts
  packages/nimble-components/src/wafer-map/modules/rendering.ts
  packages/nimble-components/src/wafer-map/styles.ts
  packages/nimble-components/src/wafer-map/template.ts
  packages/nimble-components/src/wafer-map/tests/wafer-map.spec.ts
Owners: @rajsite, @jattasNI

fixed linting issue
  packages/nimble-components/src/wafer-map/template.ts
  packages/nimble-components/src/wafer-map/tests/wafer-map.stories.ts
Owners: @rajsite, @jattasNI

applied PR feedback
  packages/nimble-components/src/wafer-map/template.ts
Owners: @rajsite, @jattasNI

applied PR feedback
  packages/nimble-components/src/wafer-map/tests/wafer-map.stories.ts
Owners: @rajsite, @jattasNI

applied PR feedback
  packages/nimble-components/src/wafer-map/tests/wafer-map.stories.ts
Owners: @rajsite, @jattasNI

applied PR feedback
  packages/nimble-components/src/wafer-map/tests/wafer-map.stories.ts
Owners: @rajsite, @jattasNI

Jesse's feedback
  packages/nimble-components/src/anchor/specs/README.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Applied PR feedback
  packages/nimble-components/src/wafer-map/tests/wafer-map.stories.ts
Owners: @rajsite, @jattasNI

implemented suggestions
  change/@ni-nimble-components-8796fad5-9c76-4085-9608-5c76d133f99f.json
  packages/nimble-components/src/wafer-map/index.ts
  packages/nimble-components/src/wafer-map/modules/data-manager.ts
  packages/nimble-components/src/wafer-map/modules/prerendering.ts
  packages/nimble-components/src/wafer-map/tests/data-manager.spec.ts
  packages/nimble-components/src/wafer-map/tests/prerendering.coloring.spec.ts
  packages/nimble-components/src/wafer-map/tests/prerendering.labeling.spec.ts
  packages/nimble-components/src/wafer-map/tests/prerendering.positioning.spec.ts
  packages/nimble-components/src/wafer-map/tests/utilities.ts
  packages/nimble-components/src/wafer-map/types.ts
Owners: @rajsite, @jattasNI

added type...
  packages/nimble-components/src/wafer-map/index.ts
Owners: @rajsite, @jattasNI

applied pr feedback
  packages/nimble-components/src/wafer-map/tests/wafer-map.stories.ts
Owners: @rajsite, @jattasNI

WaferMap component - basic storybook implementation (#834)
  change/@ni-nimble-components-297ab22e-342a-48cb-94f9-a5d8e7fe9bfa.json
  packages/nimble-components/src/wafer-map/template.ts
  packages/nimble-components/src/wafer-map/tests/sets.ts
  packages/nimble-components/src/wafer-map/tests/wafer-map.stories.ts
Owners: @rajsite, @jattasNI

applying package updates [skip ci]
  angular-workspace/projects/ni/nimble-angular/CHANGELOG.json
  angular-workspace/projects/ni/nimble-angular/CHANGELOG.md
  angular-workspace/projects/ni/nimble-angular/package.json
  change/@ni-nimble-components-297ab22e-342a-48cb-94f9-a5d8e7fe9bfa.json
  package-lock.json
  packages/nimble-blazor/package.json
  packages/nimble-components/CHANGELOG.json
  packages/nimble-components/CHANGELOG.md
  packages/nimble-components/package.json
Owners: @rajsite, @atmgrifter00, @jattasNI, @fredvisser, @msmithNI

Fix failing tests
  packages/nimble-components/src/anchor-button/index.ts
  packages/nimble-components/src/anchor/index.ts
Owners: @rajsite, @jattasNI

Spinner spec
  packages/nimble-components/src/spinner/specs/README.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Change files
  change/@ni-nimble-components-cb67d3ce-526f-411d-ba8d-60cea6651936.json
Owners: none

Add newline
  packages/nimble-components/src/spinner/specs/README.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Fix typo in link text
  packages/nimble-components/src/spinner/specs/README.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Change attribute names
  packages/nimble-components/src/anchor/specs/README.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Add prior art/images, prettier-fix, add more discussion around component naming
  packages/nimble-components/src/spinner/specs/BlazorWebConfigSpinner.gif
  packages/nimble-components/src/spinner/specs/NewSpinnerDesign.gif
  packages/nimble-components/src/spinner/specs/README.md
  packages/nimble-components/src/spinner/specs/SlMatSpinner.gif
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Add note about our ARIA plan matching FAST
  packages/nimble-components/src/spinner/specs/README.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Add note about Chromatic/animation
  packages/nimble-components/src/spinner/specs/README.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Enable require-await rule (#833)
  angular-workspace/.eslintrc.js
  change/@ni-nimble-blazor-91358d04-10a3-450e-995b-8970f1128006.json
  change/@ni-nimble-components-3b4e5324-510c-4cff-a98f-cf216606e551.json
  change/@ni-nimble-tokens-c57f19cd-796f-48aa-961a-7fb8be603668.json
  packages/nimble-blazor/.eslintrc.js
  packages/nimble-components/.eslintrc.js
  packages/nimble-components/.storybook/main.js
  packages/nimble-components/build/.eslintrc.js
  packages/nimble-components/src/.eslintrc.js
  packages/nimble-components/src/drawer/tests/drawer.spec.ts
  packages/nimble-components/src/tree-view/tests/tree.spec.ts
  packages/nimble-tokens/.eslintrc.js
  packages/site/.eslintrc.js
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00, @msmithNI

applying package updates [skip ci]
  change/@ni-nimble-blazor-91358d04-10a3-450e-995b-8970f1128006.json
  change/@ni-nimble-components-3b4e5324-510c-4cff-a98f-cf216606e551.json
  change/@ni-nimble-tokens-c57f19cd-796f-48aa-961a-7fb8be603668.json
  packages/nimble-blazor/CHANGELOG.json
  packages/nimble-components/CHANGELOG.json
  packages/nimble-tokens/CHANGELOG.json
Owners: @atmgrifter00, @msmithNI, @rajsite, @jattasNI, @fredvisser

Invert attribute: standalone -> underline-visible
  packages/nimble-components/src/anchor/specs/README.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Change to appearance and underline-visible
  packages/nimble-components/src/anchor/index.ts
  packages/nimble-components/src/anchor/styles.ts
  packages/nimble-components/src/anchor/tests/anchor-matrix.stories.ts
  packages/nimble-components/src/anchor/tests/anchor.stories.ts
  packages/nimble-components/src/anchor/tests/types.spec.ts
  packages/nimble-components/src/anchor/types.ts
  packages/nimble-components/src/breadcrumb-item/styles.ts
  packages/nimble-components/src/breadcrumb/styles.ts
  packages/nimble-components/src/patterns/link/styles.ts
Owners: @rajsite, @jattasNI

Nimble Anchor spec (#829)
  change/@ni-nimble-components-bd130048-dcc9-4c2c-a971-da113327b3c4.json
  packages/nimble-components/src/anchor/specs/README.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Some minor changes
  packages/nimble-components/src/anchor-button/styles.ts
  packages/nimble-components/src/anchor-button/tests/anchor-button.stories.ts
  packages/nimble-components/src/anchor/styles.ts
  packages/nimble-components/src/anchor/tests/anchor-matrix.stories.ts
  packages/nimble-components/src/breadcrumb/styles.ts
  packages/nimble-components/src/patterns/link/styles.ts
Owners: @rajsite, @jattasNI

Typo
  specs/templates/custom-component.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Friendlier language
  specs/templates/custom-component.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

typo
  specs/templates/fast-based-component.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Accessibility checklist item
  specs/templates/custom-component.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Update table-data-api.md
  packages/nimble-components/src/table/specs/table-data-api.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

.github/CODEOWNERS:

# Copyright (c) 2021 National Instruments

# Each line is a file pattern followed by one or more owners.
# More info: https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners

# These owners will be the default owners for everything in the repo.
* @rajsite @jattasNI @fredvisser

# Owners of specific locations or file patterns in the repo. Locations are relative to the root of the repo.
# Order is important. The last matching pattern has the most precedence.

# Specific packages
/angular-workspace/projects/example-client-app @rajsite @atmgrifter00
/angular-workspace/projects/ni/nimble-angular @rajsite @atmgrifter00
/packages/nimble-blazor @atmgrifter00 @msmithNI
/packages/nimble-components @rajsite @jattasNI
/packages/nimble-tokens @rajsite @jattasNI @fredvisser
/packages/site @rajsite @jattasNI
/packages/xliff-to-json-converter @rajsite @TrevorKarjanis @jattasNI

# Specs (placed after packages to have higher precedence for spec files contained in packages)
specs @rajsite @jattasNI @fredvisser @atmgrifter00

# Change files don't need explicit reviewers
/change
