Repository ni/nimble, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rajsite, @jattasNI, @atmgrifter00, @msmithNI, @DStavilaNI, @munteannatan, @vivinkrishna-ni, @fredvisser, @TrevorKarjanis, @mollykreis

Fix inconsistency with select/combobox
  packages/nimble-components/src/rich-text/mention-listbox/index.ts
  packages/nimble-components/src/rich-text/mention-listbox/template.ts
Owners: @rajsite, @jattasNI, @vivinkrishna-ni

rename state
  packages/storybook/src/nimble/number-field/number-field-matrix.stories.ts
  packages/storybook/src/utilities/states.ts
Owners: @rajsite, @jattasNI

Add appearance-readonly to nimble-text-area
  packages/nimble-components/src/text-area/index.ts
  packages/nimble-components/src/text-area/styles.ts
  packages/storybook/src/nimble/text-area/text-area-matrix.stories.ts
  packages/storybook/src/nimble/text-area/text-area.stories.ts
Owners: @rajsite, @jattasNI

Change files
  change/@ni-nimble-components-9c2c62b5-b927-459f-add7-7465055c5a4e.json
Owners: none

select
  packages/nimble-components/src/patterns/dropdown/styles.ts
  packages/nimble-components/src/select/index.ts
  packages/nimble-components/src/select/styles.ts
  packages/storybook/src/nimble/select/select.stories.ts
Owners: @rajsite, @jattasNI

combobox
  packages/nimble-components/src/combobox/index.ts
  packages/nimble-components/src/combobox/styles.ts
  packages/nimble-components/src/patterns/dropdown/styles.ts
  packages/nimble-components/src/select/styles.ts
  packages/storybook/src/nimble/combobox/combobox.stories.ts
Owners: @rajsite, @jattasNI

updates
  packages/nimble-components/src/patterns/dropdown/styles.ts
  packages/nimble-components/src/select/styles.ts
Owners: @rajsite, @jattasNI

matrix tests + fixes
  packages/nimble-components/src/patterns/dropdown/styles.ts
  packages/nimble-components/src/select/styles.ts
  packages/storybook/src/nimble/combobox/combobox-matrix.stories.ts
  packages/storybook/src/nimble/select/select-matrix.stories.ts
  packages/storybook/src/utilities/states.ts
Owners: @rajsite, @jattasNI

Change files
  change/@ni-nimble-components-6d5224ae-9cd5-4a8d-8bc9-18f667db282b.json
Owners: none

split matrix story
  packages/storybook/src/nimble/text-area/text-area-matrix.stories.ts
Owners: @rajsite, @jattasNI

format
  packages/storybook/src/nimble/text-area/text-area-matrix.stories.ts
  packages/storybook/src/nimble/text-area/text-area.stories.ts
Owners: @rajsite, @jattasNI

format
  packages/nimble-components/src/combobox/styles.ts
  packages/storybook/src/nimble/combobox/combobox.stories.ts
  packages/storybook/src/nimble/select/select-matrix.stories.ts
  packages/storybook/src/nimble/select/select.stories.ts
Owners: @rajsite, @jattasNI

PR feedback
  packages/storybook/src/nimble/number-field/number-field-matrix.stories.ts
  packages/storybook/src/utilities/states.ts
Owners: @rajsite, @jattasNI

format
  packages/storybook/src/utilities/states.ts
Owners: @rajsite, @jattasNI

reorder
  packages/storybook/src/nimble/number-field/number-field-matrix.stories.ts
Owners: @rajsite, @jattasNI

export type
  packages/storybook/src/utilities/states.ts
Owners: @rajsite, @jattasNI

order matrix, fix bottom margin
  packages/storybook/src/nimble/text-area/text-area-matrix.stories.ts
Owners: @rajsite, @jattasNI

Add appearance-readonly to nimble-number-field (#2600)
  change/@ni-nimble-components-3b2df972-f5ae-4415-be0f-8e4268970423.json
  packages/nimble-components/src/number-field/index.ts
  packages/nimble-components/src/number-field/styles.ts
  packages/nimble-components/src/text-field/styles.ts
  packages/storybook/src/nimble/number-field/number-field-matrix.stories.ts
  packages/storybook/src/nimble/number-field/number-field.stories.ts
  packages/storybook/src/utilities/states.ts
Owners: @rajsite, @jattasNI

split select matrix
  packages/storybook/src/nimble/select/select-matrix.stories.ts
Owners: @rajsite, @jattasNI

reorder matrix
  packages/storybook/src/nimble/combobox/combobox-matrix.stories.ts
  packages/storybook/src/nimble/select/select-matrix.stories.ts
Owners: @rajsite, @jattasNI

add onlyReadOnlyAbsentStates
  packages/storybook/src/nimble/combobox/combobox-matrix.stories.ts
  packages/storybook/src/nimble/select/select-matrix.stories.ts
  packages/storybook/src/utilities/states.ts
Owners: @rajsite, @jattasNI

Update nimble-number-field to support frameless and full-bleed styling
  packages/nimble-components/src/number-field/index.ts
  packages/nimble-components/src/number-field/styles.ts
  packages/nimble-components/src/number-field/types.ts
  packages/storybook/src/nimble/number-field/number-field.stories.ts
  packages/storybook/src/nimble/text-field/text-field.stories.ts
  packages/storybook/src/utilities/storybook.ts
Owners: @rajsite, @jattasNI

update matrix tests
  packages/storybook/src/nimble/number-field/number-field-matrix.stories.ts
  packages/storybook/src/nimble/text-field/text-field-matrix.stories.ts
  packages/storybook/src/utilities/states.ts
Owners: @rajsite, @jattasNI

Change files
  change/@ni-nimble-components-66b0fc49-9117-4442-8063-c9c8baf59521.json
Owners: none

split matrix story
  packages/storybook/src/nimble/number-field/number-field-matrix.stories.ts
Owners: @rajsite, @jattasNI

disable tests
  packages/nimble-components/src/anchor-tabs/tests/anchor-tabs.spec.ts
  packages/nimble-components/src/tabs/tests/tabs.spec.ts
Owners: @rajsite, @jattasNI

Change files
  change/@ni-nimble-components-282313f7-142b-4953-8477-ad5fc3a724bb.json
Owners: none

Update blazor version
  packages/blazor-workspace/Examples/Demo.Client/packages.lock.json
  packages/blazor-workspace/Tests/NimbleBlazor.Tests.Acceptance.Client/packages.lock.json
  packages/blazor-workspace/global.json
Owners: @rajsite, @atmgrifter00, @msmithNI

applying package updates [skip ci]
  change/@ni-nimble-components-3b2df972-f5ae-4415-be0f-8e4268970423.json
  package-lock.json
  packages/angular-workspace/nimble-angular/CHANGELOG.json
  packages/angular-workspace/nimble-angular/CHANGELOG.md
  packages/angular-workspace/nimble-angular/package.json
  packages/angular-workspace/spright-angular/CHANGELOG.json
  packages/angular-workspace/spright-angular/CHANGELOG.md
  packages/angular-workspace/spright-angular/package.json
  packages/blazor-workspace/NimbleBlazor/CHANGELOG.json
  packages/blazor-workspace/NimbleBlazor/CHANGELOG.md
  packages/blazor-workspace/NimbleBlazor/package.json
  packages/blazor-workspace/SprightBlazor/CHANGELOG.json
  packages/blazor-workspace/SprightBlazor/CHANGELOG.md
  packages/blazor-workspace/SprightBlazor/package.json
  packages/nimble-components/CHANGELOG.json
  packages/nimble-components/CHANGELOG.md
  packages/nimble-components/package.json
  packages/spright-components/CHANGELOG.json
  packages/spright-components/CHANGELOG.md
  packages/spright-components/package.json
Owners: @rajsite, @jattasNI, @atmgrifter00, @msmithNI

Disable tab scroll tests (#2604)
  change/@ni-nimble-components-282313f7-142b-4953-8477-ad5fc3a724bb.json
  packages/nimble-components/src/anchor-tabs/tests/anchor-tabs.spec.ts
  packages/nimble-components/src/tabs/tests/tabs.spec.ts
Owners: @rajsite, @jattasNI

Add appearance-readonly to nimble-text-area (#2601)
  change/@ni-nimble-components-9c2c62b5-b927-459f-add7-7465055c5a4e.json
  packages/nimble-components/src/text-area/index.ts
  packages/nimble-components/src/text-area/styles.ts
  packages/storybook/src/nimble/text-area/text-area-matrix.stories.ts
  packages/storybook/src/nimble/text-area/text-area.stories.ts
Owners: @rajsite, @jattasNI

applying package updates [skip ci]
  change/@ni-nimble-components-282313f7-142b-4953-8477-ad5fc3a724bb.json
  packages/nimble-components/CHANGELOG.json
Owners: @rajsite, @jattasNI

applying package updates [skip ci]
  change/@ni-nimble-components-9c2c62b5-b927-459f-add7-7465055c5a4e.json
  package-lock.json
  packages/angular-workspace/nimble-angular/CHANGELOG.json
  packages/angular-workspace/nimble-angular/CHANGELOG.md
  packages/angular-workspace/nimble-angular/package.json
  packages/angular-workspace/spright-angular/CHANGELOG.json
  packages/angular-workspace/spright-angular/CHANGELOG.md
  packages/angular-workspace/spright-angular/package.json
  packages/blazor-workspace/NimbleBlazor/CHANGELOG.json
  packages/blazor-workspace/NimbleBlazor/CHANGELOG.md
  packages/blazor-workspace/NimbleBlazor/package.json
  packages/blazor-workspace/SprightBlazor/CHANGELOG.json
  packages/blazor-workspace/SprightBlazor/CHANGELOG.md
  packages/blazor-workspace/SprightBlazor/package.json
  packages/nimble-components/CHANGELOG.json
  packages/nimble-components/CHANGELOG.md
  packages/nimble-components/package.json
  packages/spright-components/CHANGELOG.json
  packages/spright-components/CHANGELOG.md
  packages/spright-components/package.json
Owners: @rajsite, @jattasNI, @atmgrifter00, @msmithNI

don't include disabled states in interaction states
  packages/storybook/src/nimble/number-field/number-field-matrix.stories.ts
Owners: @rajsite, @jattasNI

frameless + full-bleed number field
  packages/nimble-components/src/number-field/index.ts
  packages/nimble-components/src/number-field/styles.ts
  packages/nimble-components/src/number-field/types.ts
  packages/storybook/src/nimble/number-field/number-field-matrix.stories.ts
  packages/storybook/src/nimble/number-field/number-field.stories.ts
  packages/storybook/src/utilities/states.ts
  packages/storybook/src/utilities/storybook.ts
Owners: @rajsite, @jattasNI

appearance-readonly select + combobox
  packages/nimble-components/src/combobox/index.ts
  packages/nimble-components/src/combobox/styles.ts
  packages/nimble-components/src/patterns/dropdown/styles.ts
  packages/nimble-components/src/select/index.ts
  packages/nimble-components/src/select/styles.ts
  packages/storybook/src/nimble/combobox/combobox-matrix.stories.ts
  packages/storybook/src/nimble/combobox/combobox.stories.ts
  packages/storybook/src/nimble/select/select-matrix.stories.ts
  packages/storybook/src/nimble/select/select.stories.ts
  packages/storybook/src/utilities/states.ts
Owners: @rajsite, @jattasNI

frameless + full-bleed for select + combobox
  packages/nimble-components/src/combobox/index.ts
  packages/nimble-components/src/patterns/dropdown/styles.ts
  packages/nimble-components/src/patterns/dropdown/types.ts
  packages/nimble-components/src/select/index.ts
  packages/storybook/src/nimble/combobox/combobox.stories.ts
  packages/storybook/src/nimble/select/select.stories.ts
Owners: @rajsite, @jattasNI

Change files
  change/@ni-nimble-components-d37be129-e4cf-4d8a-a2c0-bd32f287d1c0.json
Owners: none

Update packages/nimble-components/src/number-field/types.ts
  packages/nimble-components/src/number-field/types.ts
Owners: @rajsite, @jattasNI

add icons and metadata
  packages/nimble-components/src/icon-base/tests/icon-metadata.ts
  packages/nimble-tokens/dist/icons/svg/calendar-circle-arrow_16x16.svg
  packages/nimble-tokens/dist/icons/svg/circle-arrow-dot_16x16.svg
  packages/nimble-tokens/dist/icons/svg/dock-window_16x16.svg
  packages/nimble-tokens/dist/icons/svg/page-list-cog_16x16.svg
  packages/nimble-tokens/dist/icons/svg/two-chat-sparkle_16x16.svg
  packages/nimble-tokens/dist/icons/svg/undock-window_16x16.svg
Owners: @rajsite, @jattasNI, @fredvisser

.github/CODEOWNERS:

# Copyright (c) 2021 National Instruments

# Each line is a file pattern followed by one or more owners.
# More info: https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners

# These owners will be the default owners for everything in the repo.
* @rajsite @jattasNI

# Owners of specific locations or file patterns in the repo. Locations are relative to the root of the repo.
# Order is important. The last matching pattern has the most precedence.

# Specific packages
/packages/angular-workspace/example-client-app @rajsite @atmgrifter00
/packages/angular-workspace/nimble-angular @rajsite @atmgrifter00
/packages/angular-workspace/spright-angular @rajsite @atmgrifter00
/packages/blazor-workspace @rajsite @atmgrifter00 @msmithNI
/packages/nimble-components @rajsite @jattasNI
/packages/nimble-components/build/generate-workers @rajsite @jattasNI @DStavilaNI @munteannatan
/packages/nimble-components/src/wafer-map @rajsite @jattasNI @DStavilaNI @munteannatan
/packages/nimble-components/src/rich-text @rajsite @jattasNI @vivinkrishna-ni
/packages/nimble-components/src/rich-text-mention @rajsite @jattasNI @vivinkrishna-ni
/packages/nimble-tokens @rajsite @jattasNI @fredvisser
/packages/site @rajsite @jattasNI
/packages/spright-components @rajsite @jattasNI
/packages/storybook/.storybook @rajsite @jattasNI @fredvisser
/packages/xliff-to-json-converter @rajsite @TrevorKarjanis @jattasNI

# Specs (placed after packages to have higher precedence for spec files contained in packages)
specs @rajsite @jattasNI @atmgrifter00 @mollykreis

# Change files don't need explicit reviewers
/change
