Repository ni/nimble, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00, @msmithNI, @TrevorKarjanis

.github/CODEOWNERS:

# Copyright (c) 2021 National Instruments

# Each line is a file pattern followed by one or more owners.
# More info: https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners

# These owners will be the default owners for everything in the repo.
* @rajsite @jattasNI @fredvisser

# Owners of specific locations or file patterns in the repo. Locations are relative to the root of the repo.
# Order is important. The last matching pattern has the most precedence.

# Specific packages
/angular-workspace/projects/example-client-app @rajsite @atmgrifter00
/angular-workspace/projects/ni/nimble-angular @rajsite @atmgrifter00
/packages/nimble-blazor @atmgrifter00 @msmithNI
/packages/nimble-components @rajsite @jattasNI
/packages/nimble-tokens @rajsite @jattasNI @fredvisser
/packages/site @rajsite @jattasNI
/packages/xliff-to-json-converter @rajsite @TrevorKarjanis @jattasNI

# Specs (placed after packages to have higher precedence for spec files contained in packages)
specs @rajsite @jattasNI @fredvisser @atmgrifter00

# Change files don't need explicit reviewers
/change

Fix hiding of start and end slots
  packages/nimble-components/src/anchor/styles.ts
Owners: @rajsite, @jattasNI

First draft of table column API HLD.
  packages/nimble-components/src/table/specs/table-columns-hld.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

update Blazor section
  packages/nimble-components/src/table/specs/table-data-api.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Change files
  change/@ni-nimble-components-fd008326-f15c-4746-bd5a-61d77d20bffa.json
Owners: none

Grammar.
  packages/nimble-components/src/table/specs/table-columns-hld.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

add examples suggested in PR feedback
  packages/nimble-components/src/table/specs/table-data-api.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

format
  packages/nimble-components/src/table/specs/table-data-api.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Fix anchor issue with trailing underlined space
  packages/nimble-components/src/anchor/index.ts
  packages/nimble-components/src/anchor/styles.ts
  packages/nimble-components/src/anchor/template.ts
  packages/nimble-components/src/anchor/tests/anchor-matrix.stories.ts
  packages/nimble-components/src/anchor/tests/anchor.spec.ts
  packages/nimble-components/src/patterns/link/styles.ts
Owners: @rajsite, @jattasNI

Remove invalid tests
  packages/nimble-components/src/anchor-button/tests/anchor-button.spec.ts
Owners: @rajsite, @jattasNI

Prettier fix
  packages/nimble-components/src/patterns/button/styles.ts
Owners: @rajsite, @jattasNI

Blazor update
  packages/nimble-components/src/table/specs/table-data-api.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

updating scss tokens and refactoring html
  packages/site/landing/index.html
  packages/site/landing/styles.scss
Owners: @rajsite, @jattasNI

Rename styles constant
  packages/nimble-components/src/anchor-button/styles.ts
  packages/nimble-components/src/button/styles.ts
  packages/nimble-components/src/patterns/button/styles.ts
Owners: @rajsite, @jattasNI

cleaning up comments styles file
  packages/site/landing/styles.scss
Owners: @rajsite, @jattasNI

Initially disable vulnerability alerts
  renovate.json
Owners: @rajsite, @jattasNI, @fredvisser

weekly schedule
  renovate.json
Owners: @rajsite, @jattasNI, @fredvisser

schedule weekends
  renovate.json
Owners: @rajsite, @jattasNI, @fredvisser

Prettier fix.
  packages/nimble-components/src/table/specs/README.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Nimble table spec (#828)
  change/@ni-nimble-components-46257154-f1f7-45bf-9b5a-48945f258451.json
  packages/nimble-components/src/table/specs/README.md
  packages/nimble-components/src/table/specs/spec-images/sleTable.png
  packages/nimble-components/src/table/specs/tech-stack.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

applying package updates [skip ci]
  change/@ni-nimble-components-46257154-f1f7-45bf-9b5a-48945f258451.json
  packages/nimble-components/CHANGELOG.json
Owners: @rajsite, @jattasNI

Create and use font tokens for links
  packages/nimble-components/src/anchor/styles.ts
  packages/nimble-components/src/breadcrumb/styles.ts
  packages/nimble-components/src/patterns/link/styles.ts
  packages/nimble-components/src/theme-provider/design-token-comments.ts
  packages/nimble-components/src/theme-provider/design-token-names.ts
  packages/nimble-components/src/theme-provider/design-tokens.ts
Owners: @rajsite, @jattasNI

add link to/from table readme
  packages/nimble-components/src/table/specs/README.md
  packages/nimble-components/src/table/specs/table-data-api.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Prettier fixes
  packages/nimble-components/src/anchor/template.ts
  packages/nimble-components/src/anchor/tests/anchor.spec.ts
  packages/nimble-components/src/theme-provider/design-token-comments.ts
  packages/nimble-components/src/theme-provider/design-token-names.ts
  packages/nimble-components/src/theme-provider/design-tokens.ts
Owners: @rajsite, @jattasNI

Switch to permissions
  .github/workflows/main.yml
Owners: @rajsite, @jattasNI, @fredvisser

remove sub-bullets
  packages/nimble-components/src/table/specs/README.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Trigger build
  packages/nimble-blazor/README.md
Owners: @atmgrifter00, @msmithNI

Change files
  change/@ni-nimble-blazor-1e1c35d7-ed60-49fd-ba07-8a3d4f01ec25.json
Owners: none

Create spec for nimble-table data API (#838)
  change/@ni-nimble-components-c8a6adca-fcca-41b4-aa0a-517e7c58b81d.json
  packages/nimble-components/src/table/specs/README.md
  packages/nimble-components/src/table/specs/table-data-api.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

applying package updates [skip ci]
  change/@ni-nimble-components-c8a6adca-fcca-41b4-aa0a-517e7c58b81d.json
  packages/nimble-components/CHANGELOG.json
Owners: @rajsite, @jattasNI

GitHub workflow permissions test (#901)
  .github/workflows/main.yml
  change/@ni-nimble-blazor-1e1c35d7-ed60-49fd-ba07-8a3d4f01ec25.json
  packages/nimble-blazor/README.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00, @msmithNI

Add another example column.
  packages/nimble-components/src/table/specs/table-columns-hld.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

applying package updates [skip ci]
  change/@ni-nimble-blazor-1e1c35d7-ed60-49fd-ba07-8a3d4f01ec25.json
  package-lock.json
  packages/nimble-blazor/CHANGELOG.json
  packages/nimble-blazor/CHANGELOG.md
  packages/nimble-blazor/package.json
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00, @msmithNI

Re-enable personal acces token for beachball
  .github/workflows/main.yml
Owners: @rajsite, @jattasNI, @fredvisser

Manually bump blazor for change file digest
  package-lock.json
  packages/nimble-blazor/package.json
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00, @msmithNI

applying package updates [skip ci]
  change/@ni-nimble-blazor-1e1c35d7-ed60-49fd-ba07-8a3d4f01ec25.json
  package-lock.json
  packages/nimble-blazor/CHANGELOG.json
  packages/nimble-blazor/CHANGELOG.md
  packages/nimble-blazor/package.json
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00, @msmithNI

Rendering working
  packages/nimble-components/src/wafer-map/index.ts
  packages/nimble-components/src/wafer-map/modules/rendering.ts
  packages/nimble-components/src/wafer-map/styles.ts
  packages/nimble-components/src/wafer-map/template.ts
  packages/nimble-components/src/wafer-map/tests/wafer-map.spec.ts
Owners: @rajsite, @jattasNI

updated sets values
  packages/nimble-components/src/wafer-map/tests/sets.ts
  packages/nimble-components/src/wafer-map/tests/wafer-map.stories.ts
Owners: @rajsite, @jattasNI

Created Prerendering Module which prepares information for each die to be ready for rendering (#835)
  change/@ni-nimble-components-8796fad5-9c76-4085-9608-5c76d133f99f.json
  packages/nimble-components/src/wafer-map/index.ts
  packages/nimble-components/src/wafer-map/modules/data-manager.ts
  packages/nimble-components/src/wafer-map/modules/prerendering.ts
  packages/nimble-components/src/wafer-map/specs/README.md
  packages/nimble-components/src/wafer-map/tests/data-manager.spec.ts
  packages/nimble-components/src/wafer-map/tests/prerendering.coloring.spec.ts
  packages/nimble-components/src/wafer-map/tests/prerendering.labeling.spec.ts
  packages/nimble-components/src/wafer-map/tests/prerendering.positioning.spec.ts
  packages/nimble-components/src/wafer-map/tests/sets.ts
  packages/nimble-components/src/wafer-map/tests/utilities.ts
  packages/nimble-components/src/wafer-map/tests/wafer-map.stories.ts
  packages/nimble-components/src/wafer-map/types.ts
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

applying package updates [skip ci]
  angular-workspace/projects/ni/nimble-angular/CHANGELOG.json
  angular-workspace/projects/ni/nimble-angular/CHANGELOG.md
  angular-workspace/projects/ni/nimble-angular/package.json
  change/@ni-nimble-components-8796fad5-9c76-4085-9608-5c76d133f99f.json
  package-lock.json
  packages/nimble-blazor/package.json
  packages/nimble-components/CHANGELOG.json
  packages/nimble-components/CHANGELOG.md
  packages/nimble-components/package.json
Owners: @rajsite, @atmgrifter00, @jattasNI, @fredvisser, @msmithNI

created render queue for input changes
  packages/nimble-components/src/wafer-map/index.ts
Owners: @rajsite, @jattasNI
