Repository ni/nimble, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00, @msmithNI, @TrevorKarjanis

applying package updates [skip ci]
  change/@ni-nimble-blazor-54c29d75-58cd-41b5-b8c8-871ee3425fda.json
  change/@ni-nimble-components-48cb5f42-1091-4c98-a89c-eee397e08c53.json
  change/@ni-xliff-to-json-converter-90ddc9e1-ed12-4aab-b413-5ff9e082b4e4.json
  package-lock.json
  packages/nimble-blazor/CHANGELOG.json
  packages/nimble-components/CHANGELOG.json
  packages/xliff-to-json-converter/CHANGELOG.json
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00, @msmithNI, @TrevorKarjanis

Update XD link for tooltip
  packages/nimble-components/src/tooltip/specs/README.md
  packages/nimble-components/src/tooltip/tests/tooltip-matrix.stories.ts
  packages/nimble-components/src/tooltip/tests/tooltip.stories.ts
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Change files
  change/@ni-nimble-components-7f0d6180-9d1b-4fc8-ad8e-7c6e41f0da40.json
Owners: none

Update XD link for tooltip (#821)
  change/@ni-nimble-components-7f0d6180-9d1b-4fc8-ad8e-7c6e41f0da40.json
  packages/nimble-components/src/tooltip/specs/README.md
  packages/nimble-components/src/tooltip/tests/tooltip-matrix.stories.ts
  packages/nimble-components/src/tooltip/tests/tooltip.stories.ts
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

applying package updates [skip ci]
  change/@ni-nimble-components-7f0d6180-9d1b-4fc8-ad8e-7c6e41f0da40.json
  packages/nimble-components/CHANGELOG.json
Owners: @rajsite, @jattasNI

linear and color scales, axis ranges
  package-lock.json
  packages/nimble-components/package.json
  packages/nimble-components/src/wafer-map/data-types/AxisAttributes.ts
  packages/nimble-components/src/wafer-map/data-types/WaferMapMetadata.ts
  packages/nimble-components/src/wafer-map/data-types/WaferMapRenderingObject.ts
  packages/nimble-components/src/wafer-map/index.ts
  packages/nimble-components/src/wafer-map/tests/wafer-map.spec.ts
Owners: @rajsite, @jattasNI, @fredvisser

Add height test stories for radio group and switch
  packages/nimble-components/src/radio-group/tests/radio-group-matrix.stories.ts
  packages/nimble-components/src/switch/tests/switch-matrix.stories.ts
Owners: @rajsite, @jattasNI

Prettier fix
  packages/nimble-components/src/switch/tests/switch-matrix.stories.ts
Owners: @rajsite, @jattasNI

Update the documentation for the labelHeight token
  packages/nimble-components/src/theme-provider/design-token-comments.ts
Owners: @rajsite, @jattasNI

Prettier fix
  packages/nimble-components/src/theme-provider/design-token-comments.ts
Owners: @rajsite, @jattasNI

Adjust control height based on label presence (#808)
  change/@ni-nimble-components-30881da7-4a97-48ad-81c0-db79e1c01c98.json
  packages/nimble-components/src/number-field/styles.ts
  packages/nimble-components/src/number-field/tests/number-field-matrix.stories.ts
  packages/nimble-components/src/radio-group/tests/radio-group-matrix.stories.ts
  packages/nimble-components/src/switch/tests/switch-matrix.stories.ts
  packages/nimble-components/src/text-area/tests/text-area-matrix.stories.ts
  packages/nimble-components/src/text-field/styles.ts
  packages/nimble-components/src/text-field/tests/text-field-matrix.stories.ts
  packages/nimble-components/src/theme-provider/design-token-comments.ts
Owners: @rajsite, @jattasNI

applying package updates [skip ci]
  angular-workspace/projects/ni/nimble-angular/CHANGELOG.json
  angular-workspace/projects/ni/nimble-angular/CHANGELOG.md
  angular-workspace/projects/ni/nimble-angular/package.json
  change/@ni-nimble-components-30881da7-4a97-48ad-81c0-db79e1c01c98.json
  package-lock.json
  packages/nimble-blazor/package.json
  packages/nimble-components/CHANGELOG.json
  packages/nimble-components/CHANGELOG.md
  packages/nimble-components/package.json
Owners: @rajsite, @atmgrifter00, @jattasNI, @fredvisser, @msmithNI

Initial commit.
  packages/nimble-components/src/table/specs/spec-images/sleTable.png
  packages/nimble-components/src/table/specs/table-data-api.md
  packages/nimble-components/src/table/specs/table-spec.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

nimble-wafer-map component spec document (#805)
  change/@ni-nimble-components-c13b8a3d-c982-4783-bd4d-effc9a43ffa1.json
  packages/nimble-components/src/wafer-map/specs/README.md
  packages/nimble-components/src/wafer-map/specs/Resources/bottom_left.png
  packages/nimble-components/src/wafer-map/specs/Resources/bottom_right.png
  packages/nimble-components/src/wafer-map/specs/Resources/color_scale.png
  packages/nimble-components/src/wafer-map/specs/Resources/top_left.png
  packages/nimble-components/src/wafer-map/specs/Resources/top_right.png
  packages/nimble-components/src/wafer-map/specs/Resources/wafer_map_example.png
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

applying package updates [skip ci]
  change/@ni-nimble-components-c13b8a3d-c982-4783-bd4d-effc9a43ffa1.json
  packages/nimble-components/CHANGELOG.json
Owners: @rajsite, @jattasNI

Update package metadata
  angular-workspace/package.json
  angular-workspace/projects/example-client-app/build-assets/package.json
  package-lock.json
  package.json
  packages/site/package.json
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Consistent private package configuration (#823)
  angular-workspace/package.json
  angular-workspace/projects/example-client-app/build-assets/package.json
  package-lock.json
  package.json
  packages/site/package.json
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

created data service v0.1, removed redundant code
  packages/nimble-components/src/wafer-map/data-types/AxisAttributes.ts
  packages/nimble-components/src/wafer-map/index.ts
  packages/nimble-components/src/wafer-map/services/data.service.ts
Owners: @rajsite, @jattasNI

Examples HLD
  specs/examples/README.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Initial pass complete.
  packages/nimble-components/src/table/specs/table-data-api.md
  packages/nimble-components/src/table/specs/table-spec.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Implemented feedback
  change/@ni-nimble-components-6bd07a0a-7f59-4440-989a-516fca7124bf.json
  packages/nimble-components/src/wafer-map/data-types/WaferMapColorsScale.ts
  packages/nimble-components/src/wafer-map/data-types/WaferMapDie.ts
  packages/nimble-components/src/wafer-map/data-types/WaferMapMetadata.ts
  packages/nimble-components/src/wafer-map/data-types/WaferMapRenderingObject.ts
  packages/nimble-components/src/wafer-map/index.ts
  packages/nimble-components/src/wafer-map/models/wafer-map-metadata.ts
  packages/nimble-components/src/wafer-map/models/wafer-map-rendering-object.ts
  packages/nimble-components/src/wafer-map/tests/types.spec.ts
  packages/nimble-components/src/wafer-map/types.ts
Owners: @rajsite, @jattasNI

Fixed lint
  packages/nimble-components/src/wafer-map/models/wafer-map-metadata.ts
  packages/nimble-components/src/wafer-map/models/wafer-map-rendering-object.ts
  packages/nimble-components/src/wafer-map/tests/types.spec.ts
  packages/nimble-components/src/wafer-map/types.ts
Owners: @rajsite, @jattasNI

Add TanStack integration details.
  packages/nimble-components/src/table/specs/table-spec.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Lint fixes.
  packages/nimble-components/src/table/specs/table-spec.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Change files
  change/@ni-nimble-components-46257154-f1f7-45bf-9b5a-48945f258451.json
Owners: none

First draft of nimble-anchor spec
  packages/nimble-components/src/anchor/specs/README.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Change files
  change/@ni-nimble-components-bd130048-dcc9-4c2c-a971-da113327b3c4.json
Owners: none

data service v0.2 monolith with interfaces
  packages/nimble-components/src/wafer-map/index.ts
  packages/nimble-components/src/wafer-map/services/data.service.ts
Owners: @rajsite, @jattasNI

Prettier fix
  packages/nimble-components/src/anchor/specs/README.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

ds v0.3 changed inputs and added test
  packages/nimble-components/src/wafer-map/index.ts
  packages/nimble-components/src/wafer-map/services/data.service.ts
  packages/nimble-components/src/wafer-map/tests/data.service.spec.ts
  packages/nimble-components/src/wafer-map/tests/wafer-map.spec.ts
Owners: @rajsite, @jattasNI

Updated interface
  packages/nimble-components/src/wafer-map/index.ts
  packages/nimble-components/src/wafer-map/models/wafer-map-metadata.ts
  packages/nimble-components/src/wafer-map/models/wafer-map-rendering-object.ts
Owners: @rajsite, @jattasNI

Updated spec
  packages/nimble-components/src/wafer-map/specs/README.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Updated table in readme file
  README.md
Owners: @rajsite, @jattasNI, @fredvisser

Fixed lint
  packages/nimble-components/src/wafer-map/index.ts
Owners: @rajsite, @jattasNI

Add button appearances and attributes
  packages/nimble-components/src/anchor/specs/README.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Mention navigation tabs and sharing styling
  packages/nimble-components/src/anchor/specs/README.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Prettier fix
  packages/nimble-components/src/anchor/specs/README.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Update packages/nimble-components/src/table/specs/table-spec.md
  packages/nimble-components/src/table/specs/table-spec.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Update packages/nimble-components/src/table/specs/table-spec.md
  packages/nimble-components/src/table/specs/table-spec.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Capture contributing policies in docs
  .github/ISSUE_TEMPLATE/new_component.md
  CONTRIBUTING.md
  packages/nimble-components/CONTRIBUTING.md
  specs/templates/custom-component.md
  specs/templates/fast-based-component.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

.github/CODEOWNERS:

# Copyright (c) 2021 National Instruments

# Each line is a file pattern followed by one or more owners.
# More info: https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners

# These owners will be the default owners for everything in the repo.
* @rajsite @jattasNI @fredvisser

# Owners of specific locations or file patterns in the repo. Locations are relative to the root of the repo.
# Order is important. The last matching pattern has the most precedence.

# Specific packages
/angular-workspace/projects/example-client-app @rajsite @atmgrifter00
/angular-workspace/projects/ni/nimble-angular @rajsite @atmgrifter00
/packages/nimble-blazor @atmgrifter00 @msmithNI
/packages/nimble-components @rajsite @jattasNI
/packages/nimble-tokens @rajsite @jattasNI @fredvisser
/packages/site @rajsite @jattasNI
/packages/xliff-to-json-converter @rajsite @TrevorKarjanis @jattasNI

# Specs (placed after packages to have higher precedence for spec files contained in packages)
specs @rajsite @jattasNI @fredvisser @atmgrifter00

# Change files don't need explicit reviewers
/change
