Repository ni/nimble, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00, @msmithNI, @TrevorKarjanis

Minor changes.
  packages/nimble-blazor/Examples/Demo.Shared/Pages/ComponentsDemo.razor
  packages/nimble-blazor/Examples/Demo.Shared/Pages/ComponentsDemo.razor.cs
  packages/nimble-blazor/Examples/Demo.Shared/Pages/ComponentsDemo.razor.css
  packages/nimble-blazor/NimbleBlazor/Components/NimbleTable.razor.cs
Owners: @atmgrifter00, @msmithNI

applying package updates [skip ci]
  change/@ni-nimble-blazor-956c2fbb-7d8b-4e19-9c09-d5996fabcc9c.json
  packages/nimble-blazor/CHANGELOG.json
Owners: @atmgrifter00, @msmithNI

Added proper constructor to the rendering module
  packages/nimble-components/src/wafer-map/index.ts
  packages/nimble-components/src/wafer-map/modules/rendering.ts
Owners: @rajsite, @jattasNI

Obtaining canvas context in rendering module constructor.
  .eslintrc.js
  packages/nimble-components/src/wafer-map/modules/rendering.ts
Owners: @rajsite, @jattasNI, @fredvisser

Change files
  change/@ni-nimble-components-d62c8a19-26e8-448d-831b-ddc56969c9bb.json
  change/@ni-nimble-components-fc674867-44f6-4662-a2e8-3e8ab928d054.json
Owners: none

Implemented feedback from Jesse Attas
  packages/nimble-components/src/wafer-map/template.ts
  packages/nimble-components/src/wafer-map/tests/wafer-map-matrix.stories.ts
Owners: @rajsite, @jattasNI

Updated highlighted values sets so now 3 out of 4 sets produces results
  packages/nimble-components/src/wafer-map/tests/sets.ts
Owners: @rajsite, @jattasNI

Implemented feedback
  packages/nimble-components/src/wafer-map/styles.ts
Owners: @rajsite, @jattasNI

Reverting file
  .eslintrc.js
Owners: @rajsite, @jattasNI, @fredvisser

.github/CODEOWNERS:

# Copyright (c) 2021 National Instruments

# Each line is a file pattern followed by one or more owners.
# More info: https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners

# These owners will be the default owners for everything in the repo.
* @rajsite @jattasNI @fredvisser

# Owners of specific locations or file patterns in the repo. Locations are relative to the root of the repo.
# Order is important. The last matching pattern has the most precedence.

# Specific packages
/angular-workspace/projects/example-client-app @rajsite @atmgrifter00
/angular-workspace/projects/ni/nimble-angular @rajsite @atmgrifter00
/packages/nimble-blazor @atmgrifter00 @msmithNI
/packages/nimble-components @rajsite @jattasNI
/packages/nimble-tokens @rajsite @jattasNI @fredvisser
/packages/site @rajsite @jattasNI
/packages/xliff-to-json-converter @rajsite @TrevorKarjanis @jattasNI

# Specs (placed after packages to have higher precedence for spec files contained in packages)
specs @rajsite @jattasNI @fredvisser @atmgrifter00

# Change files don't need explicit reviewers
/change
