Repository ni/nimble, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00, @msmithNI, @TrevorKarjanis

Disable updates for everything but npm
  renovate.json
Owners: @rajsite, @jattasNI, @fredvisser

Try rangeStrategy update-lockfile
  renovate.json
Owners: @rajsite, @jattasNI, @fredvisser

Add some package rules
  renovate.json
Owners: @rajsite, @jattasNI, @fredvisser

Addressed some feedback
  packages/nimble-components/src/wafer-map/index.ts
  packages/nimble-components/src/wafer-map/specs/README.md
  packages/nimble-components/src/wafer-map/tests/types.spec.ts
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

fixed lint
  packages/nimble-components/src/wafer-map/tests/types.spec.ts
Owners: @rajsite, @jattasNI

split data service into modules
  packages/nimble-components/src/wafer-map/index.ts
  packages/nimble-components/src/wafer-map/modules/computations.module.ts
  packages/nimble-components/src/wafer-map/modules/data.module.ts
  packages/nimble-components/src/wafer-map/modules/prerendering.module.ts
  packages/nimble-components/src/wafer-map/services/data.service.ts
  packages/nimble-components/src/wafer-map/tests/data.module.spec.ts
  packages/nimble-components/src/wafer-map/tests/data.service.spec.ts
  packages/nimble-components/src/wafer-map/types.ts
Owners: @rajsite, @jattasNI

Deleted wafer- prefix in attributes
  packages/nimble-components/src/wafer-map/index.ts
Owners: @rajsite, @jattasNI

Update packages/nimble-components/src/wafer-map/specs/README.md
  packages/nimble-components/src/wafer-map/specs/README.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Updated and changed the interface
  packages/nimble-components/src/wafer-map/index.ts
  packages/nimble-components/src/wafer-map/specs/README.md
  packages/nimble-components/src/wafer-map/types.ts
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

fixed lint
  packages/nimble-components/src/wafer-map/specs/README.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Updated "wafer" prefix in spec too
  packages/nimble-components/src/wafer-map/specs/README.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

deleted tests
  packages/nimble-components/src/wafer-map/tests/types.spec.ts
Owners: @rajsite, @jattasNI

fixed lint
  packages/nimble-components/src/wafer-map/tests/types.spec.ts
Owners: @rajsite, @jattasNI

changed interfaces
  packages/nimble-components/src/wafer-map/data-types/WaferMapColorsScale.ts
  packages/nimble-components/src/wafer-map/data-types/WaferMapDie.ts
  packages/nimble-components/src/wafer-map/index.ts
  packages/nimble-components/src/wafer-map/modules/computations.module.ts
  packages/nimble-components/src/wafer-map/modules/data.module.ts
  packages/nimble-components/src/wafer-map/modules/prerendering.module.ts
  packages/nimble-components/src/wafer-map/tests/data.module.spec.ts
  packages/nimble-components/src/wafer-map/tests/wafer-map.spec.ts
Owners: @rajsite, @jattasNI

First pass at anchor component
  packages/nimble-components/src/all-components.ts
  packages/nimble-components/src/anchor/index.ts
  packages/nimble-components/src/anchor/styles.ts
  packages/nimble-components/src/anchor/tests/anchor.stories.ts
  packages/nimble-components/src/anchor/types.ts
  packages/nimble-components/src/breadcrumb-item/styles.ts
  packages/nimble-components/src/breadcrumb/styles.ts
  packages/nimble-components/src/button/styles.ts
  packages/nimble-components/src/patterns/button/styles.ts
  packages/nimble-components/src/patterns/link/styles.ts
Owners: @rajsite, @jattasNI

Expand Angular and Blazor sections
  packages/nimble-components/src/anchor/specs/README.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Make separate stories for different appearances
  packages/nimble-components/src/anchor/tests/anchor.stories.ts
Owners: @rajsite, @jattasNI

Remove old ref to underline attribute
  packages/nimble-components/src/anchor/specs/README.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Greatly expand tabs/menu/tree section
  packages/nimble-components/src/anchor/specs/README.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Update packages/nimble-components/src/wafer-map/index.ts
  packages/nimble-components/src/wafer-map/index.ts
Owners: @rajsite, @jattasNI

Update packages/nimble-components/src/wafer-map/index.ts
  packages/nimble-components/src/wafer-map/index.ts
Owners: @rajsite, @jattasNI

Update packages/nimble-components/src/wafer-map/index.ts
  packages/nimble-components/src/wafer-map/index.ts
Owners: @rajsite, @jattasNI

Update packages/nimble-components/src/wafer-map/index.ts
  packages/nimble-components/src/wafer-map/index.ts
Owners: @rajsite, @jattasNI

created computations tests
  packages/nimble-components/src/wafer-map/tests/computations.spec.ts
  packages/nimble-components/src/wafer-map/tests/data.module.spec.ts
  packages/nimble-components/src/wafer-map/tests/utilities.ts
  packages/nimble-components/src/wafer-map/tests/wafer-map.spec.ts
Owners: @rajsite, @jattasNI

Addressed feedback
  packages/nimble-components/src/wafer-map/index.ts
  packages/nimble-components/src/wafer-map/specs/README.md
  packages/nimble-components/src/wafer-map/tests/types.spec.ts
  packages/nimble-components/src/wafer-map/types.ts
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Fixed lint
  packages/nimble-components/src/wafer-map/index.ts
  packages/nimble-components/src/wafer-map/tests/types.spec.ts
  packages/nimble-components/src/wafer-map/types.ts
Owners: @rajsite, @jattasNI

Create WaferMap skeleton in nimble repo (#818)
  README.md
  change/@ni-nimble-components-6bd07a0a-7f59-4440-989a-516fca7124bf.json
  packages/nimble-components/src/all-components.ts
  packages/nimble-components/src/wafer-map/index.ts
  packages/nimble-components/src/wafer-map/specs/README.md
  packages/nimble-components/src/wafer-map/styles.ts
  packages/nimble-components/src/wafer-map/template.ts
  packages/nimble-components/src/wafer-map/tests/types.spec.ts
  packages/nimble-components/src/wafer-map/tests/wafer-map.spec.ts
  packages/nimble-components/src/wafer-map/types.ts
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

applying package updates [skip ci]
  angular-workspace/projects/ni/nimble-angular/CHANGELOG.json
  angular-workspace/projects/ni/nimble-angular/CHANGELOG.md
  angular-workspace/projects/ni/nimble-angular/package.json
  change/@ni-nimble-components-6bd07a0a-7f59-4440-989a-516fca7124bf.json
  package-lock.json
  packages/nimble-blazor/package.json
  packages/nimble-components/CHANGELOG.json
  packages/nimble-components/CHANGELOG.md
  packages/nimble-components/package.json
Owners: @rajsite, @atmgrifter00, @jattasNI, @fredvisser, @msmithNI

created Computations module
  package-lock.json
  packages/nimble-components/package.json
  packages/nimble-components/src/wafer-map/modules/computations.module.ts
  packages/nimble-components/src/wafer-map/tests/computations.spec.ts
  packages/nimble-components/src/wafer-map/tests/utilities.ts
  packages/nimble-components/src/wafer-map/types.ts
Owners: @rajsite, @jattasNI, @fredvisser

updated type import
  packages/nimble-components/src/wafer-map/tests/computations.spec.ts
Owners: @rajsite, @jattasNI

Change files
  change/@ni-nimble-components-c6c83088-a25b-49f2-bd8f-50abc517ede5.json
Owners: none

Update @ni-nimble-components-c6c83088-a25b-49f2-bd8f-50abc517ede5.json
  change/@ni-nimble-components-c6c83088-a25b-49f2-bd8f-50abc517ede5.json
Owners: none

First commit - basic implementation of the story with arguments and argument types
  packages/nimble-components/src/wafer-map/index.ts
  packages/nimble-components/src/wafer-map/template.ts
  packages/nimble-components/src/wafer-map/tests/wafer-map.stories.ts
Owners: @rajsite, @jattasNI

Wafer-map prototype
  packages/nimble-components/src/all-components.ts
  packages/nimble-components/src/wafer-map/index.ts
  packages/nimble-components/src/wafer-map/styles.ts
  packages/nimble-components/src/wafer-map/template.ts
  packages/nimble-components/src/wafer-map/tests/wafer-map.stories.ts
Owners: @rajsite, @jattasNI

Attempt to render wafermap proto
  packages/nimble-components/src/wafer-map/index.ts
  packages/nimble-components/src/wafer-map/modules/rendering.module.ts
  packages/nimble-components/src/wafer-map/template.ts
Owners: @rajsite, @jattasNI

Change Angular directive inheritance
  packages/nimble-components/src/anchor/specs/README.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Commented lines for test
  packages/nimble-components/src/wafer-map/template.ts
Owners: @rajsite, @jattasNI

Prettier fix
  packages/nimble-components/src/anchor/specs/README.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Center icons better in text appearance
  packages/nimble-components/src/anchor/styles.ts
Owners: @rajsite, @jattasNI

Add endIcon to story and more descriptions
  packages/nimble-components/src/anchor/tests/anchor.stories.ts
Owners: @rajsite, @jattasNI

.github/CODEOWNERS:

# Copyright (c) 2021 National Instruments

# Each line is a file pattern followed by one or more owners.
# More info: https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners

# These owners will be the default owners for everything in the repo.
* @rajsite @jattasNI @fredvisser

# Owners of specific locations or file patterns in the repo. Locations are relative to the root of the repo.
# Order is important. The last matching pattern has the most precedence.

# Specific packages
/angular-workspace/projects/example-client-app @rajsite @atmgrifter00
/angular-workspace/projects/ni/nimble-angular @rajsite @atmgrifter00
/packages/nimble-blazor @atmgrifter00 @msmithNI
/packages/nimble-components @rajsite @jattasNI
/packages/nimble-tokens @rajsite @jattasNI @fredvisser
/packages/site @rajsite @jattasNI
/packages/xliff-to-json-converter @rajsite @TrevorKarjanis @jattasNI

# Specs (placed after packages to have higher precedence for spec files contained in packages)
specs @rajsite @jattasNI @fredvisser @atmgrifter00

# Change files don't need explicit reviewers
/change
