Repository ni/nimble, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rajsite, @jattasNI, @atmgrifter00, @msmithNI, @DStavilaNI, @munteannatan, @vivinkrishna-ni, @fredvisser, @TrevorKarjanis, @mollykreis

Update nimble-select, nimble-combobox, nimble-text-area, nimble-number-field, and nimble-text-field to support appearance-readonly and full-bleed
  packages/blazor-workspace/NimbleBlazor/Components/NimbleCombobox.razor
  packages/blazor-workspace/NimbleBlazor/Components/NimbleCombobox.razor.cs
  packages/blazor-workspace/NimbleBlazor/Components/NimbleNumberField.razor
  packages/blazor-workspace/NimbleBlazor/Components/NimbleNumberField.razor.cs
  packages/blazor-workspace/NimbleBlazor/Components/NimbleSelect.razor
  packages/blazor-workspace/NimbleBlazor/Components/NimbleSelect.razor.cs
  packages/blazor-workspace/NimbleBlazor/Components/NimbleTextArea.razor
  packages/blazor-workspace/NimbleBlazor/Components/NimbleTextArea.razor.cs
  packages/blazor-workspace/NimbleBlazor/Components/NimbleTextField.razor
  packages/blazor-workspace/NimbleBlazor/Components/NimbleTextField.razor.cs
  packages/blazor-workspace/NimbleBlazor/DropdownAppearance.cs
  packages/blazor-workspace/NimbleBlazor/NumberFieldAppearance.cs
  packages/blazor-workspace/Tests/NimbleBlazor.Tests/Unit/Components/NimbleComboboxTests.cs
  packages/blazor-workspace/Tests/NimbleBlazor.Tests/Unit/Components/NimbleNumberFieldTests.cs
  packages/blazor-workspace/Tests/NimbleBlazor.Tests/Unit/Components/NimbleSelectTests.cs
  packages/blazor-workspace/Tests/NimbleBlazor.Tests/Unit/Components/NimbleTextAreaTests.cs
  packages/blazor-workspace/Tests/NimbleBlazor.Tests/Unit/Components/NimbleTextFieldTests.cs
Owners: @rajsite, @atmgrifter00, @msmithNI

Change files
  change/@ni-nimble-blazor-4db319a8-120e-46bd-b234-085a96bdbf0c.json
Owners: none

Incomplete focus styling
  packages/spright-components/src/chat/input/styles.ts
  packages/spright-components/src/utilities/style/focus.ts
Owners: @rajsite, @jattasNI

Fix build
  packages/react-workspace/spright-react/src/chat/input/index.ts
  packages/storybook/src/spright/chat/conversation/chat-conversation.stories.ts
  packages/storybook/src/spright/chat/input/chat-input.react.tsx
Owners: @rajsite, @jattasNI

Update Blazor components with appearance-readonly and full-bleed (#2619)
  change/@ni-nimble-blazor-4db319a8-120e-46bd-b234-085a96bdbf0c.json
  packages/blazor-workspace/NimbleBlazor/Components/NimbleCombobox.razor
  packages/blazor-workspace/NimbleBlazor/Components/NimbleCombobox.razor.cs
  packages/blazor-workspace/NimbleBlazor/Components/NimbleNumberField.razor
  packages/blazor-workspace/NimbleBlazor/Components/NimbleNumberField.razor.cs
  packages/blazor-workspace/NimbleBlazor/Components/NimbleSelect.razor
  packages/blazor-workspace/NimbleBlazor/Components/NimbleSelect.razor.cs
  packages/blazor-workspace/NimbleBlazor/Components/NimbleTextArea.razor
  packages/blazor-workspace/NimbleBlazor/Components/NimbleTextArea.razor.cs
  packages/blazor-workspace/NimbleBlazor/Components/NimbleTextField.razor
  packages/blazor-workspace/NimbleBlazor/Components/NimbleTextField.razor.cs
  packages/blazor-workspace/NimbleBlazor/DropdownAppearance.cs
  packages/blazor-workspace/NimbleBlazor/NumberFieldAppearance.cs
  packages/blazor-workspace/Tests/NimbleBlazor.Tests/Unit/Components/NimbleComboboxTests.cs
  packages/blazor-workspace/Tests/NimbleBlazor.Tests/Unit/Components/NimbleNumberFieldTests.cs
  packages/blazor-workspace/Tests/NimbleBlazor.Tests/Unit/Components/NimbleSelectTests.cs
  packages/blazor-workspace/Tests/NimbleBlazor.Tests/Unit/Components/NimbleTextAreaTests.cs
  packages/blazor-workspace/Tests/NimbleBlazor.Tests/Unit/Components/NimbleTextFieldTests.cs
Owners: @rajsite, @atmgrifter00, @msmithNI

applying package updates [skip ci]
  change/@ni-nimble-blazor-4db319a8-120e-46bd-b234-085a96bdbf0c.json
  package-lock.json
  packages/blazor-workspace/NimbleBlazor/CHANGELOG.json
  packages/blazor-workspace/NimbleBlazor/CHANGELOG.md
  packages/blazor-workspace/NimbleBlazor/package.json
Owners: @rajsite, @jattasNI, @atmgrifter00, @msmithNI

Add additional icon metaphors
  packages/nimble-components/src/icon-base/tests/icon-metadata.ts
Owners: @rajsite, @jattasNI

Change files
  change/@ni-nimble-components-8596878d-563e-4202-8a8d-76d1ccf93348.json
Owners: none

Set input attributes in storybook
  packages/storybook/src/spright/chat/conversation/chat-conversation.stories.ts
  packages/storybook/src/spright/chat/input/chat-input.stories.ts
Owners: @rajsite, @jattasNI

.
  packages/storybook/src/spright/chat/conversation/chat-conversation.stories.ts
Owners: @rajsite, @jattasNI

Add icon metaphors (#2620)
  change/@ni-nimble-components-8596878d-563e-4202-8a8d-76d1ccf93348.json
  packages/nimble-components/src/icon-base/tests/icon-metadata.ts
Owners: @rajsite, @jattasNI

applying package updates [skip ci]
  change/@ni-nimble-components-8596878d-563e-4202-8a8d-76d1ccf93348.json
  package-lock.json
  packages/angular-workspace/nimble-angular/CHANGELOG.json
  packages/angular-workspace/nimble-angular/CHANGELOG.md
  packages/angular-workspace/nimble-angular/package.json
  packages/angular-workspace/spright-angular/CHANGELOG.json
  packages/angular-workspace/spright-angular/CHANGELOG.md
  packages/angular-workspace/spright-angular/package.json
  packages/blazor-workspace/NimbleBlazor/CHANGELOG.json
  packages/blazor-workspace/NimbleBlazor/CHANGELOG.md
  packages/blazor-workspace/NimbleBlazor/package.json
  packages/blazor-workspace/SprightBlazor/CHANGELOG.json
  packages/blazor-workspace/SprightBlazor/CHANGELOG.md
  packages/blazor-workspace/SprightBlazor/package.json
  packages/nimble-components/CHANGELOG.json
  packages/nimble-components/CHANGELOG.md
  packages/nimble-components/package.json
  packages/react-workspace/nimble-react/CHANGELOG.json
  packages/react-workspace/nimble-react/CHANGELOG.md
  packages/react-workspace/nimble-react/package.json
  packages/react-workspace/react-client-app/package.json
  packages/react-workspace/spright-react/CHANGELOG.json
  packages/react-workspace/spright-react/CHANGELOG.md
  packages/react-workspace/spright-react/package.json
  packages/spright-components/CHANGELOG.json
  packages/spright-components/CHANGELOG.md
  packages/spright-components/package.json
Owners: @rajsite, @jattasNI, @atmgrifter00, @msmithNI

New API
  packages/spright-components/src/chat/specs/README.md
Owners: @rajsite, @jattasNI, @atmgrifter00, @mollykreis

format
  packages/spright-components/src/chat/specs/README.md
Owners: @rajsite, @jattasNI, @atmgrifter00, @mollykreis

Safari tech preview
  packages/spright-components/src/chat/specs/README.md
Owners: @rajsite, @jattasNI, @atmgrifter00, @mollykreis

import NimbleSpinner
  packages/storybook/src/nimble/table-column/mapping/table-column-mapping.mdx
Owners: @rajsite, @jattasNI

NimbleSpinner import missing from Mapping column doc (#2621)
  packages/storybook/src/nimble/table-column/mapping/table-column-mapping.mdx
Owners: @rajsite, @jattasNI

Change files
  change/@ni-nimble-components-4f2a057c-151b-4205-842b-815e853144d9.json
Owners: none

Arrow and style-dictionary
  packages/blazor-workspace/NimbleBlazor/NimbleBlazor.csproj
  packages/blazor-workspace/global.json
  packages/nimble-components/package.json
  packages/nimble-tokens/package.json
  packages/storybook/package.json
Owners: @rajsite, @atmgrifter00, @msmithNI, @jattasNI, @fredvisser

Update blazor lock files
  packages/blazor-workspace/Examples/Demo.Client/packages.lock.json
  packages/blazor-workspace/Examples/Demo.Hybrid/packages.lock.json
  packages/blazor-workspace/Examples/Demo.Server/packages.lock.json
  packages/blazor-workspace/Examples/Demo.Shared/packages.lock.json
  packages/blazor-workspace/NimbleBlazor/packages.lock.json
  packages/blazor-workspace/Tests/BlazorWorkspace.Testing.Acceptance/packages.lock.json
  packages/blazor-workspace/Tests/NimbleBlazor.Tests.Acceptance.Client/packages.lock.json
  packages/blazor-workspace/Tests/NimbleBlazor.Tests.Acceptance/packages.lock.json
  packages/blazor-workspace/Tests/NimbleBlazor.Tests/packages.lock.json
  packages/blazor-workspace/Tests/SprightBlazor.Tests.Acceptance/packages.lock.json
Owners: @rajsite, @atmgrifter00, @msmithNI

rebuild lockfile
  package-lock.json
Owners: @rajsite, @jattasNI

Change files
  change/@ni-nimble-blazor-2e08a95f-c703-4a01-a627-d0eb3a5bbefb.json
  change/@ni-nimble-components-c61dd6c6-1bf9-4c4c-8519-2f1de8c8d406.json
  change/@ni-nimble-tokens-b8f82f0b-aeb5-4847-a092-de003cd813f1.json
  change/@ni-spright-blazor-54b66d41-1e03-4aa8-b83a-0ef3ed11f745.json
Owners: none

Add partial class for Demo.Shared\Routes to workaround dotnet format issue
  packages/blazor-workspace/Examples/Demo.Shared/Routes.razor.cs
Owners: @rajsite, @atmgrifter00, @msmithNI

Dependency update June 2025 (#2624)
  change/@ni-nimble-blazor-2e08a95f-c703-4a01-a627-d0eb3a5bbefb.json
  change/@ni-nimble-components-c61dd6c6-1bf9-4c4c-8519-2f1de8c8d406.json
  change/@ni-nimble-tokens-b8f82f0b-aeb5-4847-a092-de003cd813f1.json
  change/@ni-spright-blazor-54b66d41-1e03-4aa8-b83a-0ef3ed11f745.json
  package-lock.json
  packages/blazor-workspace/Examples/Demo.Client/Demo.Client.csproj
  packages/blazor-workspace/Examples/Demo.Client/packages.lock.json
  packages/blazor-workspace/Examples/Demo.Hybrid/Demo.Hybrid.csproj
  packages/blazor-workspace/Examples/Demo.Hybrid/packages.lock.json
  packages/blazor-workspace/Examples/Demo.Server/packages.lock.json
  packages/blazor-workspace/Examples/Demo.Shared/Demo.Shared.csproj
  packages/blazor-workspace/Examples/Demo.Shared/Routes.razor.cs
  packages/blazor-workspace/Examples/Demo.Shared/packages.lock.json
  packages/blazor-workspace/NimbleBlazor/NimbleBlazor.csproj
  packages/blazor-workspace/NimbleBlazor/packages.lock.json
  packages/blazor-workspace/SprightBlazor/SprightBlazor.csproj
  packages/blazor-workspace/SprightBlazor/packages.lock.json
  packages/blazor-workspace/Tests/BlazorWorkspace.Testing.Acceptance/BlazorWorkspace.Testing.Acceptance.csproj
  packages/blazor-workspace/Tests/BlazorWorkspace.Testing.Acceptance/packages.lock.json
  packages/blazor-workspace/Tests/NimbleBlazor.Tests.Acceptance.Client/NimbleBlazor.Tests.Acceptance.Client.csproj
  packages/blazor-workspace/Tests/NimbleBlazor.Tests.Acceptance.Client/packages.lock.json
  packages/blazor-workspace/Tests/NimbleBlazor.Tests.Acceptance/NimbleBlazor.Tests.Acceptance.csproj
  packages/blazor-workspace/Tests/NimbleBlazor.Tests.Acceptance/packages.lock.json
  packages/blazor-workspace/Tests/NimbleBlazor.Tests/NimbleBlazor.Tests.csproj
  packages/blazor-workspace/Tests/NimbleBlazor.Tests/packages.lock.json
  packages/blazor-workspace/Tests/SprightBlazor.Tests.Acceptance/SprightBlazor.Tests.Acceptance.csproj
  packages/blazor-workspace/Tests/SprightBlazor.Tests.Acceptance/packages.lock.json
  packages/blazor-workspace/Tests/SprightBlazor.Tests/SprightBlazor.Tests.csproj
  packages/blazor-workspace/Tests/SprightBlazor.Tests/packages.lock.json
  packages/blazor-workspace/global.json
  packages/nimble-components/package.json
  packages/nimble-tokens/package.json
  packages/storybook/package.json
Owners: @rajsite, @jattasNI, @atmgrifter00, @msmithNI, @fredvisser

applying package updates [skip ci]
  change/@ni-nimble-blazor-2e08a95f-c703-4a01-a627-d0eb3a5bbefb.json
  change/@ni-nimble-components-c61dd6c6-1bf9-4c4c-8519-2f1de8c8d406.json
  change/@ni-nimble-tokens-b8f82f0b-aeb5-4847-a092-de003cd813f1.json
  change/@ni-spright-blazor-54b66d41-1e03-4aa8-b83a-0ef3ed11f745.json
  package-lock.json
  packages/angular-workspace/nimble-angular/CHANGELOG.json
  packages/angular-workspace/nimble-angular/CHANGELOG.md
  packages/angular-workspace/nimble-angular/package.json
  packages/angular-workspace/spright-angular/CHANGELOG.json
  packages/angular-workspace/spright-angular/CHANGELOG.md
  packages/angular-workspace/spright-angular/package.json
  packages/blazor-workspace/NimbleBlazor/CHANGELOG.json
  packages/blazor-workspace/NimbleBlazor/CHANGELOG.md
  packages/blazor-workspace/NimbleBlazor/package.json
  packages/blazor-workspace/SprightBlazor/CHANGELOG.json
  packages/blazor-workspace/SprightBlazor/CHANGELOG.md
  packages/blazor-workspace/SprightBlazor/package.json
  packages/nimble-components/CHANGELOG.json
  packages/nimble-components/CHANGELOG.md
  packages/nimble-components/package.json
  packages/nimble-tokens/CHANGELOG.json
  packages/nimble-tokens/CHANGELOG.md
  packages/nimble-tokens/package.json
  packages/react-workspace/nimble-react/CHANGELOG.json
  packages/react-workspace/nimble-react/CHANGELOG.md
  packages/react-workspace/nimble-react/package.json
  packages/react-workspace/react-client-app/package.json
  packages/react-workspace/spright-react/CHANGELOG.json
  packages/react-workspace/spright-react/CHANGELOG.md
  packages/react-workspace/spright-react/package.json
  packages/spright-components/CHANGELOG.json
  packages/spright-components/CHANGELOG.md
  packages/spright-components/package.json
Owners: @rajsite, @jattasNI, @atmgrifter00, @msmithNI, @fredvisser

Send/Stop accessibility questions
  packages/spright-components/src/chat/specs/README.md
Owners: @rajsite, @jattasNI, @atmgrifter00, @mollykreis

copy edits
  packages/spright-components/src/chat/specs/README.md
Owners: @rajsite, @jattasNI, @atmgrifter00, @mollykreis

remove autodocs
  packages/storybook/.storybook/preview.js
Owners: @rajsite, @jattasNI, @fredvisser

remove overrides
  packages/storybook/package.json
Owners: @rajsite, @jattasNI

remove webpack and resolve build issues
  package-lock.json
  packages/storybook/.storybook/main.js
  packages/storybook/.storybook/manager.js
  packages/storybook/.storybook/preview.js
  packages/storybook/.storybook/theme.js
  packages/storybook/package.json
  packages/storybook/src/nimble/icon-base/icons.mdx
  packages/storybook/src/nimble/icon-base/icons.stories.ts
  packages/storybook/src/nimble/theme-provider/color.mdx
Owners: @rajsite, @jattasNI, @fredvisser

improve vite config
  package-lock.json
  packages/storybook/.storybook/main.js
  packages/storybook/package.json
Owners: @rajsite, @jattasNI, @fredvisser

Add icon
  packages/nimble-tokens/dist/icons/svg/calendar-exclamation_16x16.svg
Owners: @rajsite, @jattasNI, @fredvisser

Remove defs
  packages/nimble-tokens/dist/icons/svg/calendar-exclamation_16x16.svg
Owners: @rajsite, @jattasNI, @fredvisser

metadata
  packages/nimble-components/src/icon-base/tests/icon-metadata.ts
Owners: @rajsite, @jattasNI

Change files
  change/@ni-nimble-components-933d846f-c22d-49ba-9970-08a8e1f8a1d0.json
  change/@ni-nimble-tokens-352a5bf0-f304-47dc-91d6-4b8f85f82b35.json
Owners: none

dependentChangeType
  change/@ni-nimble-components-933d846f-c22d-49ba-9970-08a8e1f8a1d0.json
Owners: none

disable tsconfigPaths
  packages/storybook/.storybook/main.js
Owners: @rajsite, @jattasNI, @fredvisser

HLD for localized decimal separator in number-field
  packages/nimble-components/src/number-field/specs/localized-decimal-separator-hld.md
  packages/nimble-components/src/number-field/specs/native_number_input.png
  packages/nimble-components/src/number-field/specs/value_shuffle.png
Owners: @rajsite, @jattasNI, @atmgrifter00, @mollykreis

Change files
  change/@ni-nimble-components-0c3d96e4-eb96-477c-a49c-38cdd9e000b5.json
Owners: none

test change
  packages/nimble-components/src/table/models/array-to-tree.ts
Owners: @rajsite, @jattasNI

.github/CODEOWNERS:

# Copyright (c) 2021 National Instruments

# Each line is a file pattern followed by one or more owners.
# More info: https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners

# These owners will be the default owners for everything in the repo.
* @rajsite @jattasNI

# Owners of specific locations or file patterns in the repo. Locations are relative to the root of the repo.
# Order is important. The last matching pattern has the most precedence.

# Specific packages
/packages/angular-workspace/example-client-app @rajsite @atmgrifter00
/packages/angular-workspace/nimble-angular @rajsite @atmgrifter00
/packages/angular-workspace/spright-angular @rajsite @atmgrifter00
/packages/blazor-workspace @rajsite @atmgrifter00 @msmithNI
/packages/nimble-components @rajsite @jattasNI
/packages/nimble-components/build/generate-workers @rajsite @jattasNI @DStavilaNI @munteannatan
/packages/nimble-components/src/wafer-map @rajsite @jattasNI @DStavilaNI @munteannatan
/packages/nimble-components/src/rich-text @rajsite @jattasNI @vivinkrishna-ni
/packages/nimble-components/src/rich-text-mention @rajsite @jattasNI @vivinkrishna-ni
/packages/nimble-tokens @rajsite @jattasNI @fredvisser
/packages/site @rajsite @jattasNI
/packages/spright-components @rajsite @jattasNI
/packages/storybook/.storybook @rajsite @jattasNI @fredvisser
/packages/xliff-to-json-converter @rajsite @TrevorKarjanis @jattasNI

# Specs (placed after packages to have higher precedence for spec files contained in packages)
specs @rajsite @jattasNI @atmgrifter00 @mollykreis

# Change files don't need explicit reviewers
/change
