Repository ni/nimble, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00, @msmithNI, @TrevorKarjanis

Change files
  change/@ni-nimble-components-d62c8a19-26e8-448d-831b-ddc56969c9bb.json
Owners: none

improve typing & fix typo
  packages/nimble-components/src/table/index.ts
  packages/nimble-components/src/table/tests/table.pageobject.ts
  packages/nimble-components/src/table/types.ts
Owners: @rajsite, @jattasNI

format
  packages/nimble-components/src/table/index.ts
  packages/nimble-components/src/table/types.ts
Owners: @rajsite, @jattasNI

updating links and styling
  packages/site/landing/index.html
  packages/site/landing/styles.scss
Owners: @rajsite, @jattasNI

nimble.ni.dev landing page update (#852)
  package-lock.json
  packages/site/.eleventy.js
  packages/site/landing/.eslintrc.js
  packages/site/landing/images/blazor.svg
  packages/site/landing/images/gh.svg
  packages/site/landing/images/ng.svg
  packages/site/landing/images/nimble-logo-black.png
  packages/site/landing/images/sb.svg
  packages/site/landing/index.html
  packages/site/landing/index.ts
  packages/site/landing/styles.scss
  packages/site/package.json
  packages/site/root/ni.svg
  packages/site/root/nimble-logo.png
  packages/site/root/nimble-ui-logo.svg
  packages/site/root/styles.css
  packages/site/src/index.html
  packages/site/tsconfig.json
Owners: @rajsite, @jattasNI, @fredvisser

Alphabetize component status table
  README.md
Owners: @rajsite, @jattasNI, @fredvisser

Point to table project instead of single issue
  README.md
Owners: @rajsite, @jattasNI, @fredvisser

Alphabetize component status table and update issue link (#903)
  README.md
Owners: @rajsite, @jattasNI, @fredvisser

Updates to improve lighthouse score
  packages/site/landing/images/nimble-logo-black.png
  packages/site/landing/images/nimble-ui-logo.svg
  packages/site/landing/index.html
Owners: @rajsite, @jattasNI

Updates to address landing page lighthouse (#904)
  packages/site/landing/images/nimble-logo-black.png
  packages/site/landing/images/nimble-ui-logo.svg
  packages/site/landing/index.html
Owners: @rajsite, @jattasNI

Addressed tech debt highlighted in the github issue: https://github.com/ni/nimble/issues/836
  packages/nimble-components/src/wafer-map/tests/wafer-map.stories.ts
Owners: @rajsite, @jattasNI

Applied boolean attribute syntax
  packages/nimble-components/src/wafer-map/tests/wafer-map.stories.ts
Owners: @rajsite, @jattasNI

Update
  packages/nimble-components/src/wafer-map/index.ts
  packages/nimble-components/src/wafer-map/modules/prerendering.ts
  packages/nimble-components/src/wafer-map/modules/rendering.ts
  packages/nimble-components/src/wafer-map/template.ts
  packages/nimble-components/src/wafer-map/tests/prerendering.coloring.spec.ts
  packages/nimble-components/src/wafer-map/tests/sets.ts
  packages/nimble-components/src/wafer-map/tests/utilities.ts
Owners: @rajsite, @jattasNI

working nimble
  packages/nimble-components/src/wafer-map/index.ts
  packages/nimble-components/src/wafer-map/modules/rendering.ts
  packages/nimble-components/src/wafer-map/styles.ts
  packages/nimble-components/src/wafer-map/template.ts
Owners: @rajsite, @jattasNI

Fixed control bug - the input text box was not displayed properly for the 'die-labels-suffix' attribute
  packages/nimble-components/src/wafer-map/tests/wafer-map.stories.ts
Owners: @rajsite, @jattasNI

Parameterize animation with custom properties
  packages/site/landing/circle.ts
  packages/site/landing/index.html
  packages/site/landing/index.ts
  packages/site/landing/styles.scss
Owners: @rajsite, @jattasNI

Fix typo
  packages/nimble-components/src/table/tests/table.pageobject.ts
Owners: @rajsite, @jattasNI

Fix typo
  packages/nimble-components/src/table/tests/table.pageobject.ts
Owners: @rajsite, @jattasNI

Fix typo
  packages/nimble-components/src/table/tests/table.pageobject.ts
Owners: @rajsite, @jattasNI

Respond to color list
  packages/site/landing/styles.scss
Owners: @rajsite, @jattasNI

Fix toggle button disabled checked styles
  packages/nimble-components/src/toggle-button/styles.ts
Owners: @rajsite, @jattasNI

simplify typing
  packages/nimble-components/src/table/index.ts
Owners: @rajsite, @jattasNI

Trigger layout read for Firefox
  packages/site/landing/circle.ts
Owners: @rajsite, @jattasNI

Fix breadcrumb styling
  packages/nimble-components/src/breadcrumb-item/styles.ts
  packages/nimble-components/src/breadcrumb/styles.ts
  packages/nimble-components/src/theme-provider/design-tokens.ts
Owners: @rajsite, @jattasNI

Parameterize the circle animation (#907)
  packages/site/landing/circle.ts
  packages/site/landing/index.html
  packages/site/landing/index.ts
  packages/site/landing/styles.scss
Owners: @rajsite, @jattasNI

Re-add start and end slots to anchor template
  packages/nimble-components/src/anchor/styles.ts
  packages/nimble-components/src/anchor/template.ts
  packages/nimble-components/src/breadcrumb/styles.ts
Owners: @rajsite, @jattasNI

update the spec
  packages/nimble-components/src/anchor/specs/README.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Prettier fix
  packages/nimble-components/src/anchor/specs/README.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

PR feedback
  packages/nimble-components/karma.conf.js
  packages/nimble-components/src/table/index.ts
  packages/nimble-components/src/table/tests/table.pageobject.ts
  packages/nimble-components/src/table/tests/table.spec.ts
  packages/nimble-components/src/table/tests/table.stories.ts
  packages/nimble-components/src/table/types.ts
Owners: @rajsite, @jattasNI

Update karma.conf.js
  packages/nimble-components/karma.conf.js
Owners: @rajsite, @jattasNI

format
  packages/nimble-components/src/table/tests/table.pageobject.ts
  packages/nimble-components/src/table/tests/table.spec.ts
Owners: @rajsite, @jattasNI

update TODOs
  packages/nimble-components/src/table/index.ts
Owners: @rajsite, @jattasNI

update function name for consistency
  packages/nimble-components/src/table/tests/table.pageobject.ts
  packages/nimble-components/src/table/tests/table.spec.ts
Owners: @rajsite, @jattasNI

update typing of table cell data
  packages/nimble-components/src/table/specs/table-columns-hld.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Remove landing page stroke-dasharray animation
  packages/site/landing/styles.scss
Owners: @rajsite, @jattasNI

created tests, changed name for color scale
  change/@ni-nimble-components-d62c8a19-26e8-448d-831b-ddc56969c9bb.json
  packages/nimble-components/src/wafer-map/index.ts
  packages/nimble-components/src/wafer-map/modules/data-manager.ts
  packages/nimble-components/src/wafer-map/modules/prerendering.ts
  packages/nimble-components/src/wafer-map/tests/data-manager.spec.ts
  packages/nimble-components/src/wafer-map/tests/prerendering.coloring.spec.ts
  packages/nimble-components/src/wafer-map/tests/prerendering.labeling.spec.ts
  packages/nimble-components/src/wafer-map/tests/prerendering.positioning.spec.ts
  packages/nimble-components/src/wafer-map/tests/sets.ts
  packages/nimble-components/src/wafer-map/tests/utilities.ts
  packages/nimble-components/src/wafer-map/tests/wafer-map.spec.ts
  packages/nimble-components/src/wafer-map/tests/wafer-map.stories.ts
  packages/nimble-components/src/wafer-map/types.ts
Owners: @rajsite, @jattasNI

Applied PR feedback - naming of the arguments
  packages/nimble-components/src/wafer-map/tests/wafer-map.stories.ts
Owners: @rajsite, @jattasNI

Wafermap StoryBook - Tech Debt Fix (#906)
  change/@ni-nimble-components-297ab22e-342a-48cb-94f9-a5d8e7fe9bfa.json
  packages/nimble-components/src/wafer-map/tests/wafer-map.stories.ts
Owners: @rajsite, @jattasNI

applying package updates [skip ci]
  angular-workspace/projects/ni/nimble-angular/CHANGELOG.json
  angular-workspace/projects/ni/nimble-angular/CHANGELOG.md
  angular-workspace/projects/ni/nimble-angular/package.json
  change/@ni-nimble-components-297ab22e-342a-48cb-94f9-a5d8e7fe9bfa.json
  package-lock.json
  packages/nimble-blazor/package.json
  packages/nimble-components/CHANGELOG.json
  packages/nimble-components/CHANGELOG.md
  packages/nimble-components/package.json
Owners: @rajsite, @atmgrifter00, @jattasNI, @fredvisser, @msmithNI

changed opacity to alpha chanel
  package-lock.json
  packages/nimble-components/package.json
  packages/nimble-components/src/wafer-map/modules/prerendering.ts
  packages/nimble-components/src/wafer-map/tests/data-manager.spec.ts
  packages/nimble-components/src/wafer-map/tests/prerendering.coloring.spec.ts
  packages/nimble-components/src/wafer-map/types.ts
Owners: @rajsite, @jattasNI, @fredvisser

.github/CODEOWNERS:

# Copyright (c) 2021 National Instruments

# Each line is a file pattern followed by one or more owners.
# More info: https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners

# These owners will be the default owners for everything in the repo.
* @rajsite @jattasNI @fredvisser

# Owners of specific locations or file patterns in the repo. Locations are relative to the root of the repo.
# Order is important. The last matching pattern has the most precedence.

# Specific packages
/angular-workspace/projects/example-client-app @rajsite @atmgrifter00
/angular-workspace/projects/ni/nimble-angular @rajsite @atmgrifter00
/packages/nimble-blazor @atmgrifter00 @msmithNI
/packages/nimble-components @rajsite @jattasNI
/packages/nimble-tokens @rajsite @jattasNI @fredvisser
/packages/site @rajsite @jattasNI
/packages/xliff-to-json-converter @rajsite @TrevorKarjanis @jattasNI

# Specs (placed after packages to have higher precedence for spec files contained in packages)
specs @rajsite @jattasNI @fredvisser @atmgrifter00

# Change files don't need explicit reviewers
/change
