Repository ni/nimble, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00, @msmithNI, @TrevorKarjanis

Language for accessible labels
  specs/templates/custom-component.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Capture contributing policies in docs (#830)
  .github/ISSUE_TEMPLATE/new_component.md
  CONTRIBUTING.md
  change/@ni-nimble-components-0836aef2-c039-463b-a9d1-55c9d60a515b.json
  packages/nimble-components/CONTRIBUTING.md
  specs/templates/custom-component.md
  specs/templates/fast-based-component.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

applying package updates [skip ci]
  change/@ni-nimble-components-0836aef2-c039-463b-a9d1-55c9d60a515b.json
  change/@ni-nimble-components-bd130048-dcc9-4c2c-a971-da113327b3c4.json
  packages/nimble-components/CHANGELOG.json
Owners: @rajsite, @jattasNI

Update change type to patch
  change/@ni-nimble-components-c9f2f270-d0d3-478a-b43a-c0777af5fc44.json
Owners: none

update component table
  README.md
Owners: @rajsite, @jattasNI, @fredvisser

Update packages/nimble-components/src/anchor-button/tests/anchor-button-matrix.stories.ts
  packages/nimble-components/src/anchor-button/tests/anchor-button-matrix.stories.ts
Owners: @rajsite, @jattasNI

Update packages/nimble-components/src/anchor-button/tests/anchor-button-matrix.stories.ts
  packages/nimble-components/src/anchor-button/tests/anchor-button-matrix.stories.ts
Owners: @rajsite, @jattasNI

Fix spelling.
  packages/nimble-components/src/table/specs/README.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Formatting.
  packages/nimble-components/src/table/specs/README.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Switch to ts and scss
  package-lock.json
  packages/site/.eleventy.js
  packages/site/landing/.eslintrc.js
  packages/site/landing/images/blazor.svg
  packages/site/landing/images/gh.svg
  packages/site/landing/images/ng.svg
  packages/site/landing/images/nimble-logo-black.png
  packages/site/landing/images/sb.svg
  packages/site/landing/index.html
  packages/site/landing/index.ts
  packages/site/landing/styles.scss
  packages/site/package.json
  packages/site/tsconfig.json
Owners: @rajsite, @jattasNI, @fredvisser

stricter typing
  packages/nimble-components/src/table/specs/table-data-api.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

format
  packages/nimble-components/src/table/specs/table-data-api.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Enable design tokens
  packages/site/landing/index.ts
  packages/site/landing/styles.scss
Owners: @rajsite, @jattasNI

Update table-data-api.md
  packages/nimble-components/src/table/specs/table-data-api.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Remove incorrect semi-colon
  packages/nimble-components/src/table/specs/table-data-api.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Jesse's review feedback
  packages/nimble-components/src/anchor-button/template.ts
  packages/nimble-components/src/anchor-button/tests/anchor-button-matrix.stories.ts
  packages/nimble-components/src/anchor-button/tests/anchor-button.spec.ts
  packages/nimble-components/src/anchor-button/types.ts
  packages/nimble-components/src/anchor/tests/anchor-matrix.stories.ts
  packages/nimble-components/src/button/tests/button.stories.ts
  packages/nimble-components/src/patterns/button/tests/types.spec.ts
  packages/nimble-components/src/patterns/link/doc-strings.ts
Owners: @rajsite, @jattasNI

re-add semi-colon because formatter wants it there?
  packages/nimble-components/src/table/specs/table-data-api.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Initial code scaffolding for nimble-table component (#845)
  README.md
  change/@ni-nimble-components-c9f2f270-d0d3-478a-b43a-c0777af5fc44.json
  packages/nimble-components/src/all-components.ts
  packages/nimble-components/src/table/index.ts
  packages/nimble-components/src/table/styles.ts
  packages/nimble-components/src/table/template.ts
  packages/nimble-components/src/table/tests/table-matrix.stories.ts
  packages/nimble-components/src/table/tests/table.spec.ts
  packages/nimble-components/src/table/tests/table.stories.ts
Owners: @rajsite, @jattasNI, @fredvisser

applying package updates [skip ci]
  angular-workspace/projects/ni/nimble-angular/CHANGELOG.json
  angular-workspace/projects/ni/nimble-angular/CHANGELOG.md
  angular-workspace/projects/ni/nimble-angular/package.json
  change/@ni-nimble-components-c9f2f270-d0d3-478a-b43a-c0777af5fc44.json
  package-lock.json
  packages/nimble-blazor/package.json
  packages/nimble-components/CHANGELOG.json
  packages/nimble-components/CHANGELOG.md
  packages/nimble-components/package.json
Owners: @rajsite, @atmgrifter00, @jattasNI, @fredvisser, @msmithNI

Fix issue with disabled being auto-cleared
  packages/nimble-components/src/anchor-button/styles.ts
  packages/nimble-components/src/anchor-button/template.ts
Owners: @rajsite, @jattasNI

add some tests
  packages/nimble-components/src/table/index.ts
  packages/nimble-components/src/table/tests/table.pageobject.ts
  packages/nimble-components/src/table/tests/table.spec.ts
Owners: @rajsite, @jattasNI

format
  packages/nimble-components/src/table/index.ts
  packages/nimble-components/src/table/tests/table.pageobject.ts
  packages/nimble-components/src/table/tests/table.spec.ts
Owners: @rajsite, @jattasNI

Update policy for approving Chromatic status check
  CONTRIBUTING.md
Owners: @rajsite, @jattasNI, @fredvisser

Clarify who approves
  CONTRIBUTING.md
Owners: @rajsite, @jattasNI, @fredvisser

Designer approval details
  CONTRIBUTING.md
Owners: @rajsite, @jattasNI, @fredvisser

Update policy for approving Chromatic PR status check (#886)
  CONTRIBUTING.md
Owners: @rajsite, @jattasNI, @fredvisser

Move doc-strings.ts files into tests folders
  packages/nimble-components/src/anchor-button/tests/anchor-button.stories.ts
  packages/nimble-components/src/anchor/tests/anchor.stories.ts
  packages/nimble-components/src/button/tests/button.stories.ts
  packages/nimble-components/src/patterns/button/tests/doc-strings.ts
  packages/nimble-components/src/patterns/link/tests/doc-strings.ts
  packages/nimble-components/src/toggle-button/tests/toggle-button.stories.ts
Owners: @rajsite, @jattasNI

ButtonWithAppearanceVariantPattern -> ButtonAppearanceVariantPattern
  packages/nimble-components/src/anchor-button/index.ts
  packages/nimble-components/src/button/index.ts
  packages/nimble-components/src/patterns/button/types.ts
Owners: @rajsite, @jattasNI

Avoid setting pointer-events: none
  packages/nimble-components/src/anchor/styles.ts
  packages/nimble-components/src/patterns/link/styles.ts
Owners: @rajsite, @jattasNI

more changes
  packages/nimble-components/src/table/index.ts
  packages/nimble-components/src/table/tests/table.pageobject.ts
  packages/nimble-components/src/table/tests/table.spec.ts
  packages/nimble-components/src/table/types.ts
Owners: @rajsite, @jattasNI

Trigger disabled styles off of host instead of control
  packages/nimble-components/src/anchor-button/styles.ts
  packages/nimble-components/src/anchor-button/template.ts
  packages/nimble-components/src/patterns/button/styles.ts
Owners: @rajsite, @jattasNI

format
  packages/nimble-components/src/table/tests/table.spec.ts
  packages/nimble-components/src/table/types.ts
Owners: @rajsite, @jattasNI

Change files
  change/@ni-nimble-components-3f7ecb49-f048-4611-ab15-b8aaea595681.json
Owners: none

minor updates
  packages/nimble-components/src/table/index.ts
  packages/nimble-components/src/table/tests/table.pageobject.ts
  packages/nimble-components/src/table/tests/table.spec.ts
Owners: @rajsite, @jattasNI

fix change handler
  packages/nimble-components/src/table/index.ts
Owners: @rajsite, @jattasNI

delete change file
  change/@ni-nimble-components-3f7ecb49-f048-4611-ab15-b8aaea595681.json
Owners: none

Angular support for nimble-table
  angular-workspace/projects/example-client-app/src/app/app.module.ts
  angular-workspace/projects/example-client-app/src/app/customapp/customapp.component.html
  angular-workspace/projects/example-client-app/src/app/customapp/customapp.component.ts
  angular-workspace/projects/ni/nimble-angular/src/directives/table/nimble-table.directive.ts
  angular-workspace/projects/ni/nimble-angular/src/directives/table/nimble-table.module.ts
  angular-workspace/projects/ni/nimble-angular/src/public-api.ts
  packages/nimble-components/src/table/index.ts
  packages/nimble-components/src/table/template.ts
  packages/nimble-components/src/table/tests/table.spec.ts
Owners: @rajsite, @atmgrifter00, @jattasNI

add TODO to readme
  README.md
Owners: @rajsite, @jattasNI, @fredvisser

Fixes from using in Angular
  packages/nimble-components/src/table/index.ts
  packages/nimble-components/src/table/template.ts
  packages/nimble-components/src/table/tests/table.spec.ts
Owners: @rajsite, @jattasNI

Update packages/nimble-components/src/table/specs/README.md
  packages/nimble-components/src/table/specs/README.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

.github/CODEOWNERS:

# Copyright (c) 2021 National Instruments

# Each line is a file pattern followed by one or more owners.
# More info: https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners

# These owners will be the default owners for everything in the repo.
* @rajsite @jattasNI @fredvisser

# Owners of specific locations or file patterns in the repo. Locations are relative to the root of the repo.
# Order is important. The last matching pattern has the most precedence.

# Specific packages
/angular-workspace/projects/example-client-app @rajsite @atmgrifter00
/angular-workspace/projects/ni/nimble-angular @rajsite @atmgrifter00
/packages/nimble-blazor @atmgrifter00 @msmithNI
/packages/nimble-components @rajsite @jattasNI
/packages/nimble-tokens @rajsite @jattasNI @fredvisser
/packages/site @rajsite @jattasNI
/packages/xliff-to-json-converter @rajsite @TrevorKarjanis @jattasNI

# Specs (placed after packages to have higher precedence for spec files contained in packages)
specs @rajsite @jattasNI @fredvisser @atmgrifter00

# Change files don't need explicit reviewers
/change
