Repository ni/nimble, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rajsite, @jattasNI, @atmgrifter00, @msmithNI, @DStavilaNI, @munteannatan, @vivinkrishna-ni, @fredvisser, @TrevorKarjanis, @mollykreis

.github/CODEOWNERS:

# Copyright (c) 2021 National Instruments

# Each line is a file pattern followed by one or more owners.
# More info: https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners

# These owners will be the default owners for everything in the repo.
* @rajsite @jattasNI

# Owners of specific locations or file patterns in the repo. Locations are relative to the root of the repo.
# Order is important. The last matching pattern has the most precedence.

# Specific packages
/packages/angular-workspace/example-client-app @rajsite @atmgrifter00
/packages/angular-workspace/nimble-angular @rajsite @atmgrifter00
/packages/angular-workspace/spright-angular @rajsite @atmgrifter00
/packages/blazor-workspace @rajsite @atmgrifter00 @msmithNI
/packages/nimble-components @rajsite @jattasNI
/packages/nimble-components/build/generate-workers @rajsite @jattasNI @DStavilaNI @munteannatan
/packages/nimble-components/src/wafer-map @rajsite @jattasNI @DStavilaNI @munteannatan
/packages/nimble-components/src/rich-text @rajsite @jattasNI @vivinkrishna-ni
/packages/nimble-components/src/rich-text-mention @rajsite @jattasNI @vivinkrishna-ni
/packages/nimble-tokens @rajsite @jattasNI @fredvisser
/packages/site @rajsite @jattasNI
/packages/spright-components @rajsite @jattasNI
/packages/storybook/.storybook @rajsite @jattasNI @fredvisser
/packages/xliff-to-json-converter @rajsite @TrevorKarjanis @jattasNI

# Specs (placed after packages to have higher precedence for spec files contained in packages)
specs @rajsite @jattasNI @atmgrifter00 @mollykreis

# Change files don't need explicit reviewers
/change

page object compile errors due to textArea not defined
  packages/spright-components/src/chat/input/testing/chat-input.pageobject.ts
Owners: @rajsite, @jattasNI

Prettier.
  packages/nimble-components/src/tabs-toolbar/index.ts
  packages/nimble-components/src/tabs-toolbar/template.ts
Owners: @rajsite, @jattasNI

Fix failing test
  packages/spright-components/src/chat/input/tests/chat-input.spec.ts
Owners: @rajsite, @jattasNI

matrix story exercises max height
  packages/storybook/src/spright/chat/input/chat-input-matrix.stories.ts
Owners: @rajsite, @jattasNI

Conversation max height
  packages/storybook/src/spright/chat/conversation/chat-conversation.stories.ts
Owners: @rajsite, @jattasNI

Update global.json
  packages/blazor-workspace/global.json
Owners: @rajsite, @atmgrifter00, @msmithNI

Handle PR feedback.
  packages/storybook/src/nimble/anchor-tabs/anchor-tabs.stories.ts
  packages/storybook/src/nimble/tabs/tabs.stories.ts
Owners: @rajsite, @jattasNI

Prettier
  packages/storybook/src/nimble/anchor-tabs/anchor-tabs.stories.ts
  packages/storybook/src/nimble/tabs/tabs.stories.ts
Owners: @rajsite, @jattasNI

Actions remove pre-installed dotnet sdk (#2636)
  .github/workflows/main.yml
  packages/blazor-workspace/global.json
Owners: @rajsite, @jattasNI, @atmgrifter00, @msmithNI

incomplete scrolling experiments
  packages/spright-components/src/chat/conversation/index.ts
  packages/spright-components/src/chat/conversation/styles.ts
  packages/spright-components/src/chat/conversation/template.ts
  packages/storybook/src/spright/chat/conversation/chat-conversation.stories.ts
Owners: @rajsite, @jattasNI

Handle PR feedback.
  packages/storybook/src/nimble/anchor-tabs/anchor-tabs-matrix.stories.ts
  packages/storybook/src/nimble/tabs/tabs-matrix.stories.ts
Owners: @rajsite, @jattasNI

Add end slot for tabs toolbar (#2637)
  change/@ni-nimble-components-d9a02072-800c-4be6-943b-b8d354302001.json
  packages/nimble-components/src/tabs-toolbar/index.ts
  packages/nimble-components/src/tabs-toolbar/styles.ts
  packages/nimble-components/src/tabs-toolbar/template.ts
  packages/storybook/src/nimble/anchor-tabs/anchor-tabs-matrix.stories.ts
  packages/storybook/src/nimble/anchor-tabs/anchor-tabs.stories.ts
  packages/storybook/src/nimble/patterns/tabs/doc-strings.ts
  packages/storybook/src/nimble/patterns/tabs/types.ts
  packages/storybook/src/nimble/tabs/tabs-matrix.stories.ts
  packages/storybook/src/nimble/tabs/tabs.stories.ts
Owners: @rajsite, @jattasNI

applying package updates [skip ci]
  change/@ni-nimble-components-d9a02072-800c-4be6-943b-b8d354302001.json
  package-lock.json
  packages/angular-workspace/nimble-angular/CHANGELOG.json
  packages/angular-workspace/nimble-angular/CHANGELOG.md
  packages/angular-workspace/nimble-angular/package.json
  packages/angular-workspace/spright-angular/CHANGELOG.json
  packages/angular-workspace/spright-angular/CHANGELOG.md
  packages/angular-workspace/spright-angular/package.json
  packages/blazor-workspace/NimbleBlazor/CHANGELOG.json
  packages/blazor-workspace/NimbleBlazor/CHANGELOG.md
  packages/blazor-workspace/NimbleBlazor/package.json
  packages/blazor-workspace/SprightBlazor/CHANGELOG.json
  packages/blazor-workspace/SprightBlazor/CHANGELOG.md
  packages/blazor-workspace/SprightBlazor/package.json
  packages/nimble-components/CHANGELOG.json
  packages/nimble-components/CHANGELOG.md
  packages/nimble-components/package.json
  packages/react-workspace/nimble-react/CHANGELOG.json
  packages/react-workspace/nimble-react/CHANGELOG.md
  packages/react-workspace/nimble-react/package.json
  packages/react-workspace/react-client-app/package.json
  packages/react-workspace/spright-react/CHANGELOG.json
  packages/react-workspace/spright-react/CHANGELOG.md
  packages/react-workspace/spright-react/package.json
  packages/spright-components/CHANGELOG.json
  packages/spright-components/CHANGELOG.md
  packages/spright-components/package.json
Owners: @rajsite, @jattasNI, @atmgrifter00, @msmithNI

Use decimal (rather than numeric) inputmode for number-field input
  packages/nimble-components/src/number-field/template.ts
Owners: @rajsite, @jattasNI

Localize number-field decimal separator
  packages/nimble-components/src/number-field/index.ts
Owners: @rajsite, @jattasNI

Messages should fill space when conversation has large height
  packages/spright-components/src/chat/conversation/styles.ts
Owners: @rajsite, @jattasNI

Matrix test for conversation height
  packages/storybook/src/spright/chat/conversation/chat-conversation-matrix.stories.ts
Owners: @rajsite, @jattasNI

Remove border from examples
  packages/angular-workspace/example-client-app/src/app/customapp/customapp.component.scss
  packages/blazor-workspace/Examples/Demo.Shared/Pages/ComponentsDemo.razor.css
Owners: @rajsite, @atmgrifter00, @msmithNI

React event
  packages/react-workspace/react-client-app/src/components/App.tsx
  packages/react-workspace/spright-react/src/chat/input/index.ts
Owners: @rajsite, @jattasNI

package-lock after merge
  package-lock.json
Owners: @rajsite, @jattasNI

remove unused
  packages/react-workspace/react-client-app/src/components/App.tsx
Owners: @rajsite, @jattasNI

format
  packages/storybook/src/spright/chat/conversation/chat-conversation-matrix.stories.ts
Owners: @rajsite, @jattasNI

New theme aware design tokens for chat components
  packages/nimble-components/src/theme-provider/design-token-comments.ts
  packages/nimble-components/src/theme-provider/design-token-names.ts
  packages/nimble-components/src/theme-provider/design-tokens.ts
Owners: @rajsite, @jattasNI

Gradient background for chat conversation
  packages/spright-components/src/chat/conversation/styles.ts
Owners: @rajsite, @jattasNI

Change files
  change/@ni-nimble-components-c52231dc-0a44-4eed-8cba-f64e61b0ae15.json
  change/@ni-spright-components-26d31901-bd95-45ea-855c-2202dee3b0e7.json
Owners: none

React app remove border around conversation
  packages/react-workspace/react-client-app/src/components/App.scss
Owners: @rajsite, @jattasNI

Improve content-hidden send button pattern
  packages/spright-components/src/chat/input/template.ts
  packages/spright-components/src/chat/input/testing/chat-input.pageobject.ts
  packages/spright-components/src/chat/input/tests/chat-input.spec.ts
Owners: @rajsite, @jattasNI

Better button pattern
  packages/spright-components/src/chat/specs/README.md
Owners: @rajsite, @jattasNI, @atmgrifter00, @mollykreis

Fix issue with default slotted content in tabs toolbar that sets it's margin-left to 'auto'.
  packages/nimble-components/src/tabs-toolbar/index.ts
  packages/nimble-components/src/tabs-toolbar/styles.ts
  packages/nimble-components/src/tabs-toolbar/template.ts
Owners: @rajsite, @jattasNI

Change files
  change/@ni-nimble-components-3741006c-3a5c-4ee7-8072-e0a69365b350.json
Owners: none

Grammar.
  change/@ni-nimble-components-3741006c-3a5c-4ee7-8072-e0a69365b350.json
Owners: none

Revert last change and apply better fix.
  packages/nimble-components/src/tabs-toolbar/index.ts
  packages/nimble-components/src/tabs-toolbar/styles.ts
  packages/nimble-components/src/tabs-toolbar/template.ts
Owners: @rajsite, @jattasNI
