Repository ni/nimble, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rajsite, @jattasNI, @atmgrifter00, @msmithNI, @DStavilaNI, @munteannatan, @vivinkrishna-ni, @fredvisser, @TrevorKarjanis, @mollykreis

.github/CODEOWNERS:

# Copyright (c) 2021 National Instruments

# Each line is a file pattern followed by one or more owners.
# More info: https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners

# These owners will be the default owners for everything in the repo.
* @rajsite @jattasNI

# Owners of specific locations or file patterns in the repo. Locations are relative to the root of the repo.
# Order is important. The last matching pattern has the most precedence.

# Specific packages
/packages/angular-workspace/example-client-app @rajsite @atmgrifter00
/packages/angular-workspace/nimble-angular @rajsite @atmgrifter00
/packages/angular-workspace/spright-angular @rajsite @atmgrifter00
/packages/blazor-workspace @rajsite @atmgrifter00 @msmithNI
/packages/nimble-components @rajsite @jattasNI
/packages/nimble-components/build/generate-workers @rajsite @jattasNI @DStavilaNI @munteannatan
/packages/nimble-components/src/wafer-map @rajsite @jattasNI @DStavilaNI @munteannatan
/packages/nimble-components/src/rich-text @rajsite @jattasNI @vivinkrishna-ni
/packages/nimble-components/src/rich-text-mention @rajsite @jattasNI @vivinkrishna-ni
/packages/nimble-tokens @rajsite @jattasNI @fredvisser
/packages/site @rajsite @jattasNI
/packages/spright-components @rajsite @jattasNI
/packages/storybook/.storybook @rajsite @jattasNI @fredvisser
/packages/xliff-to-json-converter @rajsite @TrevorKarjanis @jattasNI

# Specs (placed after packages to have higher precedence for spec files contained in packages)
specs @rajsite @jattasNI @atmgrifter00 @mollykreis

# Change files don't need explicit reviewers
/change

format
  packages/nimble-components/src/text-field/styles.ts
  packages/storybook/src/nimble/text-field/text-field.stories.ts
Owners: @rajsite, @jattasNI

applying package updates [skip ci]
  change/@ni-jasmine-parameterized-5e123f10-8f7b-4cee-870c-0e60b8549709.json
  change/@ni-nimble-blazor-401ecca7-e83f-4af3-a72f-c4c7ac4e6f07.json
  change/@ni-nimble-components-c0e76bb4-1a39-482e-934e-1ff99867db2c.json
  change/@ni-spright-blazor-41e1f53f-c933-4461-b676-7e791b8be456.json
  change/@ni-spright-components-e8372f49-7ab8-4dba-a00f-6d2f548cbac4.json
  package-lock.json
  packages/blazor-workspace/NimbleBlazor/CHANGELOG.json
  packages/blazor-workspace/NimbleBlazor/CHANGELOG.md
  packages/blazor-workspace/NimbleBlazor/package.json
  packages/blazor-workspace/SprightBlazor/CHANGELOG.json
  packages/blazor-workspace/SprightBlazor/CHANGELOG.md
  packages/blazor-workspace/SprightBlazor/package.json
  packages/jasmine-parameterized/CHANGELOG.json
  packages/nimble-components/CHANGELOG.json
  packages/spright-components/CHANGELOG.json
Owners: @rajsite, @jattasNI, @atmgrifter00, @msmithNI

fix disabled+error-visible underline
  packages/nimble-components/src/text-field/styles.ts
Owners: @rajsite, @jattasNI

PR feedback
  packages/nimble-components/src/text-field/styles.ts
  packages/storybook/src/nimble/text-field/text-field-matrix.stories.ts
  packages/storybook/src/nimble/text-field/text-field.stories.ts
  packages/storybook/src/utilities/storybook.ts
Owners: @rajsite, @jattasNI

remove duplicate ;
  packages/nimble-components/src/text-field/styles.ts
Owners: @rajsite, @jattasNI

one dimension for readOnly + disabled + appearanceReadOnly
  packages/storybook/src/nimble/text-field/text-field-matrix.stories.ts
  packages/storybook/src/utilities/states.ts
Owners: @rajsite, @jattasNI

fix name
  packages/storybook/src/nimble/text-field/text-field-matrix.stories.ts
Owners: @rajsite, @jattasNI

revert change
  packages/nimble-components/src/text-field/styles.ts
Owners: @rajsite, @jattasNI

Update packages/storybook/src/utilities/states.ts
  packages/storybook/src/utilities/states.ts
Owners: @rajsite, @jattasNI

Handle PR feedback.
  packages/blazor-workspace/NimbleBlazor/README.md
  packages/storybook/src/nimble/dialog/dialog.mdx
  packages/storybook/src/nimble/table/table.mdx
Owners: @rajsite, @atmgrifter00, @msmithNI, @jattasNI

PR feedback
  packages/nimble-components/src/text-field/styles.ts
  packages/storybook/src/nimble/text-field/text-field-matrix.stories.ts
  packages/storybook/src/utilities/states.ts
Owners: @rajsite, @jattasNI

format
  packages/storybook/src/utilities/states.ts
Owners: @rajsite, @jattasNI

Use proper syntax highlighting denotion.
  packages/storybook/src/nimble/dialog/dialog.mdx
  packages/storybook/src/nimble/table/table.mdx
Owners: @rajsite, @jattasNI

Allow rich-text mention listbox to open above the cursor
  packages/nimble-components/src/rich-text/mention-listbox/index.ts
  packages/nimble-components/src/rich-text/mention-listbox/template.ts
Owners: @rajsite, @jattasNI, @vivinkrishna-ni

Change files
  change/@ni-nimble-components-f4992b1c-b7f0-46e1-a684-b5afff8683f6.json
Owners: none

Update packages/storybook/src/nimble/dialog/dialog.mdx
  packages/storybook/src/nimble/dialog/dialog.mdx
Owners: @rajsite, @jattasNI

Handle PR feedback.
  package-lock.json
  packages/blazor-workspace/NimbleBlazor/README.md
  packages/storybook/.storybook/preview.js
  packages/storybook/package.json
  packages/storybook/src/nimble/dialog/dialog.mdx
  packages/storybook/src/nimble/table/table.mdx
Owners: @rajsite, @jattasNI, @atmgrifter00, @msmithNI, @fredvisser

Update packages/storybook/.storybook/preview.js
  packages/storybook/.storybook/preview.js
Owners: @rajsite, @jattasNI, @fredvisser

Prettier. Small grammar change.
  packages/storybook/src/nimble/dialog/dialog.mdx
  packages/storybook/src/nimble/table/table.mdx
Owners: @rajsite, @jattasNI

Update Blazor docs (#2591)
  change/@ni-nimble-blazor-d567ae93-ffd9-44be-8743-85a67419c5f3.json
  package-lock.json
  packages/blazor-workspace/NimbleBlazor/README.md
  packages/storybook/.storybook/preview.js
  packages/storybook/package.json
  packages/storybook/src/nimble/dialog/dialog.mdx
  packages/storybook/src/nimble/table/table.mdx
Owners: @rajsite, @jattasNI, @atmgrifter00, @msmithNI, @fredvisser

add note about usage reason
  packages/storybook/src/nimble/text-field/text-field.stories.ts
  packages/storybook/src/utilities/storybook.ts
Owners: @rajsite, @jattasNI

applying package updates [skip ci]
  change/@ni-nimble-blazor-d567ae93-ffd9-44be-8743-85a67419c5f3.json
  packages/blazor-workspace/NimbleBlazor/CHANGELOG.json
Owners: @rajsite, @atmgrifter00, @msmithNI

Align to listbox implementation
  packages/nimble-components/src/combobox/index.ts
  packages/nimble-components/src/rich-text/mention-listbox/index.ts
  packages/nimble-components/src/select/index.ts
Owners: @rajsite, @jattasNI, @vivinkrishna-ni

Text field appearance read only (#2596)
  change/@ni-nimble-components-a4d0f3b2-8a61-4e8c-b81a-0f10c03c185b.json
  packages/nimble-components/src/text-field/index.ts
  packages/nimble-components/src/text-field/styles.ts
  packages/storybook/src/nimble/text-field/text-field-matrix.stories.ts
  packages/storybook/src/nimble/text-field/text-field.stories.ts
  packages/storybook/src/utilities/states.ts
  packages/storybook/src/utilities/storybook.ts
Owners: @rajsite, @jattasNI

applying package updates [skip ci]
  change/@ni-nimble-components-a4d0f3b2-8a61-4e8c-b81a-0f10c03c185b.json
  package-lock.json
  packages/angular-workspace/nimble-angular/CHANGELOG.json
  packages/angular-workspace/nimble-angular/CHANGELOG.md
  packages/angular-workspace/nimble-angular/package.json
  packages/angular-workspace/spright-angular/CHANGELOG.json
  packages/angular-workspace/spright-angular/CHANGELOG.md
  packages/angular-workspace/spright-angular/package.json
  packages/blazor-workspace/NimbleBlazor/CHANGELOG.json
  packages/blazor-workspace/NimbleBlazor/CHANGELOG.md
  packages/blazor-workspace/NimbleBlazor/package.json
  packages/blazor-workspace/SprightBlazor/CHANGELOG.json
  packages/blazor-workspace/SprightBlazor/CHANGELOG.md
  packages/blazor-workspace/SprightBlazor/package.json
  packages/nimble-components/CHANGELOG.json
  packages/nimble-components/CHANGELOG.md
  packages/nimble-components/package.json
  packages/spright-components/CHANGELOG.json
  packages/spright-components/CHANGELOG.md
  packages/spright-components/package.json
Owners: @rajsite, @jattasNI, @atmgrifter00, @msmithNI

format
  packages/storybook/src/nimble/dialog/dialog-matrix.stories.ts
  packages/storybook/src/nimble/drawer/drawer-matrix.stories.ts
  packages/storybook/src/nimble/rich-text-mention/users/view/rich-text-mention-users-view-matrix.stories.ts
  packages/storybook/src/nimble/rich-text/mention-listbox/mention-listbox-matrix.stories.ts
  packages/storybook/src/nimble/table-column/duration-text/table-column-duration-text-matrix.stories.ts
  packages/storybook/src/nimble/table-column/menu-button/table-column-menu-button-opened-matrix.stories.ts
  packages/storybook/src/nimble/table/table-action-menu-opened-matrix.stories.ts
  packages/storybook/src/nimble/tooltip/tooltip-matrix.stories.ts
Owners: @rajsite, @jattasNI

Update node version
  .github/workflows/main.yml
Owners: @rajsite, @jattasNI

review feedback
  packages/nimble-components/src/number-field/specs/IxD.md
  packages/nimble-components/src/number-field/specs/spec-images/localized-number-input-cursor-click.png
Owners: @rajsite, @jattasNI, @atmgrifter00, @mollykreis

Disable lighthouse performance runs in workflow
  .github/workflows/main.yml
Owners: @rajsite, @jattasNI

rename text field matrix stories
  packages/storybook/src/nimble/text-field/text-field-matrix.stories.ts
Owners: @rajsite, @jattasNI

Add appearance-readonly to nimble-number-field
  packages/nimble-components/src/number-field/index.ts
  packages/nimble-components/src/number-field/styles.ts
  packages/nimble-components/src/text-field/styles.ts
  packages/storybook/src/nimble/number-field/number-field.stories.ts
Owners: @rajsite, @jattasNI

matrix tests
  packages/storybook/src/nimble/number-field/number-field-matrix.stories.ts
  packages/storybook/src/utilities/states.ts
Owners: @rajsite, @jattasNI

Change files
  change/@ni-nimble-components-3b2df972-f5ae-4415-be0f-8e4268970423.json
Owners: none

format
  packages/storybook/src/nimble/number-field/number-field-matrix.stories.ts
  packages/storybook/src/utilities/states.ts
Owners: @rajsite, @jattasNI

lint
  packages/storybook/src/nimble/number-field/number-field-matrix.stories.ts
Owners: @rajsite, @jattasNI

update spright + docs
  packages/storybook/CONTRIBUTING.md
  packages/storybook/src/spright/chat/conversation/chat-conversation-matrix.stories.ts
  packages/storybook/src/spright/chat/message/chat-message-matrix.stories.ts
  packages/storybook/src/spright/rectangle/rectangle-matrix.stories.ts
Owners: @rajsite, @jattasNI

format
  packages/storybook/CONTRIBUTING.md
Owners: @rajsite, @jattasNI

lint
  packages/storybook/src/spright/chat/conversation/chat-conversation-matrix.stories.ts
Owners: @rajsite, @jattasNI

split matrix stories
  packages/storybook/src/nimble/number-field/number-field-matrix.stories.ts
Owners: @rajsite, @jattasNI

Update packages/storybook/CONTRIBUTING.md
  packages/storybook/CONTRIBUTING.md
Owners: @rajsite, @jattasNI
