Repository ni/nimble, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rajsite, @jattasNI, @atmgrifter00, @msmithNI, @DStavilaNI, @munteannatan, @vivinkrishna-ni, @fredvisser, @TrevorKarjanis, @mollykreis

Update README.md
  README.md
Owners: @rajsite, @jattasNI

Update main.yml
  .github/workflows/main.yml
Owners: @rajsite, @jattasNI

Update main.yml
  .github/workflows/main.yml
Owners: @rajsite, @jattasNI

Minor naming update
  packages/nimble-components/src/theme-provider/design-token-comments.ts
  packages/nimble-components/src/theme-provider/design-token-names.ts
  packages/nimble-components/src/theme-provider/design-tokens.ts
Owners: @rajsite, @jattasNI

Add theme aware token for calendar event outline (#2634)
  change/@ni-nimble-components-5ca55480-68c5-44d8-8401-fe25f9e550fa.json
  packages/nimble-components/src/theme-provider/design-token-comments.ts
  packages/nimble-components/src/theme-provider/design-token-names.ts
  packages/nimble-components/src/theme-provider/design-tokens.ts
Owners: @rajsite, @jattasNI

applying package updates [skip ci]
  change/@ni-nimble-components-5ca55480-68c5-44d8-8401-fe25f9e550fa.json
  package-lock.json
  packages/angular-workspace/nimble-angular/CHANGELOG.json
  packages/angular-workspace/nimble-angular/CHANGELOG.md
  packages/angular-workspace/nimble-angular/package.json
  packages/angular-workspace/spright-angular/CHANGELOG.json
  packages/angular-workspace/spright-angular/CHANGELOG.md
  packages/angular-workspace/spright-angular/package.json
  packages/blazor-workspace/NimbleBlazor/CHANGELOG.json
  packages/blazor-workspace/NimbleBlazor/CHANGELOG.md
  packages/blazor-workspace/NimbleBlazor/package.json
  packages/blazor-workspace/SprightBlazor/CHANGELOG.json
  packages/blazor-workspace/SprightBlazor/CHANGELOG.md
  packages/blazor-workspace/SprightBlazor/package.json
  packages/nimble-components/CHANGELOG.json
  packages/nimble-components/CHANGELOG.md
  packages/nimble-components/package.json
  packages/react-workspace/nimble-react/CHANGELOG.json
  packages/react-workspace/nimble-react/CHANGELOG.md
  packages/react-workspace/nimble-react/package.json
  packages/react-workspace/react-client-app/package.json
  packages/react-workspace/spright-react/CHANGELOG.json
  packages/react-workspace/spright-react/CHANGELOG.md
  packages/react-workspace/spright-react/package.json
  packages/spright-components/CHANGELOG.json
  packages/spright-components/CHANGELOG.md
  packages/spright-components/package.json
Owners: @rajsite, @jattasNI, @atmgrifter00, @msmithNI

shift enter test
  packages/spright-components/src/chat/input/testing/chat-input.pageobject.ts
  packages/spright-components/src/chat/input/tests/chat-input.spec.ts
Owners: @rajsite, @jattasNI

Provide start/end slots for tabs toolbar.
  packages/nimble-components/src/tabs-toolbar/index.ts
  packages/nimble-components/src/tabs-toolbar/styles.ts
  packages/nimble-components/src/tabs-toolbar/template.ts
  packages/storybook/src/nimble/tabs/tabs-matrix.stories.ts
  packages/storybook/src/nimble/tabs/tabs.stories.ts
Owners: @rajsite, @jattasNI

Change files
  change/@ni-nimble-components-d9a02072-800c-4be6-943b-b8d354302001.json
Owners: none

resetInput()
  packages/spright-components/src/chat/input/index.ts
  packages/spright-components/src/chat/input/testing/chat-input.pageobject.ts
  packages/spright-components/src/chat/input/tests/chat-input.spec.ts
Owners: @rajsite, @jattasNI

update story for resetInput()
  packages/storybook/src/spright/chat/conversation/chat-conversation.stories.ts
Owners: @rajsite, @jattasNI

Angular directive follows #1066 and example app calls resetInput()
  packages/angular-workspace/example-client-app/src/app/customapp/customapp.component.html
  packages/angular-workspace/example-client-app/src/app/customapp/customapp.component.ts
  packages/angular-workspace/spright-angular/chat/input/spright-chat-input.directive.ts
Owners: @rajsite, @atmgrifter00

Fixes.
  packages/nimble-components/src/tabs-toolbar/styles.ts
  packages/nimble-components/src/tabs-toolbar/template.ts
  packages/storybook/src/nimble/tabs/tabs-matrix.stories.ts
  packages/storybook/src/nimble/tabs/tabs.stories.ts
Owners: @rajsite, @jattasNI

format
  packages/spright-components/src/chat/input/testing/chat-input.pageobject.ts
  packages/spright-components/src/chat/input/tests/chat-input.spec.ts
  packages/storybook/src/spright/chat/conversation/chat-conversation.stories.ts
  packages/storybook/src/spright/chat/input/chat-input-matrix.stories.ts
  packages/storybook/src/spright/chat/input/chat-input.stories.ts
Owners: @rajsite, @jattasNI

some event tests
  packages/spright-components/src/chat/input/tests/chat-input.spec.ts
Owners: @rajsite, @jattasNI

all unit tests pass
  packages/spright-components/src/chat/input/tests/chat-input.spec.ts
Owners: @rajsite, @jattasNI

docs for resetInput
  packages/storybook/src/spright/chat/input/chat-input.stories.ts
Owners: @rajsite, @jattasNI

Update anchor tabs storybooks.
  packages/storybook/src/nimble/anchor-tabs/anchor-tabs-matrix.stories.ts
  packages/storybook/src/nimble/anchor-tabs/anchor-tabs.stories.ts
  packages/storybook/src/nimble/patterns/tabs/doc-strings.ts
  packages/storybook/src/nimble/tabs/tabs.stories.ts
Owners: @rajsite, @jattasNI

Prettier.
  packages/storybook/src/nimble/anchor-tabs/anchor-tabs.stories.ts
  packages/storybook/src/nimble/patterns/tabs/doc-strings.ts
  packages/storybook/src/nimble/tabs/tabs.stories.ts
Owners: @rajsite, @jattasNI

Implement StartEnd mixin.
  packages/nimble-components/src/tabs-toolbar/index.ts
  packages/nimble-components/src/tabs-toolbar/styles.ts
  packages/nimble-components/src/tabs-toolbar/template.ts
Owners: @rajsite, @jattasNI

Update packages/storybook/src/nimble/patterns/tabs/doc-strings.ts
  packages/storybook/src/nimble/patterns/tabs/doc-strings.ts
Owners: @rajsite, @jattasNI

Angular directive
  packages/angular-workspace/example-client-app/src/app/customapp/customapp.component.html
  packages/angular-workspace/spright-angular/chat/input/spright-chat-input.directive.ts
  packages/angular-workspace/spright-angular/chat/input/spright-chat-input.module.ts
  packages/angular-workspace/spright-angular/chat/input/tests/spright-chat-input.directive.spec.ts
Owners: @rajsite, @atmgrifter00

angular page object
  packages/angular-workspace/spright-angular/chat/input/testing/input.pageobject.ts
  packages/angular-workspace/spright-angular/chat/input/testing/ng-package.json
  packages/angular-workspace/spright-angular/chat/input/testing/public-api.ts
Owners: @rajsite, @atmgrifter00

Handle PR feedback.
  packages/nimble-components/src/tabs-toolbar/index.ts
  packages/nimble-components/src/tabs-toolbar/template.ts
  packages/storybook/src/nimble/patterns/tabs/doc-strings.ts
Owners: @rajsite, @jattasNI

formatting
  packages/spright-components/src/chat/input/tests/chat-input.spec.ts
Owners: @rajsite, @jattasNI

formatting
  packages/spright-components/src/chat/input/tests/chat-input.spec.ts
Owners: @rajsite, @jattasNI

Blazor wrapper placeholder
  packages/blazor-workspace/SprightBlazor/Components/SprightChatInput.razor
  packages/blazor-workspace/SprightBlazor/Components/SprightChatInput.razor.cs
  packages/blazor-workspace/Tests/SprightBlazor.Tests/Unit/Components/SprightChatInputTests.cs
Owners: @rajsite, @atmgrifter00, @msmithNI

add to all components
  packages/spright-components/src/all-components.ts
Owners: @rajsite, @jattasNI

add to blazor demo
  packages/blazor-workspace/Examples/Demo.Shared/Pages/ComponentsDemo.razor
Owners: @rajsite, @atmgrifter00, @msmithNI

Revert "Blazor wrapper placeholder"
  packages/blazor-workspace/SprightBlazor/Components/SprightChatInput.razor
  packages/blazor-workspace/SprightBlazor/Components/SprightChatInput.razor.cs
  packages/blazor-workspace/Tests/SprightBlazor.Tests/Unit/Components/SprightChatInputTests.cs
Owners: @rajsite, @atmgrifter00, @msmithNI

Revert "add to blazor demo"
  packages/blazor-workspace/Examples/Demo.Shared/Pages/ComponentsDemo.razor
Owners: @rajsite, @atmgrifter00, @msmithNI

lint
  packages/spright-components/src/chat/input/tests/chat-input.spec.ts
Owners: @rajsite, @jattasNI

Change files
  change/@ni-spright-react-8f884370-5fbd-412e-a7a3-ef71f93178db.json
Owners: none

comment
  change/@ni-spright-react-8f884370-5fbd-412e-a7a3-ef71f93178db.json
Owners: none

revert doc change
  packages/storybook/src/spright/chat/conversation/chat-conversation.mdx
Owners: @rajsite, @jattasNI

Revert unneccessary example app change
  packages/angular-workspace/example-client-app/src/app/customapp/customapp.component.html
  packages/angular-workspace/example-client-app/src/app/customapp/customapp.component.scss
Owners: @rajsite, @atmgrifter00

directive test names
  packages/angular-workspace/spright-angular/chat/conversation/tests/spright-chat-conversation.directive.spec.ts
  packages/angular-workspace/spright-angular/chat/input/tests/spright-chat-input.directive.spec.ts
  packages/angular-workspace/spright-angular/chat/message/tests/spright-chat-message.directive.spec.ts
Owners: @rajsite, @atmgrifter00

More precise handling of undefined text area
  packages/spright-components/src/chat/input/index.ts
Owners: @rajsite, @jattasNI

Handle PR feedback.
  packages/storybook/src/nimble/anchor-tabs/anchor-tabs.stories.ts
  packages/storybook/src/nimble/patterns/tabs/types.ts
  packages/storybook/src/nimble/tabs/tabs.stories.ts
Owners: @rajsite, @jattasNI

test resetInput when disconnected
  packages/spright-components/src/chat/input/tests/chat-input.spec.ts
Owners: @rajsite, @jattasNI

.github/CODEOWNERS:

# Copyright (c) 2021 National Instruments

# Each line is a file pattern followed by one or more owners.
# More info: https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners

# These owners will be the default owners for everything in the repo.
* @rajsite @jattasNI

# Owners of specific locations or file patterns in the repo. Locations are relative to the root of the repo.
# Order is important. The last matching pattern has the most precedence.

# Specific packages
/packages/angular-workspace/example-client-app @rajsite @atmgrifter00
/packages/angular-workspace/nimble-angular @rajsite @atmgrifter00
/packages/angular-workspace/spright-angular @rajsite @atmgrifter00
/packages/blazor-workspace @rajsite @atmgrifter00 @msmithNI
/packages/nimble-components @rajsite @jattasNI
/packages/nimble-components/build/generate-workers @rajsite @jattasNI @DStavilaNI @munteannatan
/packages/nimble-components/src/wafer-map @rajsite @jattasNI @DStavilaNI @munteannatan
/packages/nimble-components/src/rich-text @rajsite @jattasNI @vivinkrishna-ni
/packages/nimble-components/src/rich-text-mention @rajsite @jattasNI @vivinkrishna-ni
/packages/nimble-tokens @rajsite @jattasNI @fredvisser
/packages/site @rajsite @jattasNI
/packages/spright-components @rajsite @jattasNI
/packages/storybook/.storybook @rajsite @jattasNI @fredvisser
/packages/xliff-to-json-converter @rajsite @TrevorKarjanis @jattasNI

# Specs (placed after packages to have higher precedence for spec files contained in packages)
specs @rajsite @jattasNI @atmgrifter00 @mollykreis

# Change files don't need explicit reviewers
/change
