Repository ni/nimble, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rajsite, @jattasNI, @atmgrifter00, @msmithNI, @DStavilaNI, @munteannatan, @vivinkrishna-ni, @fredvisser, @TrevorKarjanis, @mollykreis

.github/CODEOWNERS:

# Copyright (c) 2021 National Instruments

# Each line is a file pattern followed by one or more owners.
# More info: https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners

# These owners will be the default owners for everything in the repo.
* @rajsite @jattasNI

# Owners of specific locations or file patterns in the repo. Locations are relative to the root of the repo.
# Order is important. The last matching pattern has the most precedence.

# Specific packages
/packages/angular-workspace/example-client-app @rajsite @atmgrifter00
/packages/angular-workspace/nimble-angular @rajsite @atmgrifter00
/packages/angular-workspace/spright-angular @rajsite @atmgrifter00
/packages/blazor-workspace @rajsite @atmgrifter00 @msmithNI
/packages/nimble-components @rajsite @jattasNI
/packages/nimble-components/build/generate-workers @rajsite @jattasNI @DStavilaNI @munteannatan
/packages/nimble-components/src/wafer-map @rajsite @jattasNI @DStavilaNI @munteannatan
/packages/nimble-components/src/rich-text @rajsite @jattasNI @vivinkrishna-ni
/packages/nimble-components/src/rich-text-mention @rajsite @jattasNI @vivinkrishna-ni
/packages/nimble-tokens @rajsite @jattasNI @fredvisser
/packages/site @rajsite @jattasNI
/packages/spright-components @rajsite @jattasNI
/packages/storybook/.storybook @rajsite @jattasNI @fredvisser
/packages/xliff-to-json-converter @rajsite @TrevorKarjanis @jattasNI

# Specs (placed after packages to have higher precedence for spec files contained in packages)
specs @rajsite @jattasNI @atmgrifter00 @mollykreis

# Change files don't need explicit reviewers
/change

Add link suggested by Meyer
  packages/nimble-components/src/number-field/specs/localized-decimal-separator-hld.md
Owners: @rajsite, @jattasNI, @atmgrifter00, @mollykreis

New icon with new name
  packages/nimble-tokens/dist/icons/svg/calendar-circle-exclamation_16x16.svg
Owners: @rajsite, @jattasNI, @fredvisser

Remove defs
  packages/nimble-tokens/dist/icons/svg/calendar-circle-exclamation_16x16.svg
Owners: @rajsite, @jattasNI, @fredvisser

Remove old icon
  packages/nimble-tokens/dist/icons/svg/calendar-exclamation_16x16.svg
Owners: @rajsite, @jattasNI, @fredvisser

new metadata name
  packages/nimble-components/src/icon-base/tests/icon-metadata.ts
Owners: @rajsite, @jattasNI

Icon name in change file comment
  change/@ni-nimble-components-933d846f-c22d-49ba-9970-08a8e1f8a1d0.json
  change/@ni-nimble-tokens-352a5bf0-f304-47dc-91d6-4b8f85f82b35.json
Owners: none

Add icon calendar-circle-exclamation (#2630)
  change/@ni-nimble-components-933d846f-c22d-49ba-9970-08a8e1f8a1d0.json
  change/@ni-nimble-tokens-352a5bf0-f304-47dc-91d6-4b8f85f82b35.json
  packages/nimble-components/src/icon-base/tests/icon-metadata.ts
  packages/nimble-tokens/dist/icons/svg/calendar-circle-exclamation_16x16.svg
Owners: @rajsite, @jattasNI, @fredvisser

applying package updates [skip ci]
  change/@ni-nimble-components-933d846f-c22d-49ba-9970-08a8e1f8a1d0.json
  change/@ni-nimble-tokens-352a5bf0-f304-47dc-91d6-4b8f85f82b35.json
  package-lock.json
  packages/angular-workspace/nimble-angular/CHANGELOG.json
  packages/angular-workspace/nimble-angular/CHANGELOG.md
  packages/angular-workspace/nimble-angular/package.json
  packages/angular-workspace/spright-angular/CHANGELOG.json
  packages/angular-workspace/spright-angular/CHANGELOG.md
  packages/angular-workspace/spright-angular/package.json
  packages/blazor-workspace/NimbleBlazor/CHANGELOG.json
  packages/blazor-workspace/NimbleBlazor/CHANGELOG.md
  packages/blazor-workspace/NimbleBlazor/package.json
  packages/blazor-workspace/SprightBlazor/CHANGELOG.json
  packages/blazor-workspace/SprightBlazor/CHANGELOG.md
  packages/blazor-workspace/SprightBlazor/package.json
  packages/nimble-components/CHANGELOG.json
  packages/nimble-components/CHANGELOG.md
  packages/nimble-components/package.json
  packages/nimble-tokens/CHANGELOG.json
  packages/nimble-tokens/CHANGELOG.md
  packages/nimble-tokens/package.json
  packages/react-workspace/nimble-react/CHANGELOG.json
  packages/react-workspace/nimble-react/CHANGELOG.md
  packages/react-workspace/nimble-react/package.json
  packages/react-workspace/react-client-app/package.json
  packages/react-workspace/spright-react/CHANGELOG.json
  packages/react-workspace/spright-react/CHANGELOG.md
  packages/react-workspace/spright-react/package.json
  packages/spright-components/CHANGELOG.json
  packages/spright-components/CHANGELOG.md
  packages/spright-components/package.json
Owners: @rajsite, @jattasNI, @atmgrifter00, @msmithNI, @fredvisser

More details and citations about why numeric inputs suck
  packages/nimble-components/src/number-field/specs/localized-decimal-separator-hld.md
Owners: @rajsite, @jattasNI, @atmgrifter00, @mollykreis

fix linting issue
  packages/storybook/.storybook/main.js
Owners: @rajsite, @jattasNI, @fredvisser

Address feedback
  packages/nimble-components/src/number-field/specs/localized-decimal-separator-hld.md
  packages/nimble-components/src/number-field/specs/value_shuffle.png
Owners: @rajsite, @jattasNI, @atmgrifter00, @mollykreis

Revert "Incomplete focus styling"
  packages/spright-components/src/chat/input/styles.ts
  packages/spright-components/src/utilities/style/focus.ts
Owners: @rajsite, @jattasNI

fix event name in angular
  packages/angular-workspace/spright-angular/chat/input/spright-chat-input.directive.ts
Owners: @rajsite, @atmgrifter00

fix import
  packages/storybook/src/spright/chat/input/chat-input.stories.ts
Owners: @rajsite, @jattasNI

Fix comment
  packages/spright-components/src/chat/input/index.ts
Owners: @rajsite, @jattasNI

basic matrix story
  packages/storybook/src/spright/chat/input/chat-input-matrix.stories.ts
Owners: @rajsite, @jattasNI

value property (not working)
  packages/spright-components/src/chat/input/index.ts
  packages/storybook/src/spright/chat/input/chat-input-matrix.stories.ts
  packages/storybook/src/spright/chat/input/chat-input.stories.ts
Owners: @rajsite, @jattasNI

value attribute
  packages/spright-components/src/chat/input/index.ts
  packages/storybook/src/spright/chat/input/chat-input-matrix.stories.ts
  packages/storybook/src/spright/chat/input/chat-input.stories.ts
Owners: @rajsite, @jattasNI

value
  packages/spright-components/src/chat/specs/README.md
Owners: @rajsite, @jattasNI, @atmgrifter00, @mollykreis

copy edit
  packages/spright-components/src/chat/specs/README.md
Owners: @rajsite, @jattasNI, @atmgrifter00, @mollykreis

Address feedback
  packages/nimble-components/src/number-field/specs/localized-decimal-separator-hld.md
Owners: @rajsite, @jattasNI, @atmgrifter00, @mollykreis

HLD for localized decimal separator in number-field (#2631)
  change/@ni-nimble-components-0c3d96e4-eb96-477c-a49c-38cdd9e000b5.json
  packages/nimble-components/src/number-field/specs/localized-decimal-separator-hld.md
  packages/nimble-components/src/number-field/specs/native_number_input.png
  packages/nimble-components/src/number-field/specs/value_shuffle.png
Owners: @rajsite, @jattasNI, @atmgrifter00, @mollykreis

applying package updates [skip ci]
  change/@ni-nimble-components-0c3d96e4-eb96-477c-a49c-38cdd9e000b5.json
  packages/nimble-components/CHANGELOG.json
Owners: @rajsite, @jattasNI

lint
  packages/spright-components/src/chat/specs/README.md
Owners: @rajsite, @jattasNI, @atmgrifter00, @mollykreis

Change files
  change/@ni-nimble-components-5ca55480-68c5-44d8-8401-fe25f9e550fa.json
Owners: none

Add theme aware token for calendar event outline
  change/@ni-nimble-components-5ca55480-68c5-44d8-8401-fe25f9e550fa.json
  packages/nimble-components/src/theme-provider/design-token-comments.ts
  packages/nimble-components/src/theme-provider/design-token-names.ts
  packages/nimble-components/src/theme-provider/design-tokens.ts
Owners: @rajsite, @jattasNI

Mnor fix
  change/@ni-nimble-components-5ca55480-68c5-44d8-8401-fe25f9e550fa.json
Owners: none

More submit -> send renames
  packages/angular-workspace/example-client-app/src/app/customapp/customapp.component.html
  packages/angular-workspace/example-client-app/src/app/customapp/customapp.component.ts
  packages/angular-workspace/spright-angular/chat/input/spright-chat-input.directive.ts
Owners: @rajsite, @atmgrifter00

input slot in example app
  packages/angular-workspace/example-client-app/src/app/customapp/customapp.component.html
Owners: @rajsite, @atmgrifter00

docs
  packages/spright-components/src/chat/input/index.ts
Owners: @rajsite, @jattasNI

describe tests
  packages/spright-components/src/chat/input/tests/chat-input.spec.ts
Owners: @rajsite, @jattasNI

Page object
  packages/spright-components/src/chat/input/testing/chat-input.pageobject.ts
Owners: @rajsite, @jattasNI

Some passing tests
  packages/spright-components/src/chat/input/tests/chat-input.spec.ts
Owners: @rajsite, @jattasNI

button title and aria tests
  packages/spright-components/src/chat/input/testing/chat-input.pageobject.ts
  packages/spright-components/src/chat/input/tests/chat-input.spec.ts
Owners: @rajsite, @jattasNI

Fix some tests
  packages/spright-components/src/chat/input/testing/chat-input.pageobject.ts
  packages/spright-components/src/chat/input/tests/chat-input.spec.ts
Owners: @rajsite, @jattasNI

title and aria
  packages/spright-components/src/chat/input/template.ts
  packages/spright-components/src/chat/input/tests/chat-input.spec.ts
Owners: @rajsite, @jattasNI

Attempt to fix shift-enter test
  packages/spright-components/src/chat/input/testing/chat-input.pageobject.ts
Owners: @rajsite, @jattasNI

Minor update
  change/@ni-nimble-components-5ca55480-68c5-44d8-8401-fe25f9e550fa.json
  packages/nimble-components/src/theme-provider/design-token-comments.ts
  packages/nimble-components/src/theme-provider/design-token-names.ts
  packages/nimble-components/src/theme-provider/design-tokens.ts
Owners: @rajsite, @jattasNI

Update main.yml
  .github/workflows/main.yml
Owners: @rajsite, @jattasNI

Update README.md
  README.md
Owners: @rajsite, @jattasNI
