Repository ni/nimble, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00, @msmithNI, @TrevorKarjanis

format
  packages/nimble-components/src/table/specs/table-data-api.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Change files
  change/@ni-nimble-components-c8a6adca-fcca-41b4-aa0a-517e7c58b81d.json
Owners: none

Handling some PR feedback.
  packages/nimble-components/src/table/specs/README.md
  packages/nimble-components/src/table/specs/table-spec.md
  packages/nimble-components/src/table/specs/tech-stack.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Minor update.
  packages/nimble-components/src/table/specs/README.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Adding open issue.
  packages/nimble-components/src/table/specs/README.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Spec updates
  packages/nimble-components/src/spinner/specs/README.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Minor update.
  packages/nimble-components/src/table/specs/README.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Formatting.
  packages/nimble-components/src/table/specs/README.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Linting fixes.
  packages/nimble-components/src/table/specs/README.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Minor update
  packages/nimble-components/src/table/specs/README.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

fix closing tags in example
  packages/nimble-components/src/table/specs/table-data-api.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Make hierarchy its own feature.
  packages/nimble-components/src/table/specs/README.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

format
  packages/nimble-components/src/table/specs/table-data-api.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Update packages/nimble-components/src/table/specs/table-data-api.md
  packages/nimble-components/src/table/specs/table-data-api.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

first pass
  packages/nimble-components/src/all-components.ts
  packages/nimble-components/src/table/index.ts
  packages/nimble-components/src/table/styles.ts
  packages/nimble-components/src/table/template.ts
  packages/nimble-components/src/table/tests/table-matrix.stories.ts
  packages/nimble-components/src/table/tests/table.spec.ts
  packages/nimble-components/src/table/tests/table.stories.ts
Owners: @rajsite, @jattasNI

lint/format
  packages/nimble-components/src/table/template.ts
  packages/nimble-components/src/table/tests/table-matrix.stories.ts
  packages/nimble-components/src/table/tests/table.spec.ts
  packages/nimble-components/src/table/tests/table.stories.ts
Owners: @rajsite, @jattasNI

Change files
  change/@ni-nimble-components-c9f2f270-d0d3-478a-b43a-c0777af5fc44.json
Owners: none

basic table rendering with data
  package-lock.json
  packages/nimble-components/package.json
  packages/nimble-components/src/table/index.ts
  packages/nimble-components/src/table/styles.ts
  packages/nimble-components/src/table/template.ts
  packages/nimble-components/src/table/tests/table.stories.ts
Owners: @rajsite, @jattasNI, @fredvisser

Update packages/nimble-components/src/table/specs/README.md
  packages/nimble-components/src/table/specs/README.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Minor update.
  packages/nimble-components/src/table/specs/README.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Minor changes.
  packages/nimble-components/src/table/specs/README.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Update table.stories.ts
  packages/nimble-components/src/table/tests/table.stories.ts
Owners: @rajsite, @jattasNI

Handling PR feedback.
  packages/nimble-components/src/table/specs/README.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Update packages/nimble-components/src/table/specs/README.md
  packages/nimble-components/src/table/specs/README.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Update spec
  packages/nimble-components/src/spinner/specs/README.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Implementation prototype
  packages/nimble-components/src/all-components.ts
  packages/nimble-components/src/spinner/index.ts
  packages/nimble-components/src/spinner/styles.ts
  packages/nimble-components/src/spinner/template.ts
  packages/nimble-components/src/spinner/tests/spinner.stories.ts
  packages/nimble-components/src/spinner/types.ts
Owners: @rajsite, @jattasNI

Change file update
  change/@ni-nimble-components-bd130048-dcc9-4c2c-a971-da113327b3c4.json
  change/@ni-nimble-components-cb67d3ce-526f-411d-ba8d-60cea6651936.json
Owners: none

Handling PR feedback.
  packages/nimble-components/src/table/specs/README.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Minor update.
  packages/nimble-components/src/table/specs/README.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

address some PR feedback
  packages/nimble-components/src/table/specs/table-data-api.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

format
  packages/nimble-components/src/table/index.ts
  packages/nimble-components/src/table/template.ts
  packages/nimble-components/src/table/tests/table.stories.ts
Owners: @rajsite, @jattasNI

get test to pass
  packages/nimble-components/karma.conf.js
Owners: @rajsite, @jattasNI

add data to matrix story
  packages/nimble-components/src/table/tests/table-matrix.stories.ts
Owners: @rajsite, @jattasNI

lint
  packages/nimble-components/karma.conf.js
Owners: @rajsite, @jattasNI

Storybook improvements
  packages/nimble-components/src/anchor-button/tests/anchor-button.stories.ts
  packages/nimble-components/src/anchor/tests/anchor.stories.ts
  packages/nimble-components/src/button/tests/button.stories.ts
  packages/nimble-components/src/patterns/button/doc-strings.ts
  packages/nimble-components/src/toggle-button/tests/toggle-button.stories.ts
Owners: @rajsite, @jattasNI

Handling PR feedback.
  packages/nimble-components/src/table/specs/README.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

updating images and design
  packages/site/root/index.js
  packages/site/root/ni.svg
  packages/site/root/nimble-logo-black.png
  packages/site/root/nimble-logo.png
  packages/site/root/nimble-ui-logo.svg
  packages/site/root/styles.css
  packages/site/src/index.html
Owners: @rajsite, @jattasNI

cleaning up from linting errors
  packages/site/root/index.js
Owners: @rajsite, @jattasNI

resolving more linting issues
  packages/site/root/index.js
Owners: @rajsite, @jattasNI

Disable based on presence of href
  packages/nimble-components/src/anchor-button/index.ts
  packages/nimble-components/src/anchor-button/template.ts
  packages/nimble-components/src/anchor-button/tests/anchor-button.stories.ts
  packages/nimble-components/src/anchor/index.ts
  packages/nimble-components/src/anchor/styles.ts
  packages/nimble-components/src/anchor/tests/anchor-matrix.stories.ts
  packages/nimble-components/src/anchor/tests/anchor.stories.ts
  packages/nimble-components/src/patterns/link/doc-strings.ts
Owners: @rajsite, @jattasNI

.github/CODEOWNERS:

# Copyright (c) 2021 National Instruments

# Each line is a file pattern followed by one or more owners.
# More info: https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners

# These owners will be the default owners for everything in the repo.
* @rajsite @jattasNI @fredvisser

# Owners of specific locations or file patterns in the repo. Locations are relative to the root of the repo.
# Order is important. The last matching pattern has the most precedence.

# Specific packages
/angular-workspace/projects/example-client-app @rajsite @atmgrifter00
/angular-workspace/projects/ni/nimble-angular @rajsite @atmgrifter00
/packages/nimble-blazor @atmgrifter00 @msmithNI
/packages/nimble-components @rajsite @jattasNI
/packages/nimble-tokens @rajsite @jattasNI @fredvisser
/packages/site @rajsite @jattasNI
/packages/xliff-to-json-converter @rajsite @TrevorKarjanis @jattasNI

# Specs (placed after packages to have higher precedence for spec files contained in packages)
specs @rajsite @jattasNI @fredvisser @atmgrifter00

# Change files don't need explicit reviewers
/change
