Repository ni/nimble, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rajsite, @jattasNI, @atmgrifter00, @msmithNI, @DStavilaNI, @munteannatan, @vivinkrishna-ni, @fredvisser, @TrevorKarjanis, @mollykreis

Added new slots for the spright-chat-message to allow adding action buttons and follow-up prompts (#2552)
  change/@ni-spright-components-095116e3-8f7b-478c-8c7f-4d72964c5c4d.json
  packages/blazor-workspace/Examples/Demo.Shared/Pages/ComponentsDemo.razor
  packages/spright-components/src/chat/conversation/styles.ts
  packages/spright-components/src/chat/message/index.ts
  packages/spright-components/src/chat/message/styles.ts
  packages/spright-components/src/chat/message/template.ts
  packages/spright-components/src/chat/specs/README.md
  packages/storybook/src/spright/chat/conversation/chat-conversation-matrix.stories.ts
  packages/storybook/src/spright/chat/conversation/chat-conversation.stories.ts
  packages/storybook/src/spright/chat/message/chat-message.stories.ts
Owners: @rajsite, @atmgrifter00, @msmithNI, @jattasNI, @mollykreis

applying package updates [skip ci]
  change/@ni-spright-components-095116e3-8f7b-478c-8c7f-4d72964c5c4d.json
  package-lock.json
  packages/angular-workspace/spright-angular/CHANGELOG.json
  packages/angular-workspace/spright-angular/CHANGELOG.md
  packages/angular-workspace/spright-angular/package.json
  packages/blazor-workspace/SprightBlazor/CHANGELOG.json
  packages/blazor-workspace/SprightBlazor/CHANGELOG.md
  packages/blazor-workspace/SprightBlazor/package.json
  packages/spright-components/CHANGELOG.json
  packages/spright-components/CHANGELOG.md
  packages/spright-components/package.json
Owners: @rajsite, @jattasNI, @atmgrifter00, @msmithNI

Remove examples showing old style prompt messages
  packages/storybook/src/spright/chat/conversation/chat-conversation.mdx
  packages/storybook/src/spright/chat/message/chat-message.stories.ts
Owners: @rajsite, @jattasNI

unused import
  packages/storybook/src/spright/chat/message/chat-message.stories.ts
Owners: @rajsite, @jattasNI

Remove Storybook documentation of old pattern for showing "prompt" buttons (#2580)
  packages/storybook/src/spright/chat/conversation/chat-conversation.mdx
  packages/storybook/src/spright/chat/message/chat-message.stories.ts
Owners: @rajsite, @jattasNI

Fix Blazor package names in README
  README.md
Owners: @rajsite, @jattasNI

Angular integration for chat components
  packages/angular-workspace/spright-angular/chat/public-api.ts
  packages/angular-workspace/spright-angular/chat/spright-chat-conversation.directive.ts
  packages/angular-workspace/spright-angular/chat/spright-chat-message.directive.ts
  packages/angular-workspace/spright-angular/chat/spright-chat.module.ts
  packages/angular-workspace/spright-angular/chat/tests/chat.module.spec.ts
Owners: @rajsite, @atmgrifter00

Basic example app
  packages/angular-workspace/example-client-app/src/app/app.module.ts
  packages/angular-workspace/example-client-app/src/app/customapp/customapp.component.html
  packages/angular-workspace/spright-angular/chat/ng-package.json
Owners: @rajsite, @atmgrifter00

Change files
  change/@ni-spright-angular-56f45689-0226-4c52-b948-69ac22ed52e0.json
Owners: none

update Angular styleguide for i18n rule
  package-lock.json
  packages/angular-workspace/package.json
Owners: @rajsite, @jattasNI

Align Angular and Blazor examples
  packages/angular-workspace/example-client-app/src/app/app.module.ts
  packages/angular-workspace/example-client-app/src/app/customapp/customapp.component.html
  packages/blazor-workspace/Examples/Demo.Shared/Pages/ComponentsDemo.razor
Owners: @rajsite, @atmgrifter00, @msmithNI

Component status
  packages/storybook/src/docs/component-status.stories.ts
Owners: @rajsite, @jattasNI

Example app styles
  packages/angular-workspace/example-client-app/src/app/customapp/customapp.component.scss
Owners: @rajsite, @atmgrifter00

Fix package-lock.json
  package-lock.json
Owners: @rajsite, @jattasNI

number field IxD updated requirements
  packages/nimble-components/src/number-field/specs/IxD.md
  packages/nimble-components/src/number-field/specs/spec-images/coerce-number-input.png
  packages/nimble-components/src/number-field/specs/spec-images/fraction-digits-number-input.png
  packages/nimble-components/src/number-field/specs/spec-images/localized-number-input-cursor-click.png
  packages/nimble-components/src/number-field/specs/spec-images/localized-number-input.png
  packages/nimble-components/src/number-field/specs/spec-images/number-field-anatomy.png
Owners: @rajsite, @jattasNI, @atmgrifter00, @mollykreis

Separate entry point per component
  packages/angular-workspace/example-client-app/src/app/app.module.ts
  packages/angular-workspace/spright-angular/chat/conversation/ng-package.json
  packages/angular-workspace/spright-angular/chat/conversation/public-api.ts
  packages/angular-workspace/spright-angular/chat/conversation/spright-chat-conversation.directive.ts
  packages/angular-workspace/spright-angular/chat/conversation/spright-chat-conversation.module.ts
  packages/angular-workspace/spright-angular/chat/conversation/tests/spright-chat-conversation.directive.spec.ts
  packages/angular-workspace/spright-angular/chat/message/ng-package.json
  packages/angular-workspace/spright-angular/chat/message/public-api.ts
  packages/angular-workspace/spright-angular/chat/message/spright-chat-message.directive.ts
  packages/angular-workspace/spright-angular/chat/message/spright-chat-message.module.ts
  packages/angular-workspace/spright-angular/chat/message/tests/spright-chat-message.directive.spec.ts
  packages/angular-workspace/spright-angular/chat/ng-package.json
  packages/angular-workspace/spright-angular/chat/public-api.ts
Owners: @rajsite, @atmgrifter00

Angular wrappers for Spright chat components (#2585)
  change/@ni-spright-angular-56f45689-0226-4c52-b948-69ac22ed52e0.json
  package-lock.json
  packages/angular-workspace/example-client-app/src/app/app.module.ts
  packages/angular-workspace/example-client-app/src/app/customapp/customapp.component.html
  packages/angular-workspace/example-client-app/src/app/customapp/customapp.component.scss
  packages/angular-workspace/package.json
  packages/angular-workspace/spright-angular/chat/conversation/ng-package.json
  packages/angular-workspace/spright-angular/chat/conversation/public-api.ts
  packages/angular-workspace/spright-angular/chat/conversation/spright-chat-conversation.directive.ts
  packages/angular-workspace/spright-angular/chat/conversation/spright-chat-conversation.module.ts
  packages/angular-workspace/spright-angular/chat/conversation/tests/spright-chat-conversation.directive.spec.ts
  packages/angular-workspace/spright-angular/chat/message/ng-package.json
  packages/angular-workspace/spright-angular/chat/message/public-api.ts
  packages/angular-workspace/spright-angular/chat/message/spright-chat-message.directive.ts
  packages/angular-workspace/spright-angular/chat/message/spright-chat-message.module.ts
  packages/angular-workspace/spright-angular/chat/message/tests/spright-chat-message.directive.spec.ts
  packages/blazor-workspace/Examples/Demo.Shared/Pages/ComponentsDemo.razor
  packages/storybook/src/docs/component-status.stories.ts
Owners: @rajsite, @jattasNI, @atmgrifter00, @msmithNI

applying package updates [skip ci]
  change/@ni-spright-angular-56f45689-0226-4c52-b948-69ac22ed52e0.json
  package-lock.json
  packages/angular-workspace/spright-angular/CHANGELOG.json
  packages/angular-workspace/spright-angular/CHANGELOG.md
  packages/angular-workspace/spright-angular/package.json
Owners: @rajsite, @jattasNI, @atmgrifter00

Update table number text column docs for unit to use slots API category
  packages/storybook/src/nimble/table-column/number-text/table-column-number-text.stories.ts
Owners: @rajsite, @jattasNI

Update table number text column docs for unit to use slots API category (#2587)
  packages/storybook/src/nimble/table-column/number-text/table-column-number-text.stories.ts
Owners: @rajsite, @jattasNI

review feedback
  packages/nimble-components/src/number-field/specs/IxD.md
  packages/nimble-components/src/number-field/specs/spec-images/localized-number-input-cursor-click.png
Owners: @rajsite, @jattasNI, @atmgrifter00, @mollykreis

Rebuild lock file
  package-lock.json
Owners: @rajsite, @jattasNI

unpin node types
  package-lock.json
  package.json
Owners: @rajsite, @jattasNI

Unpin @node/types (#2590)
  package-lock.json
  package.json
Owners: @rajsite, @jattasNI

First pass
  packages/angular-workspace/nimble-angular/src/directives/combobox/nimble-combobox-control-value-accessor.directive.ts
  packages/angular-workspace/nimble-angular/src/directives/combobox/nimble-combobox.directive.ts
  packages/angular-workspace/nimble-angular/src/directives/number-field/nimble-number-field-control-value-accessor.directive.ts
  packages/angular-workspace/nimble-angular/src/directives/select/nimble-select-control-value-accessor.directive.ts
  packages/angular-workspace/nimble-angular/src/directives/select/nimble-select.directive.ts
  packages/angular-workspace/nimble-angular/src/directives/text-area/nimble-text-area-control-value-accessor.directive.ts
  packages/angular-workspace/nimble-angular/src/directives/text-field/nimble-text-field-control-value-accessor.directive.ts
  packages/nimble-components/src/combobox/index.ts
  packages/nimble-components/src/combobox/template.ts
  packages/nimble-components/src/patterns/dropdown/styles.ts
  packages/nimble-components/src/select/index.ts
  packages/nimble-components/src/select/template.ts
  packages/nimble-components/src/text-field/index.ts
  packages/storybook/src/nimble/combobox/combobox.stories.ts
  packages/storybook/src/nimble/select/select.stories.ts
Owners: @rajsite, @atmgrifter00, @jattasNI

format
  packages/nimble-components/src/combobox/index.ts
Owners: @rajsite, @jattasNI

a few fixes
  packages/angular-workspace/nimble-angular/src/directives/combobox/nimble-combobox-control-value-accessor.directive.ts
  packages/angular-workspace/nimble-angular/src/directives/number-field/nimble-number-field-control-value-accessor.directive.ts
  packages/angular-workspace/nimble-angular/src/directives/select/nimble-select-control-value-accessor.directive.ts
  packages/angular-workspace/nimble-angular/src/directives/text-area/nimble-text-area-control-value-accessor.directive.ts
  packages/angular-workspace/nimble-angular/src/directives/text-field/nimble-text-field-control-value-accessor.directive.ts
  packages/nimble-components/src/patterns/dropdown/styles.ts
Owners: @rajsite, @atmgrifter00, @jattasNI

Change files
  change/@ni-nimble-angular-497dbb7f-ae32-424e-8f8b-cbe54637e488.json
  change/@ni-nimble-components-bf308ea9-e9f0-4ed0-ab22-22d55a1878e1.json
Owners: none

Blazor doc updates.
  packages/blazor-workspace/NimbleBlazor/README.md
Owners: @rajsite, @atmgrifter00, @msmithNI

Change files
  change/@ni-nimble-blazor-d567ae93-ffd9-44be-8743-85a67419c5f3.json
Owners: none

revert temp change
  packages/nimble-components/src/text-field/index.ts
Owners: @rajsite, @jattasNI

handle binding directly to readonly
  packages/angular-workspace/nimble-angular/src/directives/select/nimble-select-control-value-accessor.directive.ts
Owners: @rajsite, @atmgrifter00

better aria?
  packages/nimble-components/src/select/template.ts
Owners: @rajsite, @jattasNI

0px padding when readonly
  packages/nimble-components/src/patterns/dropdown/styles.ts
Owners: @rajsite, @jattasNI

Create HLD
  specs/angular-readonly-form-styling/README.md
  specs/angular-readonly-form-styling/disabled-form.png
  specs/angular-readonly-form-styling/readonly-form.png
Owners: @rajsite, @jattasNI, @atmgrifter00, @mollykreis

Apply suggestions from code review
  specs/angular-readonly-form-styling/README.md
Owners: @rajsite, @jattasNI, @atmgrifter00, @mollykreis

don't need to change role
  packages/nimble-components/src/select/template.ts
Owners: @rajsite, @jattasNI

PR feedback
  specs/angular-readonly-form-styling/README.md
  specs/angular-readonly-form-styling/readonly-text-field-1.png
  specs/angular-readonly-form-styling/readonly-text-field-2.png
Owners: @rajsite, @jattasNI, @atmgrifter00, @mollykreis

Apply suggestions from code review
  specs/angular-readonly-form-styling/README.md
Owners: @rajsite, @jattasNI, @atmgrifter00, @mollykreis

small ARIA note
  specs/angular-readonly-form-styling/README.md
Owners: @rajsite, @jattasNI, @atmgrifter00, @mollykreis

.github/CODEOWNERS:

# Copyright (c) 2021 National Instruments

# Each line is a file pattern followed by one or more owners.
# More info: https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners

# These owners will be the default owners for everything in the repo.
* @rajsite @jattasNI

# Owners of specific locations or file patterns in the repo. Locations are relative to the root of the repo.
# Order is important. The last matching pattern has the most precedence.

# Specific packages
/packages/angular-workspace/example-client-app @rajsite @atmgrifter00
/packages/angular-workspace/nimble-angular @rajsite @atmgrifter00
/packages/angular-workspace/spright-angular @rajsite @atmgrifter00
/packages/blazor-workspace @rajsite @atmgrifter00 @msmithNI
/packages/nimble-components @rajsite @jattasNI
/packages/nimble-components/build/generate-workers @rajsite @jattasNI @DStavilaNI @munteannatan
/packages/nimble-components/src/wafer-map @rajsite @jattasNI @DStavilaNI @munteannatan
/packages/nimble-components/src/rich-text @rajsite @jattasNI @vivinkrishna-ni
/packages/nimble-components/src/rich-text-mention @rajsite @jattasNI @vivinkrishna-ni
/packages/nimble-tokens @rajsite @jattasNI @fredvisser
/packages/site @rajsite @jattasNI
/packages/spright-components @rajsite @jattasNI
/packages/storybook/.storybook @rajsite @jattasNI @fredvisser
/packages/xliff-to-json-converter @rajsite @TrevorKarjanis @jattasNI

# Specs (placed after packages to have higher precedence for spec files contained in packages)
specs @rajsite @jattasNI @atmgrifter00 @mollykreis

# Change files don't need explicit reviewers
/change
