Repository ni/nimble, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00, @msmithNI, @TrevorKarjanis

.github/CODEOWNERS:

# Copyright (c) 2021 National Instruments

# Each line is a file pattern followed by one or more owners.
# More info: https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners

# These owners will be the default owners for everything in the repo.
* @rajsite @jattasNI @fredvisser

# Owners of specific locations or file patterns in the repo. Locations are relative to the root of the repo.
# Order is important. The last matching pattern has the most precedence.

# Specific packages
/angular-workspace/projects/example-client-app @rajsite @atmgrifter00
/angular-workspace/projects/ni/nimble-angular @rajsite @atmgrifter00
/packages/nimble-blazor @atmgrifter00 @msmithNI
/packages/nimble-components @rajsite @jattasNI
/packages/nimble-tokens @rajsite @jattasNI @fredvisser
/packages/site @rajsite @jattasNI
/packages/xliff-to-json-converter @rajsite @TrevorKarjanis @jattasNI

# Specs (placed after packages to have higher precedence for spec files contained in packages)
specs @rajsite @jattasNI @fredvisser @atmgrifter00

# Change files don't need explicit reviewers
/change

Style tweaks
  packages/nimble-components/src/anchor/styles.ts
  packages/nimble-components/src/patterns/link/styles.ts
Owners: @rajsite, @jattasNI

Created render queue for wafer map input changes (#905)
  change/@ni-nimble-components-d62c8a19-26e8-448d-831b-ddc56969c9bb.json
  packages/nimble-components/src/wafer-map/index.ts
  packages/nimble-components/src/wafer-map/modules/data-manager.ts
  packages/nimble-components/src/wafer-map/modules/prerendering.ts
  packages/nimble-components/src/wafer-map/specs/README.md
  packages/nimble-components/src/wafer-map/tests/data-manager.spec.ts
  packages/nimble-components/src/wafer-map/tests/prerendering.coloring.spec.ts
  packages/nimble-components/src/wafer-map/tests/prerendering.labeling.spec.ts
  packages/nimble-components/src/wafer-map/tests/prerendering.positioning.spec.ts
  packages/nimble-components/src/wafer-map/tests/sets.ts
  packages/nimble-components/src/wafer-map/tests/types.spec.ts
  packages/nimble-components/src/wafer-map/tests/utilities.ts
  packages/nimble-components/src/wafer-map/tests/wafer-map.spec.ts
  packages/nimble-components/src/wafer-map/tests/wafer-map.stories.ts
  packages/nimble-components/src/wafer-map/types.ts
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

applying package updates [skip ci]
  angular-workspace/projects/ni/nimble-angular/CHANGELOG.json
  angular-workspace/projects/ni/nimble-angular/CHANGELOG.md
  angular-workspace/projects/ni/nimble-angular/package.json
  change/@ni-nimble-components-d62c8a19-26e8-448d-831b-ddc56969c9bb.json
  package-lock.json
  packages/nimble-blazor/package.json
  packages/nimble-components/CHANGELOG.json
  packages/nimble-components/CHANGELOG.md
  packages/nimble-components/package.json
Owners: @rajsite, @atmgrifter00, @jattasNI, @fredvisser, @msmithNI

Minor changes
  packages/nimble-components/src/wafer-map/index.ts
  packages/nimble-components/src/wafer-map/modules/rendering.ts
  packages/nimble-components/src/wafer-map/styles.ts
  packages/nimble-components/src/wafer-map/template.ts
  packages/nimble-components/src/wafer-map/tests/wafer-map-matrix.stories.ts
Owners: @rajsite, @jattasNI

Update table-data-api.md
  packages/nimble-components/src/table/specs/table-data-api.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Updated matrix test and comment
  packages/nimble-components/src/wafer-map/modules/rendering.ts
  packages/nimble-components/src/wafer-map/tests/wafer-map-matrix.stories.ts
Owners: @rajsite, @jattasNI

Formatting.
  packages/nimble-components/src/table/specs/table-columns-hld.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Create anchor-base
  packages/nimble-components/src/anchor-base/index.ts
  packages/nimble-components/src/anchor-button/index.ts
  packages/nimble-components/src/anchor/index.ts
Owners: @rajsite, @jattasNI

Adding link.
  packages/nimble-components/src/table/specs/table-columns-hld.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Formatting
  packages/nimble-components/src/anchor-base/index.ts
  packages/nimble-components/src/anchor-button/index.ts
Owners: @rajsite, @jattasNI

Update types & write tests
  angular-workspace/projects/ni/nimble-angular/src/directives/table/nimble-table.directive.ts
  angular-workspace/projects/ni/nimble-angular/src/directives/table/tests/nimble-table.directive.spec.ts
Owners: @rajsite, @atmgrifter00

update example app
  angular-workspace/projects/example-client-app/src/app/customapp/customapp.component.html
  angular-workspace/projects/example-client-app/src/app/customapp/customapp.component.scss
  angular-workspace/projects/example-client-app/src/app/customapp/customapp.component.ts
Owners: @rajsite, @atmgrifter00

update component table
  README.md
Owners: @rajsite, @jattasNI, @fredvisser

Change files
  change/@ni-nimble-angular-761cf0de-3455-4fb8-af25-0631d706dee5.json
Owners: none

Adopt Milan's style refactor
  packages/nimble-components/src/anchor/styles.ts
  packages/nimble-components/src/breadcrumb-item/styles.ts
  packages/nimble-components/src/patterns/link/styles.ts
Owners: @rajsite, @jattasNI

Remove unused styling of dialog from example apps
  angular-workspace/projects/example-client-app/src/app/customapp/customapp.component.scss
  packages/nimble-blazor/Examples/Demo.Shared/Pages/ComponentsDemo.razor.css
Owners: @rajsite, @atmgrifter00, @msmithNI

Change files
  change/@ni-nimble-blazor-956c2fbb-7d8b-4e19-9c09-d5996fabcc9c.json
Owners: none

Fix href description in anchor button story
  packages/nimble-components/src/anchor-button/tests/anchor-button.stories.ts
  packages/nimble-components/src/anchor/tests/anchor.stories.ts
  packages/nimble-components/src/patterns/link/tests/doc-strings.ts
Owners: @rajsite, @jattasNI

Updating table spec.
  packages/nimble-components/src/table/specs/README.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Add font to breadcrumb item so that it is correct even without enclosing breadcrumb
  packages/nimble-components/src/breadcrumb-item/styles.ts
Owners: @rajsite, @jattasNI

Changed wafer map rendering die opacity to rgba color alpha channel (#909)
  change/@ni-nimble-components-55691b2f-2403-49ff-800c-a8090c194c39.json
  package-lock.json
  packages/nimble-components/package.json
  packages/nimble-components/src/wafer-map/modules/prerendering.ts
  packages/nimble-components/src/wafer-map/specs/README.md
  packages/nimble-components/src/wafer-map/tests/data-manager.spec.ts
  packages/nimble-components/src/wafer-map/tests/prerendering.coloring.spec.ts
  packages/nimble-components/src/wafer-map/types.ts
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

applying package updates [skip ci]
  angular-workspace/projects/ni/nimble-angular/CHANGELOG.json
  angular-workspace/projects/ni/nimble-angular/CHANGELOG.md
  angular-workspace/projects/ni/nimble-angular/package.json
  change/@ni-nimble-components-55691b2f-2403-49ff-800c-a8090c194c39.json
  package-lock.json
  packages/nimble-blazor/package.json
  packages/nimble-components/CHANGELOG.json
  packages/nimble-components/CHANGELOG.md
  packages/nimble-components/package.json
Owners: @rajsite, @atmgrifter00, @jattasNI, @fredvisser, @msmithNI

Handling PR feedback.
  packages/nimble-components/src/table/specs/table-columns-hld.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Spec updates
  packages/nimble-components/src/spinner/specs/README.md
  packages/nimble-components/src/spinner/specs/SpinnerPrefersReducedMotion.gif
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Lint/prettier
  packages/nimble-components/src/spinner/specs/README.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Nimble spinner spec (#837)
  change/@ni-nimble-components-cb67d3ce-526f-411d-ba8d-60cea6651936.json
  packages/nimble-components/src/spinner/specs/BlazorWebConfigSpinner.gif
  packages/nimble-components/src/spinner/specs/NewSpinnerDesign.gif
  packages/nimble-components/src/spinner/specs/README.md
  packages/nimble-components/src/spinner/specs/SlMatSpinner.gif
  packages/nimble-components/src/spinner/specs/SpinnerPrefersReducedMotion.gif
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

applying package updates [skip ci]
  change/@ni-nimble-components-cb67d3ce-526f-411d-ba8d-60cea6651936.json
  packages/nimble-components/CHANGELOG.json
Owners: @rajsite, @jattasNI

- Implemented a seeded value generator for the dies (PR feedback)
  packages/nimble-components/package.json
  packages/nimble-components/src/wafer-map/tests/ValueGenerator.ts
  packages/nimble-components/src/wafer-map/tests/data-generator.ts
  packages/nimble-components/src/wafer-map/tests/value-generator.ts
  packages/nimble-components/src/wafer-map/tests/wafer-map.stories.ts
Owners: @rajsite, @jattasNI

Implemented feedback from Milan Raj
  packages/nimble-components/src/wafer-map/index.ts
  packages/nimble-components/src/wafer-map/modules/rendering.ts
  packages/nimble-components/src/wafer-map/styles.ts
  packages/nimble-components/src/wafer-map/template.ts
  packages/nimble-components/src/wafer-map/tests/wafer-map-matrix.stories.ts
Owners: @rajsite, @jattasNI

applied PR feedback - code refactoring
  packages/nimble-components/src/wafer-map/tests/data-generator.ts
Owners: @rajsite, @jattasNI

Applied PR feedback - added comments to code
  packages/nimble-components/src/wafer-map/tests/data-generator.ts
Owners: @rajsite, @jattasNI

Fixed linting issues
  packages/nimble-components/src/wafer-map/tests/data-generator.ts
  packages/nimble-components/src/wafer-map/tests/value-generator.ts
  packages/nimble-components/src/wafer-map/tests/wafer-map.stories.ts
Owners: @rajsite, @jattasNI

updated package-lock.json
  package-lock.json
Owners: @rajsite, @jattasNI, @fredvisser

Change files
  change/@ni-nimble-components-303a14cd-7f55-4f74-b221-da30ff1bc8f8.json
Owners: none

Finished merge
  packages/nimble-components/package.json
  packages/nimble-components/src/wafer-map/tests/wafer-map.stories.ts
Owners: @rajsite, @jattasNI

Updated the package-lock.json
  package-lock.json
Owners: @rajsite, @jattasNI, @fredvisser

npm run format was executed
  packages/nimble-components/src/wafer-map/index.ts
  packages/nimble-components/src/wafer-map/modules/rendering.ts
  packages/nimble-components/src/wafer-map/styles.ts
  packages/nimble-components/src/wafer-map/tests/wafer-map-matrix.stories.ts
Owners: @rajsite, @jattasNI

Fixed linting issue
  packages/nimble-components/src/wafer-map/tests/data-generator.ts
  packages/nimble-components/src/wafer-map/tests/wafer-map.stories.ts
Owners: @rajsite, @jattasNI

change from 'patch' to 'none'
  change/@ni-nimble-blazor-956c2fbb-7d8b-4e19-9c09-d5996fabcc9c.json
Owners: none

Remove unused styles from Angular & Blazor example apps (#915)
  angular-workspace/projects/example-client-app/src/app/customapp/customapp.component.scss
  change/@ni-nimble-blazor-956c2fbb-7d8b-4e19-9c09-d5996fabcc9c.json
  packages/nimble-blazor/Examples/Demo.Shared/Pages/ComponentsDemo.razor.css
Owners: @rajsite, @atmgrifter00, @msmithNI
