Repository ni/nimble, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00, @msmithNI, @TrevorKarjanis

Add matrix stories and tests
  packages/nimble-components/src/anchor/styles.ts
  packages/nimble-components/src/anchor/tests/anchor-matrix.stories.ts
  packages/nimble-components/src/anchor/tests/anchor.spec.ts
  packages/nimble-components/src/anchor/tests/types.spec.ts
  packages/nimble-components/src/button/styles.ts
  packages/nimble-components/src/patterns/link/styles.ts
Owners: @rajsite, @jattasNI

Change files
  change/@ni-nimble-components-d78a3d24-af06-4b8f-847b-a971c425b9bb.json
Owners: none

Update README
  README.md
Owners: @rajsite, @jattasNI, @fredvisser

Remove from tab order when disabled
  packages/nimble-components/src/anchor/index.ts
Owners: @rajsite, @jattasNI

Revert some styling change that broke the toggle button
  packages/nimble-components/src/anchor/index.ts
  packages/nimble-components/src/patterns/button/styles.ts
Owners: @rajsite, @jattasNI

implemented suggestions
  change/@ni-nimble-components-c6c83088-a25b-49f2-bd8f-50abc517ede5.json
  packages/nimble-components/src/wafer-map/modules/computations.ts
  packages/nimble-components/src/wafer-map/tests/computations.spec.ts
  packages/nimble-components/src/wafer-map/types.ts
Owners: @rajsite, @jattasNI

fixed tests and import
  packages/nimble-components/src/wafer-map/index.ts
  packages/nimble-components/src/wafer-map/modules/computations.ts
Owners: @rajsite, @jattasNI

Computations functionality added to the WaferMap component (#831)
  change/@ni-nimble-components-c6c83088-a25b-49f2-bd8f-50abc517ede5.json
  package-lock.json
  packages/nimble-components/package.json
  packages/nimble-components/src/wafer-map/index.ts
  packages/nimble-components/src/wafer-map/modules/computations.ts
  packages/nimble-components/src/wafer-map/tests/computations.spec.ts
  packages/nimble-components/src/wafer-map/tests/utilities.ts
  packages/nimble-components/src/wafer-map/types.ts
Owners: @rajsite, @jattasNI, @fredvisser

applying package updates [skip ci]
  angular-workspace/projects/ni/nimble-angular/CHANGELOG.json
  angular-workspace/projects/ni/nimble-angular/CHANGELOG.md
  angular-workspace/projects/ni/nimble-angular/package.json
  change/@ni-nimble-components-c6c83088-a25b-49f2-bd8f-50abc517ede5.json
  package-lock.json
  packages/nimble-blazor/package.json
  packages/nimble-components/CHANGELOG.json
  packages/nimble-components/CHANGELOG.md
  packages/nimble-components/package.json
Owners: @rajsite, @atmgrifter00, @jattasNI, @fredvisser, @msmithNI

Enable require-await rule
  angular-workspace/.eslintrc.js
  packages/nimble-blazor/.eslintrc.js
  packages/nimble-components/.eslintrc.js
  packages/nimble-components/.storybook/main.js
  packages/nimble-components/build/.eslintrc.js
  packages/nimble-components/src/.eslintrc.js
  packages/nimble-components/src/drawer/tests/drawer.spec.ts
  packages/nimble-components/src/tree-view/tests/tree.spec.ts
  packages/nimble-tokens/.eslintrc.js
  packages/site/.eslintrc.js
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00, @msmithNI

Change files
  change/@ni-nimble-blazor-91358d04-10a3-450e-995b-8970f1128006.json
  change/@ni-nimble-components-3b4e5324-510c-4cff-a98f-cf216606e551.json
  change/@ni-nimble-tokens-c57f19cd-796f-48aa-961a-7fb8be603668.json
Owners: none

Updates tests and storybook, changes type to none
  change/@ni-nimble-blazor-91358d04-10a3-450e-995b-8970f1128006.json
  change/@ni-nimble-components-3b4e5324-510c-4cff-a98f-cf216606e551.json
  change/@ni-nimble-tokens-c57f19cd-796f-48aa-961a-7fb8be603668.json
Owners: none

Prerendering module and some tests
  packages/nimble-components/src/wafer-map/modules/prerendering.ts
  packages/nimble-components/src/wafer-map/tests/prerendering.spec.ts
  packages/nimble-components/src/wafer-map/tests/utilities.ts
  packages/nimble-components/src/wafer-map/types.ts
Owners: @rajsite, @jattasNI

Finished first iteration of the wafermap component and the storybook
  packages/nimble-components/src/wafer-map/index.ts
  packages/nimble-components/src/wafer-map/template.ts
  packages/nimble-components/src/wafer-map/tests/sets.ts
  packages/nimble-components/src/wafer-map/tests/wafer-map.stories.ts
  packages/nimble-components/src/wafer-map/types.ts
Owners: @rajsite, @jattasNI

created coloring tests
  packages/nimble-components/src/wafer-map/modules/prerendering.ts
  packages/nimble-components/src/wafer-map/tests/prerendering.coloring.spec.ts
  packages/nimble-components/src/wafer-map/tests/prerendering.labeling.spec.ts
  packages/nimble-components/src/wafer-map/types.ts
Owners: @rajsite, @jattasNI

Fixed linting issues
  packages/nimble-components/src/wafer-map/index.ts
  packages/nimble-components/src/wafer-map/template.ts
  packages/nimble-components/src/wafer-map/tests/sets.ts
  packages/nimble-components/src/wafer-map/tests/wafer-map.stories.ts
  packages/nimble-components/src/wafer-map/types.ts
Owners: @rajsite, @jattasNI

Change files
  change/@ni-nimble-components-297ab22e-342a-48cb-94f9-a5d8e7fe9bfa.json
Owners: none

created positioning tests
  packages/nimble-components/src/wafer-map/tests/prerendering.coloring.spec.ts
  packages/nimble-components/src/wafer-map/tests/prerendering.labeling.spec.ts
  packages/nimble-components/src/wafer-map/tests/prerendering.positioning.spec.ts
Owners: @rajsite, @jattasNI

Updated the change file with a public email address
  change/@ni-nimble-components-297ab22e-342a-48cb-94f9-a5d8e7fe9bfa.json
Owners: none

Applied PR feedback
  packages/nimble-components/src/wafer-map/tests/wafer-map.stories.ts
  packages/nimble-components/src/wafer-map/types.ts
Owners: @rajsite, @jattasNI

changed interface to string and modified maxChar mechanic
  packages/nimble-components/src/wafer-map/index.ts
  packages/nimble-components/src/wafer-map/modules/data-manager.ts
  packages/nimble-components/src/wafer-map/modules/prerendering.ts
  packages/nimble-components/src/wafer-map/tests/prerendering.coloring.spec.ts
  packages/nimble-components/src/wafer-map/tests/prerendering.labeling.spec.ts
  packages/nimble-components/src/wafer-map/tests/utilities.ts
  packages/nimble-components/src/wafer-map/types.ts
Owners: @rajsite, @jattasNI

formatting
  packages/nimble-components/src/wafer-map/modules/prerendering.ts
  packages/nimble-components/src/wafer-map/tests/prerendering.coloring.spec.ts
Owners: @rajsite, @jattasNI

created manager tests and formatting changes
  packages/nimble-components/src/wafer-map/tests/data-manager.spec.ts
  packages/nimble-components/src/wafer-map/tests/prerendering.labeling.spec.ts
  packages/nimble-components/src/wafer-map/tests/utilities.ts
Owners: @rajsite, @jattasNI

applied pr feedback
  change/@ni-nimble-components-297ab22e-342a-48cb-94f9-a5d8e7fe9bfa.json
  packages/nimble-components/src/wafer-map/index.ts
  packages/nimble-components/src/wafer-map/tests/wafer-map.stories.ts
Owners: @rajsite, @jattasNI

Change files
  change/@ni-nimble-components-8796fad5-9c76-4085-9608-5c76d133f99f.json
Owners: none

spec update
  packages/nimble-components/src/wafer-map/specs/README.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

partially working wafermap
  packages/nimble-components/src/wafer-map/index.ts
  packages/nimble-components/src/wafer-map/modules/rendering.module.ts
  packages/nimble-components/src/wafer-map/styles.ts
  packages/nimble-components/src/wafer-map/template.ts
  packages/nimble-components/src/wafer-map/tests/utilities.ts
  packages/nimble-components/src/wafer-map/tests/wafer-map.spec.ts
Owners: @rajsite, @jattasNI

Styles remains the same
  packages/nimble-components/src/wafer-map/styles.ts
Owners: @rajsite, @jattasNI

Update @ni-nimble-components-8796fad5-9c76-4085-9608-5c76d133f99f.json
  change/@ni-nimble-components-8796fad5-9c76-4085-9608-5c76d133f99f.json
Owners: none

added rendering service
  packages/nimble-components/src/wafer-map/index.ts
  packages/nimble-components/src/wafer-map/modules/rendering.module.ts
  packages/nimble-components/src/wafer-map/tests/wafer-map.spec.ts
Owners: @rajsite, @jattasNI

Make anchor button a separate component
  packages/nimble-components/src/anchor/specs/README.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Add a few arguments for separate components
  packages/nimble-components/src/anchor/specs/README.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Update packages/nimble-components/src/table/specs/table-spec.md
  packages/nimble-components/src/table/specs/table-spec.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Update packages/nimble-components/src/table/specs/table-spec.md
  packages/nimble-components/src/table/specs/table-spec.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Slots detail
  packages/nimble-components/src/anchor/specs/README.md
Owners: @rajsite, @jattasNI, @fredvisser, @atmgrifter00

Make button appearance variant reusable
  packages/nimble-components/src/button/index.ts
  packages/nimble-components/src/button/types.ts
  packages/nimble-components/src/patterns/button/types.ts
Owners: @rajsite, @jattasNI

Split anchor button into separate component
  packages/nimble-components/src/all-components.ts
  packages/nimble-components/src/anchor-button/index.ts
  packages/nimble-components/src/anchor-button/styles.ts
  packages/nimble-components/src/anchor-button/tests/anchor-button-matrix.stories.ts
  packages/nimble-components/src/anchor-button/tests/anchor-button.spec.ts
  packages/nimble-components/src/anchor-button/tests/anchor-button.stories.ts
  packages/nimble-components/src/anchor/index.ts
  packages/nimble-components/src/anchor/styles.ts
  packages/nimble-components/src/anchor/tests/anchor-matrix.stories.ts
  packages/nimble-components/src/anchor/tests/anchor.stories.ts
  packages/nimble-components/src/anchor/tests/types.spec.ts
  packages/nimble-components/src/anchor/types.ts
Owners: @rajsite, @jattasNI

Prettier fix
  packages/nimble-components/src/anchor-button/index.ts
  packages/nimble-components/src/anchor-button/styles.ts
  packages/nimble-components/src/anchor-button/tests/anchor-button-matrix.stories.ts
  packages/nimble-components/src/anchor-button/tests/anchor-button.spec.ts
  packages/nimble-components/src/anchor-button/tests/anchor-button.stories.ts
  packages/nimble-components/src/anchor/tests/anchor-matrix.stories.ts
  packages/nimble-components/src/button/index.ts
  packages/nimble-components/src/button/types.ts
  packages/nimble-components/src/patterns/button/types.ts
Owners: @rajsite, @jattasNI

Update README and change file
  README.md
  change/@ni-nimble-components-d78a3d24-af06-4b8f-847b-a971c425b9bb.json
Owners: @rajsite, @jattasNI, @fredvisser

Fix anchor button matrix tests
  packages/nimble-components/src/anchor-button/tests/anchor-button-matrix.stories.ts
Owners: @rajsite, @jattasNI

.github/CODEOWNERS:

# Copyright (c) 2021 National Instruments

# Each line is a file pattern followed by one or more owners.
# More info: https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners

# These owners will be the default owners for everything in the repo.
* @rajsite @jattasNI @fredvisser

# Owners of specific locations or file patterns in the repo. Locations are relative to the root of the repo.
# Order is important. The last matching pattern has the most precedence.

# Specific packages
/angular-workspace/projects/example-client-app @rajsite @atmgrifter00
/angular-workspace/projects/ni/nimble-angular @rajsite @atmgrifter00
/packages/nimble-blazor @atmgrifter00 @msmithNI
/packages/nimble-components @rajsite @jattasNI
/packages/nimble-tokens @rajsite @jattasNI @fredvisser
/packages/site @rajsite @jattasNI
/packages/xliff-to-json-converter @rajsite @TrevorKarjanis @jattasNI

# Specs (placed after packages to have higher precedence for spec files contained in packages)
specs @rajsite @jattasNI @fredvisser @atmgrifter00

# Change files don't need explicit reviewers
/change
